/# locals: (collections_count:)

%ul.fr-sidemenu__list.sidemenu--monitoring
  - collections_count.each do |name, count|
    - label = t(name, scope: [:monitoring, :antennes, :titles])
    - url = polymorphic_path([:monitoring, :antennes], collection: t(name, scope: 'monitoring.antennes.path'))
    - title = t(name, scope: [:monitoring, :antennes, :instructions])
    = menu_link_with_count(count, url, class: 'item', data: { 'monitoring-collection': name }, title: title) do
      = label
      %span{ 'aria-hidden': true, class: "fr-ml-1v #{t(name, scope: 'monitoring.antennes.icon')}" }
