/# locals: (collections_count:)

%ul.fr-sidemenu__list
  - collections_count.each do |name, count|
    - label = t(name, scope: [:monitoring, :antennes, :titles])
    - url = polymorphic_path([:monitoring, :antennes], collection: t(name, scope: 'monitoring.antennes.path'))
    - title = t(name, scope: [:monitoring, :antennes, :instructions])
    = menu_link_with_count(count, url, class: 'item', title: title) do
      = label
      %span{ class: "fr-ml-1v reminders-icon ri-thunderstorms-line", 'aria-hidden': true }

