<template>
  <div class="ui form" v-bind:class="{ error: showFormErrorMessage }" >
    <div class="ui error message">
      <div class="header">
        <%= I18n.t('diagnoses.step3.error_header') %>
      </div>
      <p>
        <%= I18n.t('diagnoses.step3.error_message') %>
      </p>
    </div>
  </div>
</template>

<script>
    import { mapState, mapGetters, mapMutations } from 'vuex'
    import * as types from './store/mutationTypes'

    export default {
        name: 'form-error-message',
        computed: {
            ...mapState({
                showFormErrorMessage: state => state.step3Store.showFormErrorMessage,
            }),
        }
    }
</script>

<style lang="sass">
</style>