= active_link_to Institution.human_attribute_name(:subjects), subjects_institution_path(@institution), { class: 'item' }
= active_link_to Institution.human_attribute_name(:antennes), antennes_institution_path(@institution), { class: 'item' }
