- meta title: @institution.name
- content_for :header, render('header', institution: @institution, antenne: @antenne)
- content_for :menu, render('menu', institution: @institution)

= render 'annuaire/search', form_url: search_institution_users_path(@institution), init_url: clear_search_institution_users_path(@institution, antenne: @antenne&.id)

= render 'import_buttons'

= render 'table', grouped_subjects: @grouped_subjects, users: @users, antenne: @antenne
