%h1= 'Diagnostic'
%table.ui.selectable.celled.table
  %tbody
    - @questions.each do |question|
      %tr{onClick: '$(this).next("tr"").show()'}
        %td= question.label
      %tr.warning
        %td
          .ui.buttons
            - question.answers.each do |answer|
              = render partial: 'diagnosis/answer', locals: {is_not_first: question.answers.first != answer, answer: answer}