%h1= 'Diagnostic'
%table.ui.selectable.celled.table
  %tbody
    - @questions.each do |question|
      %tr{onClick: '$(this).next("tr"").show()'}
        %td= question.label
      %tr.warning
        %td
          .ui.buttons
            - question.answers.each do |answer|
              - if question.answers.first != answer
                .or{data: {text: 'ou'}}
              = link_to answer.label, answer_diagnosis_index_path(answer), class: 'ui button'
