- meta title: @question

%h1= @question
- assistances_count = @question.assistances.count
.ui.info.message
  %p= t('.assitances_count_found', count: assistances_count)
- @question.assistances.each do |assistance|
  = render partial: 'assistance/assistance', locals: {assistance: assistance, question: @question, visit: @visit}