.actions-default
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  .question
    font-weight: bold
    font-size: 1.2rem
    margin: 0

@media (max-width: $bp-md)
  .actions-default, .take_care
    flex-direction: column
    text-align: center
    >* >*
      margin-top: 1rem

.close-need-box
  background-color: $white
  padding: 1.5rem
  display: flex
  height: 100%
  .icon
    margin: 0.3rem 1rem 0 0
    font-size: 1.8rem
  .content
    display: flex
    flex-direction: column
    justify-content: space-between
  button
    align-self: flex-start
  &:hover
    .icon span
      opacity: 0.8

.row-match
  display: flex
  align-items: center
  padding: 0.5rem 0
  p
    margin: 0
  .col-icon
    font-size: 1.5rem
    text-align: center
  .col-expert-name
    display: flex
    align-items: center
  .col-label
    text-align: right
    @media (max-width: $bp-md)
      margin-top: 1rem

.feedbacks-title
  display: flex
  align-items: center
  h2
    margin: 0
  p
    margin: 0 0 0 1rem
    font-style: italic

.additional-experts
  ul
    margin-bottom: 0
  .fr-search-bar .fr-input
    box-shadow: inset 0 -2px 0 0 $blue
    background-color: $white
  .ri-user-add-fill
    font-size: 2rem
    display: flex
    align-items: center
    margin-right: 1rem

.match-admin-actions
  display: flex
  align-items: center
  justify-content: space-between
  .details--dropdown
    position: relative
    summary
      margin-bottom: 0
      padding: 0 1rem !important
    .details--dropdown__content
      position: absolute
      right: 0
      z-index: 1
      width: 15rem
      background-color: $white
      padding: 1rem
  .status-label
    flex-shrink: 0
    margin-left: auto
  .fr-btns-group
    margin-left: 1.5rem
    display: flex
    align-items: center
  .fr-btns-group--inline
    width: auto
    > li
      display: block
    .fr-btn
      margin-bottom: 0
    .admin-match-actions
      button
        margin-right: 0
        &:not(:last-child)
          margin-bottom: 0.5rem

.infos-transmitted-by
  .title
    margin: 1rem 0 0.3rem 0
    font-weight: bold
  .name
    margin-bottom: 0
  .js-simple-tooltip
    width: fit-content
    font-weight: bold

.match-admin-actions
  display: flex
  align-items: center
  justify-content: space-between
  .details--dropdown
    position: relative
    summary
      margin-bottom: 0
      padding: 0 1rem !important
      color: $blue
    .details--dropdown__content
      position: absolute
      right: 0
      z-index: 1
      width: 15rem
      background-color: $white
      padding: 1rem
