.fr-collapse.team-members
  border-left: 1px solid $grey-light
  padding-left: 0.4rem

.reminders
  .fr-card__title
    font-size: 1.6rem
    margin-bottom: 1rem

#experts-reminders-menu
  a
    display: flex
    justify-content: space-between
  .reminders-icon
    font-size: 1.5rem
    &.ri-heavy-showers-line
      color: $fr-g600
    &.ri-cloudy-line
      color: #006aff
    &.ri-sun-line
      color: #ffd200
