- meta title: @institution.name
- content_for :header, render('header', institution: @institution)
- content_for :menu, render('menu', institution: @institution)

= render 'table', institutions_subjects: @institutions_subjects
