%h1.ui.header= institution.name

.ui.breadcrumb
  = link_to Institution.model_name.human.pluralize, institutions_path, class: 'section'
  %span.ri-arrow-right-s-line.divider
  = link_to institution.name, institution, class: 'section'
  - if local_assigns[:antenne].present?
    %span.ri-arrow-right-s-line.divider
    -# By default, link_to uses the current request path. We only set the name here.
    = link_to antenne, {}, class: 'section'

