%h1= institution.name

%nav.rf-breadcrumb{ "aria-label" => "vous êtes ici :" }
  %button.rf-breadcrumb__button{ :hidden => "" }= t('nav.see-breadcrumb')
  %ol.rf-breadcrumb__list
    %li.rf-breadcrumb__item
      = link_to Institution.model_name.human.pluralize, institutions_path, class: 'section'
    %li.rf-breadcrumb__item
      = link_to institution.name, institution, class: 'section'
    - if local_assigns[:antenne].present?
      %li.rf-breadcrumb__item
      -# By default, link_to uses the current request path. We only set the name here.
