%ul.fr-tabs__list{ 'aria-label': "Menu annuaire", role: "tablist" }
  = render 'menu_link', institution: institution, key: :subjects
  = render 'menu_link', institution: institution, key: :antennes
  = render 'menu_link', institution: institution, key: :users
