.card.block-link
  .card__content
    - if params[:institution].present?
      - path = landing_path(landing, institution: params[:institution], anchor: 'section-breadcrumbs')
    - else
      - path = landing_path(landing, anchor: 'section-breadcrumbs')
    %h3= link_to landing.home_title, path, class: 'click-on-landing'
    = simple_format(landing.home_description, {}, wrapper_tag: 'p')
  .discover_button
    %button.button.small.primary= t('.discover')
