.card
  = link_to landing, onclick: 'click_on_landing()' do
    .card__content
      = simple_format(landing.home_title, {}, wrapper_tag: 'h2')
      = simple_format(landing.home_description, {}, wrapper_tag: 'p')
    .discover_button
      .button.small.primary= t('.discover')
