.logo-list
  = region_image(session[:region])
  = all_institutions_images(session[:region])
.title
  %p= t('.title')
  %p= t('.more_partners_html', path: comment_ca_marche_path(anchor: 'liste-partenaires'))
