%h2.section__title
  Ces chefs d’entreprises utilisent déjà le service. Et vous ?
.cards
  .row
    .card
      .card__content
        %q
          Place des Entreprises est très réactive et pratique ! Ils nous ont permis une mise en relation rapide avec les bonnes personnes quand nous en avions besoin.
          %br
          Nous avons donc pu clôturer notre dossier dans les délais.
      .card__extra
        .article__author
          Clément Francomme
          %br
          CEO de
          %strong UTOCAT
          (10 à 19 salariés)
    .card
      .card__content
        %q
          J’ai découvert qu’il existait des partenaires publics experts de mes besoins d’entreprise. Ils m’ont accompagné sur des questions de ressources humaines, de développement commercial et de réglementation.
          %br
          Ils font un super job.
      .card__extra
        .article__author
          Christophe B.
          %br
          Dirigeant de
          %strong SOS Impact 02
          (1 à 2 salariés)
    .card
      .card__content
        %q
          Grâce à Place des Entreprises, nous avons été contactés par 5 organismes différents prêts à nous conseiller ou nous aider de diverses manières pour le financement de notre nouvel investissement.
          %br
          Un grand merci pour votre réactivité.
      .card__extra
        .article__author
          Thérèse Debarge
          %br
          %strong Emballages Hocq
          (20 à 49 salariés)
  .row
    .card
      .card__content
        %q
          Nous sommes cinq salariés à des postes clés à avoir repris notre société en liquidation judiciaire le 16 janvier 2019. Notre savoir-faire et nos compétences dans le négoce et la maintenance de pièces de moteurs diesel industriel nous ont confortés dans ce choix.
          %br
          Nous avons fait part de notre projet à la conseillère Pôle emploi que nous avions rencontrée : elle a utilisé le service Place des Entreprises pour transmettre rapidement notre demande au référent compétent au sein de la Chambre des Métiers. Il nous a accompagnés et orientés vers les bons interlocuteurs pour monter le dossier et financer notre SARL SCOP. Nous avons pu faire naître l’entreprise dans les temps grâce à leurs conseils et leur réactivité.
      .card__extra
        .article__author
          Peggy Bauduin
          %br
          %strong IRM DIESELPARTS
          (5 à 10 salariés)
