- if item.logos.present?
  %h2.section__subtitle= t('.institutions')
  .logo-list
    = region_image(session[:region_code])
    - item.logos.split(',').each do |logo_slug|
      = institution_image(logo_slug)
