- cache('institutions', expires_in: 1.hour) do
  %p.section__title
    = t('.title')
  .logo-list
    - (Institution.where(show_icon: true) + Antenne.where(show_icon: true)).each do |entity|
      - if entity.logo.attached?
        = image_tag entity.logo
