- cache('landings', expires_in: 1.hour) do
  %h2.section__title= t('.title')
  - landings.each_slice(4) do |landings|
    .row
      = render landings

  %p.text-center.white-on-dark
    = t('.other_questions')
    = link_to t('.contact_us'), featured_landing_path(slug: 'contactez-nous')
