- unless in_iframe?
  %h2.card-section-header= t('you_wish')

.landing-cards-container
  = render partial: 'landings/landing_themes/card', collection: landing_themes, as: :landing_theme, locals: { landing: landing }

%p.text-center.contact-us
  %b= t('.other_questions')
  %b= link_to t('.contact_us'), landing_path({ slug: 'contactez-nous', institution: params[:institution].presence })
