%h2.section__title{ class: "#{'text-left' unless in_iframe?}" }= t('.title')

- if solicitation.institution
  %p.section__subtitle
    = t('.message_with_institution', institution: solicitation.institution.name)

  :javascript
    _paq.push(['trackEvent', 'contact-formulaire-partenaire', "success"]);

- else
  %p.section__subtitle.text-left
    = t('.message_html')

  :javascript
    _paq.push(['trackEvent', 'contact-entreprise', "success"]);
