.panel
  %panel__header
    %h3= t('.title')
  %h5
    = (landing.thank_you_message.presence || t('.default_thank_you_message')).html_safe
  %p
    = t('.place_des_entreprises_team')

:javascript
  _paq.push(['trackEvent', 'contact-entreprise', "success"]);
