- landing_topics = landing.landing_topics.ordered_for_landing
- if landing_topics.present?
  %h2.section__title
    = landing.landing_topic_title.presence || t('.default_landing_topic_title')
  %ul.landing-topics
    = render landing_topics
