- landing_topics = landing.landing_topics.ordered_for_landing
- if landing_topics.present?
  %h2
    = t('.you_wish')
  .landing-topics
    = render landing_topics
  - if landing.message_under_landing_topics.present?
    .ui.text-center.other
      %b= landing.message_under_landing_topics.html_safe
  - else
    .ui.text-center.other
      %b= t('.other_subjects_html')
