- cache('stats-cache', expires_in: 1.hour) do
  .row
    %p.stats__item= t('stats.series.companies_html', count: stats.companies.count)
    %p.stats__item= t('stats.series.needs_html', count: stats.needs.count)
    %p.stats__item= t('stats.series.experts_html', count: stats.experts.count)
