%h2.section__title
  Témoignages
.row
  .card
    .card__content
      %q
        Place des entreprises est très réactive et pratique ! Ils nous ont permis une mise en relation rapide avec les bonnes personnes quand nous en avions besoin.
        %br
        Nous avons donc pu clôturer notre dossier dans les délais.
    .card__extra
      .article__author
        Clément Francomme
        %br
        %strong CEO de UTOCAT
  .card
    .card__content
      %q
        J’ai découvert qu’il existait des partenaires publics experts de mes besoins d’entreprise. Ils m’ont accompagné sur des questions de ressources humaines, de développement commercial et de réglementation.
        %br
        Ils font un super job.
    .card__extra
      .article__author
        Christophe B.
        %br
        %strong Dirigeant de SOS Impact 02
