- cache_if (action_name == 'show'), @landing do
  = render 'show_landing', landing: @landing, solicitation: @solicitation

%section.section.section-grey#stats
  .container.container-medium
    - cache('ministats', expires_in: 1.hour) do
      = render 'stats/ministats'

