- cache @landing do
  = render 'show_landing', landing: @landing

%section.section.section-grey#stats
  .container.container-medium
    - cache('ministats', expires_in: 1.hour) do
      = render 'stats/ministats'

