.card.block-link
  .card__content
    - path = landing_subject_path(landing, landing_subject, institution: params[:institution].presence, anchor: 'section-breadcrumbs')
    %h3= link_to landing_subject.title.html_safe, path, class: 'click-on-landing-option'
    - if landing_subject.description?
      %p= sanitize landing_subject.description.html_safe
  .discover_button
    %span.ri-arrow-right-line
