-# locals: (cooperation:)

  Dynamically build the path for each of the tabs. Paths look like this:
  /conseiller/cooperations/(:cooperation)/:section
%ul.fr-sidemenu__list
  - %i[needs matches reports solicitations].each do |key|
    - if policy(cooperation).send("#{key}?")
      %li.fr-sidemenu__item.item-with-tag
        - url = polymorphic_path([key, :conseiller, cooperation].compact)
        = active_link_to(url, class: 'fr-sidemenu__link', class_active: 'fr-sidemenu__item--active') do
          = t(key, scope: 'conseiller.cooperations.sidemenu')
