%ul.fr-sidemenu__list
  - collections_counts.each do |name, count|
    - path = polymorphic_path([name, :reminders_expert].compact)
    = menu_link_with_count(t(name, scope: 'needs.collections'), count, path)
