.fr-card.fr-card--no-arrow.fr-my-4w
  .fr-card__body
    = render 'expert_contents', expert: expert
    - cache expert do
      .fr-mt-1w{ id: "expert_reminders_notes-#{expert.id}" }
        = render 'expert_reminders_notes', expert: expert
