%ul.fr-sidemenu__list#experts-reminders-menu
  - expert_collections_count.each do |name, count|
    = menu_link_with_count(count, [name, :reminders, :experts], class: 'item', title: t(name, scope: [:reminders, :experts, :scopes, :instruction])) do
      = t(name, scope: 'reminders.experts.scopes.name')
      %span{ class: "fr-ml-1v reminders-icon #{t(name, scope: 'reminders.experts.scopes.icon')}", 'aria-hidden': true }

