- meta title: t('.title')

- content_for :header, render('reminders/header', section: :experts)
- content_for :menu, render('reminders/menu', collections_counts: @collections_counts, experts_count: @experts_count)

= paginate @active_experts
= render 'shared/territory_choice', territories: @territories

.ui.segments.shadow-less.selectable-list
  = render partial: 'expert', collection: @active_experts

= paginate @active_experts
