- meta title: t('.title')

- content_for :header, render('reminders/header', section: :experts, scope: @action)
- content_for :menu, render('reminders/menu', collections_by_reminders_actions_count: @collections_by_reminders_actions_count,
    expert_collections_count: @expert_collections_count,
    collections_by_status_counts: @collections_by_status_counts)

= paginate @active_experts
= render 'shared/territory_choice', territories: @territories

%div
  = render partial: 'expert', collection: @active_experts, locals: { action: @action }

= paginate @active_experts
