- meta title: t('.title')

- content_for :header, render('reminders/header', title: t('.title'))
- content_for :menu, render('reminders/menu', count_needs: @count_needs)

= form_with url: reminders_experts_path, method: :get, skip_enforcing_utf8: true, class: 'ui large form' do
  - options = { include_blank: t('all_choices'), class: 'ui search selection dropdown', onchange: 'this.form.submit();' }
  .two.fields
    .field
      = label_tag(t('activerecord.models.territory.one'))
      = select_tag(:territory,
        options_from_collection_for_select(@territories, :id, :name, params[:territory]),
        options.dup)

.ui.segments.shadow-less.selectable-list
  = render partial: 'expert', collection: @active_experts
