- meta title: @expert.full_name

- content_for :header, render('header', expert: @expert, status: @status)
- content_for :menu, render('menu', expert: @expert, count_expert_needs: @count_expert_needs)

= render 'reminders/needs', received_needs: @needs, action_path: @action_path
