@import template-data-gouv-main

.hero__background
  background-color: #cccccc
  background-position: center
  background-size: cover

.logo-list
  width: 95%
  margin: 0 auto
  text-align: center
  img
    max-height: 50px
    max-width: 100px
    margin: 8px
    vertical-align: middle

// For /stats

label.hero__white-background
  color: white

.hero form
  max-width: 100%

// For /entreprise landing pages

.landing
  background: #e8eaec
  color: #53657d
  h1.hero_title
    font-size: 3.5em
  h3.hero_subtitle
    margin-top: 0.8em
    font-size: 1.2em
    font-weight: normal
  a.button
    margin-top: 2em
    padding: 1em 2em
    background-color: #467AB1
  .landingpanel
    position: relative
    width: 100%
    margin: 0 1em
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
  @media (max-width: 749px)
    h1.hero_title
      font-size: 2.5em
    .row > .landingpane
      margin: 0
    .row > .landingpane + .landingpane
      margin-top: 2em
