@import template-data-gouv-main

.hero__background
  background-color: #cccccc
  background-position: center
  background-size: cover

.logo-list
  width: 95%
  margin: 0 auto
  text-align: center
  img
    max-height: 50px
    max-width: 100px
    margin: 8px
    vertical-align: middle

// For /stats

label.hero__white-background
  color: white

.hero form
  max-width: 100%

// For /entreprise landing pages

.superhero
  padding: 1em 2em
  background: #e8eaec
  color: #53657d
  h1.hero_title
    font-size: 3.5em
  h3.hero_subtitle
    margin-top: 0.8em
    font-size: 1.2em
    font-weight: normal
  a.button
    margin-top: 2em
    padding: 1em 2em
    background-color: #467AB1
>>>>>>> theirs
