

section.section.section-light-grey
  background-color: #FAFBFC
  background-color: var(--lightest-grey)

.section.blank-section
  padding: 2.5rem 0

.emphasis
  margin-top: -6.5rem
  margin-bottom: 3rem
  display: flex
  align-items: center
  &:hover
    border: 2px solid #CC5C00
    border: 2px solid var(--dark-orange)
    padding: calc(var(--space-s) - 1px)
  .emphasis-header
    display: flex
    align-items: center
  h2
    font-size: 1rem
    margin: 0
  span
    margin: 0 0.5rem
  #button-discover
    display: flex
    flex: 1 1 auto
    justify-content: flex-end
    a
      background-color: #fff
      background-color: var(--white)
      position: static
  img
    max-height: 50px
    margin-right: 0.5rem

.card-section-header
  font-size: 1.7rem
  line-height: 1.25em
  font-family: 'Evolventa', 'lato', 'sans-serif'
  font-weight: bold
  margin: 64pt 0 32pt

.section-partners
  .title
    font-size: 1.3rem
