#image-home
  max-width: 40%
  display: flex
  align-items: center
  img
    width: 100%

.home-title
  h1
    font-size: 1.5rem
  p
    font-size: 1.3rem
  a
    padding: 0.5rem
.home-title, .title
  .links
    font-weight: bold
    font-size: 1.3rem
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 2rem
    .button
      padding: 0.7em 2.1em
      display: flex
      align-items: center
      svg, span
        margin-right: 5px

section.section.section-light-grey
  background-color: #FAFBFC
  background-color: var(--lightest-grey)

section.section.blank-section
  padding: 2.5rem 0

section.section#section-thematiques, .section.section-grey#section-exemples
  .landing-cards-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  .card
    border: none
    display: flex
    flex-direction: column
    flex: 0 1 31%
    flex: 0 1 calc(33% - 0.75em)
    padding: 2px
    margin-bottom: 1.5em
    margin-bottom: var(--space-m)
    &:hover
      border: 2px solid #0053b3
      padding: 0
      border: 2px solid var(--blue)
    .card__content
      padding: 14px
    .discover_button
      margin-top: auto
      padding: 0 1em 1em
      font-size: 2rem
      display: flex
      justify-content: flex-end
      color: #0053b3
    a
      text-decoration: none
      display: flex
      flex-direction: column
      height: 100%
      color: #000
      color: var(--black)
      &:hover
        background: transparent
        color: #000
        color: var(--black)
    h3
      font-size: 1.3rem
      margin: 0
  .contact-us
    font-size: 1.2rem
    margin: 2rem 0 0 0

.section.section-grey#section-exemples
  .card
    flex: 0 1 49%
    padding: 2px
    background: #f9fafc
    ul
      //padding-left: 1rem

@media(max-width: 1040px)
  section.section#section-thematiques
    .card
      flex: 0 1 48%
      flex: 0 1 calc(50% - 0.75em)

@media(max-width: 750px)
  section.section#section-thematiques
    .card
      flex: 0 1 100%

.emphasis
  margin-top: -6.5rem
  margin-bottom: 3rem
  display: flex
  align-items: center
  &:hover
    border: 2px solid #CC5C00
    border: 2px solid var(--dark-orange)
    padding: calc(var(--space-s) - 1px)
  .emphasis-header
    display: flex
    align-items: center
  h2
    font-size: 1rem
    margin: 0
  span
    margin: 0 0.5rem
  #button-discover
    display: flex
    flex: 1 1 auto
    justify-content: flex-end
    a
      background-color: #fff
      background-color: var(--white)
      position: static
  img
    max-height: 50px
    margin-right: 0.5rem

.card-section-header
  font-size: 1.7rem
  line-height: 1.25em
  font-family: 'Evolventa', 'lato', 'sans-serif'
  font-weight: bold

@media(max-width: 750px)
  .home-title
    .links
      display: flex
      flex-direction: column
      text-align: center
      a
        &:first-child
          margin-bottom: 1rem
  #image-home
    max-width: 100%
    justify-content: center
    img
      max-height: 10rem
  .emphasis
    flex-direction: column
    align-items: baseline
    margin-top: -6.7rem
    #button-discover
      margin-top: 1rem
      margin-left: 0

.section-partners
  .title
    font-size: 1.3rem
