.landing
  h1
    font-size: 1.8rem
  h2
    font-size: 1.2rem
  .subtitle
    max-width: 50%
    font-size: 1.3rem
  .file-ariane
    font-weight: bold
    .arrow
      font-weight: normal
      margin: 0 1rem
  &.small-padding
    padding: 2rem 0
  .explanations
    .icon
      height: 80px
      width: 100%
      text-align: center
    .col
      flex: 0 0 33.33%
      img
        height: 100%

  @media(max-width: 750px)
    .subtitle
      max-width: 100%


