.landing
  h1
    font-size: 1.8rem
  h2
    font-size: 1.2rem
  .landing-header
    .subtitle
      font-size: 1.3rem
    .image
      text-align: center
      img
        width: 70%
    .heading
      display: flex
      align-items: center
      img
        max-height: 100px
        margin-right: 1rem
    @media(max-width: 750px)
      .title
        max-width: 100%
  .breadcrumbs
    font-weight: bold
    .arrow
      font-weight: normal
      margin: 0 1rem
  &.small-padding
    padding: 2rem 0
  .explanations
    .icon
      height: 80px
      width: 100%
      text-align: center
    .col
      flex: 0 0 33.33%
      img
        height: 100%

  @media(max-width: 750px)
    .subtitle
      max-width: 100%

section#section-formulaire
  .legal-notice
    font-size: 0.7rem
    margin: 1.5rem auto 0 auto
    color: #8393a7
    color: var(--dark-grey)
    img
      padding-bottom: 2px

section#section-formulaire .solicitation-form
  .description
    margin: 0 2rem
  form label
    font-weight: bold
  &:not(.in-iframe)
    margin-top: 3rem
    display: flex
    form
      margin: 0
      flex: 1 0 60%
    @media(max-width: 750px)
      flex-wrap: wrap
      flex-direction: column-reverse
      .description
        margin: 0 0 2rem
        .explanation
          div
            height: auto

#section-thankyou
  .logo-list
    margin-top: 3rem

.notification.contact-delay
  display: flex
  img
    margin-right: 0.5rem
    width: 25px
    height: 25px

.explanation
  margin-top: 1rem
  div
    display: flex
  img
    margin-right: 0.5rem
    width: 25px
    height: 25px

#find-siret
  white-space: nowrap

.container-newsletter
  form
    max-width: 55rem
    .input__group
      justify-content: center
      input#email
        max-width: 27rem
        margin-right: 1rem
      @media(max-width: 750px)
        flex-direction: column
        select
          margin: 1rem 0
        .button
          margin: 0
