.section-partners
  .title
    p
      font-size: 1.2rem
    a
      color: $blue

.landing-banner
  img
    width: 100%

.asterisk
  font-size: 0.8rem
  font-style: italic

.how-it-works
  .icon
    width: 100%
  img
    height: 5rem

.logo-list
  margin: 1rem auto 2rem auto
  text-align: center
  img
    max-height: 70px
    max-width: 180px
    margin: 0.8rem
    vertical-align: middle

.section-pde-partnership-mention
  display: flex
  flex-direction: column
  align-items: center

.landing-header__picture
  text-align: center
  img
    max-width: 80%
