section.section#section-exemples
  h4
    font-size: 1.25rem
    margin-top: 2rem
    margin-bottom: 1rem
    &:first-child
      margin-top: 0
  .landing-topics

    .landing-topic
      &:hover
        border: 2px solid #0053b3
        border: 2px solid var(--blue)
        padding: 13px 100px 13px 13px
      p
        flex: 1 1 auto
      h3
        font-size: 1.1rem
        margin-bottom: 0
      a
        color: var(--black)
        text-decoration: none
      .button
        align-self: baseline
        font-weight: bold
        padding: 0.5rem 1.5rem
      @media (max-width: 1160px)
        padding: 15px
        &:hover
          padding: 13px
      @media (max-width: 750px)
        flex: 0 0 100%
        .button
          width: auto

  .panel__header
    cursor: pointer
    padding-right: 1rem
    h3
      font-weight: normal
      font-size: 1.3rem
    &:after
      display: block

  @media (max-width: 549px)
    .container
      padding: 0 0.5rem
