.block-infos
  %ul.list-unstyled.fr-pl-1v
    - antenne.managers.each do |manager|
      %li
        %span.picto.ri-nurse-fill
        = t('.manager_name', name: manager.full_name)
      %li
        %span.picto.ri-mail-fill
        = mail_to manager.email, manager.email, class: 'break-word'
      %li
        %span.picto.ri-phone-fill
        = link_to(manager.phone_number, "tel:#{manager.phone_number}")
