- if text.present?
  .comment
    .content
      - if author.present?
        %a.author= author
      - if date.present?
        .metadata
          .date= I18n.l(date, format: :short)
      .text= simple_format(text)
      - if actions.present?
        .actions
          = actions
