%h3.ui.header
  = diagnosis.company.name
  .sub.header= diagnosis.facility.commune_name
.small.text
  %i.paperclip.icon
  = link_to "SIRET : #{diagnosis.facility.siret}", company_path(diagnosis.facility.siret)
