- if recipient.received_needs.exists?
  .fr-callout#no-results{ tabindex: "0" }
    %h3.fr-callout__title= t('.title')
- else
  -# If the recipient never received anything, display a welcome message.
  .fr-callout.fr-fi-information-line
    %h3.fr-callout__title= t('.welcome_title')
    - emails = recipient.experts.pluck(:email)
    %p.fr-callout__text
      = t('.welcome_subtitle_emails', emails: emails.to_sentence, count: emails.size)
    %p.fr-callout__text.fr-mt-2v
      = t('.welcome_help_html', mailto_link: mailto_contact_us(t('contact_us').capitalize))
