- if !recipient.received_needs.exists?
  -# If the recipient never received anything, display a welcome message.
  .ui.icon.info.message
    %i.icon.ri-inbox-fill
    .content
      .header= t('.welcome_title')
      - emails = recipient.experts.pluck(:email)
      %p= t('.welcome_subtitle_emails', emails: emails.to_sentence, count: emails.size)
      %p= t('.welcome_help_html', mailto_link: mailto_contact_us(t('contact_us').capitalize))
- else
  .ui.message
    .content.header= t('.title')
