- if recipient.received_needs.exists?
  .ui.message#no-results{ tabindex: "0" }
    %p.content.header= t('.title')
- else
  -# If the recipient never received anything, display a welcome message.
  .ui.icon.info.message
    %span.icon.ri-inbox-fill{ 'aria-hidden': 'true' }
    .content
      %p.header= t('.welcome_title')
      - emails = recipient.experts.pluck(:email)
      %p= t('.welcome_subtitle_emails', emails: emails.to_sentence, count: emails.size)
      %p= t('.welcome_help_html', mailto_link: mailto_contact_us(t('contact_us').capitalize))
