%td.no-border{ colspan: 3 }
  .ui.segment.shadow-less
    .ui.top.attached.label
      .span
        %i.calendar.icon
        = I18n.l(feedback.created_at, format: :short)
        %i.user.icon
        = feedback.match.person
    %p.small.text= simple_format(feedback.description)
    - if can_delete
      %a.ui.bottom.right.attached.label{ href: feedback_path(feedback,
       params.permit(:access_token)),
       data: { confirm: 'Supprimer?', method: :delete } }
        = t('delete')
        %i.delete.icon
