%td.no-border{ colspan: 3 }
  .ui.segment.shadow-less
    .ui.top.attached.label
      %i.calendar.icon
      = I18n.l(feedback.created_at, format: :short)
    %p.small.text= feedback.description
    - if can_delete
      %a.ui.bottom.right.attached.label{ href: feedback_path(feedback,
       params.permit(:access_token)),
       data: { confirm: 'Supprimer?', method: :delete } }
        = t('delete')
        %i.delete.icon
