-# Dynamically build the path for each of the collections. Paths look like this:
  /besoins(/antenne)/:collection_name
%ul.fr-sidemenu__list
  - collections_counts.each do |name, count|
    - path = polymorphic_path([name, :needs].compact)
    - p "name :  #{name} ==============="
    - options = ([:quo_active, :taking_care].include?(name) ? {} : { class: 'grey' })
    = menu_link_with_count(t(name, scope: 'needs.collections'), count, path, options)
