:ruby
  return unless current_user.is_admin?

:ruby
  additional_skills = ExpertSkill.additional_for(need)
  return if additional_skills.blank?

:ruby
  more_matches_id = "more-matches-#{need.id}"
  checkbox_options = { type: 'checkbox', id: more_matches_id }
  checkbox_options["checked"] = "checked" if local_assigns[:opened]
%input.more-matches{ checkbox_options }
.ui.secondary.segment.clearing
  %label.ui.basic.small.button{ for: more_matches_id }= t('.see_other_experts')

- additional_skills.each do |expert_skill|
  = render 'more_matches_match_need_expert', need: need, expert_skill: expert_skill, highlighted_expert: highlighted_expert
