.ui.header
  .sub.header= diagnosed_need.subject.theme
  = diagnosed_need.subject
  .sub.header= models_human_description(diagnosed_need.matches)
  .match-status
    = status_label(diagnosed_need.status)
