.ui.top.large.secondary.pointing.menu
  = active_link_to(t('needs.needs_tabs.waiting_for_response'), index_antenne_needs_path, class: 'item')
  = active_link_to(t('needs.needs_tabs.supported'), taking_care_antenne_needs_path, class: 'item')
