.ui.top.large.secondary.pointing.menu
  = active_link_to(t('needs.needs_archived_tabs.done'), archives_antenne_needs_path, class: 'item')
  = active_link_to(t('needs.needs_archived_tabs.rejected'), archives_antenne_rejected_needs_path, class: 'item')
  = active_link_to(t('needs.needs_archived_tabs.failed'), archives_antenne_failed_needs_path, class: 'item')
