.ui.top.large.secondary.pointing.menu
  = active_link_to(t('.waiting_for_response'), needs_path, active: [needs: :index], class: 'item')
  = active_link_to(t('.supported'), taking_care_needs_path, class: 'item')
