- cache need do
  .rf-mb-2w
    .rf-card__c-container.rf-card__c-container--need
      .rf-card.rf-card--horizontal
        .rf-card__body
          %p.rf-card__detail
            = I18n.l(need.display_date, format: :long)
          %h4.rf-card__title
            = link_to need.subject, need_path(need), class: 'rf-card__link'
          .rf-card__desc
            .rf-text--lg= need.company.name
            = need.facility.commune_name
