- cache need do
  .fr-mb-2w
    .fr-card__c-container.fr-card__c-container--need
      .fr-card.fr-card--horizontal
        .fr-card__body
          %p.fr-card__detail
            = I18n.l(need.display_date, format: :long)
          %h4.fr-card__title
            = link_to need.subject, need_path(need), class: 'fr-card__link'
          .fr-card__desc
            .fr-text--lg= need.company.name
            = need.facility.commune_name
