- diagnoses = Diagnosis.where(needs: received_needs).distinct.order(happened_on: :desc)
= paginate received_needs

.fr-mb-6w
  = render partial: 'needs/need', collection: received_needs, cached: true

= paginate received_needs
