- diagnoses = Diagnosis.where(needs: received_needs).distinct.order(happened_on: :desc)
= paginate received_needs

.ui.segments.shadow-less.selectable-list
  = render partial: 'diagnoses/diagnosis', collection: diagnoses, cached: true

= paginate received_needs
