- if need.starred?
  = button_to t('.unstar_need'), unstar_need_path(need), { method: :post, class: 'fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-star-fill' }
- else
  = button_to t('.star_need'), star_need_path(need), { method: :post, class: 'fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-star-line' }
