var noMatch = document.getElementById('no-match')
if (noMatch != null) { noMatch.remove() }

- match_html = render @match

var expertsBlock = document.getElementById('all-experts');
if (typeof expertsBlock !== 'undefined' && expertsBlock != null) { expertsBlock.insertAdjacentHTML('beforeend', "#{j match_html}"); }
