- meta title: t('.title')
- content_for :header, render('header', recipient: @recipient, collection_name: @collection_name)
- content_for :menu, render('menu', recipient: @recipient, collections_counts: @inbox_collections_counts, user: @user, antenne: @antenne)
- content_for :search, render('search')

- if @needs.empty?
  = render 'empty_placeholder', recipient: @recipient
- else
  = render 'received_needs', received_needs: @needs

- if @collection_name == 'search'
  :javascript
    window.addEventListener('turbolinks:load', function() {
    const firstCardLink = document.getElementsByClassName("fr-card__link")[0]
    if (firstCardLink) {
      firstCardLink.focus();
    } else {
      document.getElementById("no-results").focus()
    }
    })
