- meta title: t('.title')

%h1.ui.header
  = t('.title')
  .sub.header= t('.needs_for_you')

- @experts.each do |expert|
  -# Display info about Expert: the team, the old diagnoses, etc.
  - diagnoses = expert.received_diagnoses.archived(false).distinct.order(happened_on: :desc, created_at: :desc)
  = render partial: 'diagnoses_list', locals: { diagnoses: diagnoses, expert: expert, title: expert.full_name }
