- meta title: t('.title', company: @diagnosis.company.name)

= render 'visit_summary', diagnosis: @diagnosis

= render @diagnosis.needs.ordered_for_interview, current_roles: @current_roles, highlighted_experts: @highlighted_experts
