.fr-pt-5v
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    %p
      = link_to new_password_path(resource_name) do
        = t('devise.forgot_password')
