<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>Page de test de formulaire</title>
 <style>
   body { background: papayawhip; }
	 h1 { margin: 0.8em ;text-align: center; font-family: sans-serif; }
   .container { max-width: 1000px; margin: 0 auto; }
   form { display: flex; margin-block: 1em; gap: .25em; }
   input[type=text] { width: stretch }
   footer { height: 400px }
 </style>
</head>
<body>
  <header><h1>🙂</h1></header>
  <div>
    <div class="container">
      <form id='form'>
        <input type="text" id="textinput"/>
        <input type="submit" value="Go"/>
      </form>
      <iframe id='iframe' width="100%" style="border: none; background:peachpuff;"></iframe>
    </div>
  </div>
  <footer><h1>🙃</h1></footer>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iframe-resizer@4.3.2/js/iframeResizer.min.js"></script>
  <script type="text/javascript">
    let base_url = "https://localhost:3000/"
    let default_path = 'aide-entreprise/portail-des-travailleurs-independants-handicapes'
    window.onload=function(){
      document.getElementById('textinput').value = default_path
      document.getElementById('iframe').src = base_url + default_path
      document.getElementById('form').addEventListener("submit", function(e) {
        e.preventDefault()
        document.getElementById('iframe').src = base_url + document.getElementById('textinput').value
      });

      iFrameResize({ log: true }, "#iframe")
    }
  </script>
</body>
</html>

