.ui.top.large.secondary.pointing.menu
  = active_link_to(t('.processed'), index_antenne_diagnoses_path, class: 'item')
  = active_link_to(t('.archived'), archives_antenne_diagnoses_path, class: 'item')
