- can_archive = diagnosis.advisor == current_user
- if can_archive
  - if !diagnosis.is_archived
    %p
      %object
        - confirm_delete_message = t('diagnoses.index.confirm_archive', company_name: diagnosis.company.name)
        = link_to archive_diagnosis_path(diagnosis), method: :post, data: { confirm: confirm_delete_message } do
          .ui.tiny.button.text
            %span.ri-inbox-archive-fill
            = t('archivable.archive')
  - if diagnosis.is_archived
    %p
      %object
        = link_to unarchive_diagnosis_path(diagnosis), method: :post do
          .ui.tiny.button.text
            %span.ri-inbox-unarchive-fill
            = t('archivable.unarchive')
