- can_archive = diagnosis.advisor == current_user
- if can_archive
  .fr-p-1w
    .justify-around
      - if !diagnosis.is_archived
        - confirm_delete_message = t('diagnoses.index.confirm_archive', company_name: diagnosis.company.name)
        = link_to archive_diagnosis_path(diagnosis), method: :post, data: { confirm: confirm_delete_message }, class: 'fr-btn fr-btn--secondary' do
          %span.ri-inbox-archive-fill.fr-mr-1w{ 'aria-hidden': 'true' }
          = t('archivable.archive')
      - if diagnosis.is_archived
        = link_to unarchive_diagnosis_path(diagnosis), method: :post, class: 'fr-btn fr-btn--secondary' do
          %span.ri-inbox-unarchive-fill.fr-mr-1w{ 'aria-hidden': 'true' }
          = t('archivable.unarchive')
