.ui.top.large.secondary.pointing.menu
  = active_link_to(t('.in_progress'), diagnoses_path, active: [diagnoses: :index], class: 'item')
  = active_link_to(t('.processed'), processed_diagnoses_path, class: 'item')
  = active_link_to(t('.archived'), archives_diagnoses_path, class: 'item')
