.ui.segments.shadow-less.selectable-list
  = render partial: 'diagnoses/diagnosis', collection: diagnoses, locals: { needs_of_interest: local_assigns[:needs_of_interest],
    highlighted_expert: local_assigns[:highlighted_expert] }, cached: true
