.rf-grid-row.rf-grid-row--beetween
  .rf-col
    %h1= t('diagnoses.index.title')
  .rf-col.text-right
    = link_to t('.create_new_diagnosis'), new_diagnosis_path, class: 'rf-btn rf-btn--lg btn-green new-diagnosis'

= render 'shared/breadcrumb', pages: [{ title: recipient.to_s, path: diagnoses_path }], current_page: t(collection_name, scope: 'diagnoses.collections')
