.ui.segments.shadow-less.selectable-list
  .ui.segment.secondary
    .ui.header
      = title
      .sub.header= diagnoses.human_count
  - diagnoses.each do |diagnosis|
    = render partial: 'diagnoses/diagnosis', locals: { diagnosis: diagnosis, expert: expert }
