- meta title: t('.title')
- content_for :header, render('header', recipient: current_user.antenne, collection_name: @collection_name)
- content_for :menu, render('antenne_menu', recipient: current_user.antenne, collections_by_reminders_actions_count: @collections_by_reminders_actions_count, user: @user, antenne: @antenne)

.fr-container
  .ui.aligned.grid.padded
    .aligned.eight.wide.column
      %p= page_entries_info @diagnoses

  = paginate @diagnoses

  .ui.segments.shadow-less.selectable-list
    = render partial: 'diagnosis', collection: @diagnoses, cached: true

  = paginate @diagnoses
