- meta title: t('.title')
- content_for :header, render('header', recipient: current_user, collection_name: @collection_name)
- content_for :menu, render('menu', recipient: current_user, collections_counts: @collections_counts, antenne: current_user.antenne)

.rf-container

  .ui.aligned.grid.padded
    .aligned.eight.wide.column
      %p= page_entries_info @diagnoses

  = paginate @diagnoses

  .ui.segments.shadow-less.selectable-list
    = render partial: 'diagnosis', collection: @diagnoses, cached: true

  = paginate @diagnoses
