- meta title: t('.complementary_data')

%p= 'Changer les locales après l\'intégration dans le processus global.'

%h1= t('.complementary_data')

%h2= t('.your_contact_in_the_company')
-#%p= t('.info_about_who_you_saw_during_your_visit', company_name: @visit.company_name)


= javascript_pack_tag 'step-3/step3App'