.section#solicitation-form
  .container
    %h3.section__title= t('.title')
  %h5.section__subtitle
    = t('.description')

:javascript
  _paq.push(['trackEvent', 'contact-entreprise-partenaire', "success"]);
