<template>

  <div class="ui form field input left icon">
    <i class="calendar icon"></i>
    <input type="date"
    v-bind:class="{ visible: showPopup }"
    @click="showPopup = !showPopup"
    v-bind:value="value"
    v-on:input="updateValue($event.target.value)">

    <div class="ui popup bottom left"
      v-bind:class="{ visible: false, hidden: true }"
      style="position: absolute; top: 100%; left: 0px; width: auto; padding: 0px">

      <table class="ui very compact fixed table center aligned"
      style="margin: 0px; border:none; border-radius:inherit">
        <thead>
          <tr>
            <th colspan="1" class="smallest center aligned">
             <i class="chevron left icon" @click=""
             v-bind:class="{ 'disabled' : false }"></i>
            </th>
            <th colspan="5" @click="" class="smaller center aligned">
              {{ currMonthName }} {{ currYear }}
            </th>
            <th colspan="1" class="smallest center aligned">
              <i class="chevron right icon" @click=""
              v-bind:class="{ 'disabled' : false }"></i>
            </th>
          </tr>
          <tr>
            <th class="smallest center aligned">L</th>
            <th class="smallest center aligned">M</th>
            <th class="smallest center aligned">M</th>
            <th class="smallest center aligned">J</th>
            <th class="smallest center aligned">V</th>
            <th class="smallest center aligned">S</th>
            <th class="smallest center aligned">D</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="weekDays in currentMonthDays">
            <td v-for="day in weekDays"
             v-bind:class="{ 'disabled' : !day.inCurrentMonth,
              'selectedDay' : day.selected, 'notSelectedDay': !day.selected}"
              @click="clickedOnDay(day)"
               v-on:mouseenter="clickedOnDay(day)">{{day.day}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
    import DateUtils from './dateUtils'

    export default {
        name: 'date-input',
        props: [
            'value'
        ],
        data () {
          return {
            showPopup: false,
            currMonthName: 'Juillet',
            currYear: '2017',
            currentMonthDays:[]
          }
        },
        computed: {
        },
        methods: {
            updateValue: function(value) {
                this.$emit('input', value)
            },
            clickedOnDay: function(day) {
                this.dateUtils.selectDay(day)
                this.currentMonthDays = this.dateUtils.daysOfMonth
                this.$emit('input', this.dateUtils.dateString)
            }
        },
        mounted () {
            this.dateUtils = new DateUtils(new Date())
            this.currentMonthDays = this.dateUtils.daysOfMonth
        }
    }
</script>


<style lang="sass">
  input
    &::-webkit-calendar-picker-indicator
      display: none
  input[type="date"]::-webkit-input-placeholder
    visibility: hidden !important

  .ui[class*="very compact"].table th.smaller
    padding: 0.6em
    font-weight: 800
    font-size: 1.1em
    border: none
  .ui[class*="very compact"].table th.smallest
    padding: 0.3em
    font-weight: 600
    border: none

  td.selectedDay
    color: #85B7D9
    border: 1px solid #85B7D9 !important
  td.notSelectedDay
    border-top: 1px solid rgba(34, 36, 38, 0.1) !important
    border-bottom: 1px solid rgba(255,255,255,0) !important
</style>