%h1.fr-h2= title

= render 'shared/breadcrumb', pages: [{ title: title, path: quo_active_manager_needs_path(antenne_id: params[:antenne_id]) }], current_page: t(collection_name, scope: 'needs.collections')
