- title = @recipient.is_a?(Antenne) ? t('.one_antenne_title', name: @recipient.to_s) : t('.many_antennes_title')
- meta title: title
- content_for :header, render('header', collection_name: @collection_name, title: title)
- content_for :menu, render('menu', collections_counts: @inbox_collections_counts, antenne: @antenne)
- content_for :search, render('search')

- if @needs.empty?
  .ui.message
    .content.header= t('.no_needs')
- else
  = render 'needs/received_needs', received_needs: @needs
