%ul.rf-sidemenu__list
  %li.rf-sidemenu__item
    = active_link_to t('.inserts'), inserts_partner_tools_path, active: [['partner_tools'], ['inserts']], class: 'rf-sidemenu__link', class_active: 'rf-sidemenu__item--active'
