%ul.fr-sidemenu__list
  %li.fr-sidemenu__item
    = active_link_to t('.inserts'), inserts_partner_tools_path, active: [['partner_tools'], ['inserts']],
      class: 'fr-sidemenu__link', class_active: 'fr-sidemenu__item--active'
