- meta title: t('.meta_title'), description: t('.meta_description')
.fr-container.fr-py-7w.fr-mt-3v
  %h1.fr-h2= t('.title')
  %p.fr-text--lg= t('.subtitle')

= render 'pages/breadcrumbs', title: t('.title')

.fr-container--fluid.fr-py-7w#liste-partenaires
  .fr-container.sitemap
    - @site_map.each do |elements|
      = raw site_map_html(elements)
