%section.section.section-white.section__title
  .container
    %h1 Nous vous confirmons que vous êtes bien désinscrit de notre liste de diffusion

  = link_to t('breadcrumbs_helper.home_link.home'), root_path, class: 'button blue bold'
