-# locals: (landing:, extra_classes: [])

- return if landing.information_banner.blank?

.fr-notice.fr-notice--warning.information-banner{ class: local_assigns[:extra_classes] }
  .fr-container
    .fr-notice__body
      %span.fr-notice__title
      .fr-notice__desc= sanitize(landing.information_banner)
