/-# locals (landing:, landing_theme:, landing_subject:)
.logo-list
  - if defined? landing
    = landing_and_theme_logos(landing)
  - if defined? landing_theme
    = landing_and_theme_logos(landing_theme)
  - if defined? landing_subject
    = landing_subject_logos(landing_subject)
