.fr-container--fluid.light-blue-bg.fr-py-2w.section-pde-partnership-mention
  .fr-container.text-center
    .iframe-pde-logo
      = image_tag 'logo-PDE.svg', alt: t('logos.pde'), 'aria-hidden': 'true'
    %p= t('application.pde_partnership_mention')
