%section.section.section-grey.section-pde-partnership-mention
  .container.text-center
    .iframe-pde-logo
      = image_tag 'logo-PDE.svg', alt: t('logos.pde')
    %p= t('application.pde_partnership_mention')
