%section.section.section-grey.section-pde-partnership-mention
  .container.text-center
    = link_to canonical_base_url, class: 'iframe-pde-logo', title: t('application.navbar.root_path_title') do
      = image_tag 'logo-PDE.svg', alt: t('logos.pde')
    %p= t('application.pde_partnership_mention_html', url: canonical_base_url)