.fr-container--fluid.light-blue-bg.fr-py-4w.section-pde-partnership-mention
  = image_tag 'logo-ce.png', alt: t('navbar.service_alt'), class: 'ce-logo', width: '320px'
  %p= t('application.pde_partnership_mention')
