.fr-container-fluid.section-grey.fr-py-4w.landing-subject-section.landing
  .fr-container
    - landing_themes.each do |theme|
      %h2.fr-h3.card-section-header= theme.title || t('you_wish')
      .fr-grid-row.fr-grid-row--gutters.landing-subject-cards-container.fr-mb-3w
        = render partial: 'landings/landing_subjects/card', collection: theme.landing_subjects.not_archived.order(:position), as: :landing_subject, locals: { landing: landing, query_params: query_params }

    - unless in_iframe?
      .text-center
        %b= t('landings.landing_themes.show.back_to_other_subjects_html').html_safe
