- title = t('.title')
- meta title: title

.fr-container-fluid.light-blue-bg.fr-py-8w.text-center
  .fr-container.fr-py-4w
    %h1.fr-h3= title
  .fr-container
    %p= t('.sentence_1')
    %p= t('.sentence_2')
  .fr-container--fluid.light-blue-bg.fr-py-4w.section-pde-partnership-mention
    = image_tag 'logo-ce.png', alt: t('navbar.service_alt'), class: 'ce-logo', width: '320px'
