- title = t('.title')
- meta title: title

.fr-container-fluid.light-blue-bg.fr-py-8w.text-center
  .fr-container.fr-py-4w
    %h1.fr-h3= title
  .fr-container
    %p= t('.sentence_1')
    %p= t('.sentence_2')
  .fr-container--fluid.light-blue-bg.fr-py-4w.section-pde-partnership-mention
    .ce-text-logo
      %p.fr-header__service-title
        %span.red>= t('app_name_subdomain').sp_titleize_url
        = "." + t('app_name_domain').sp_titleize_url
