- meta title: t('.title')

- content_for :header, render('header', title: t('.title'))
- content_for :menu, render('menu')

.fr-container
  .fr-table.fr-table--bordered
    %table
      %tbody
        - @badges.find_each do |badge|
          %tr
            %td= badge_label(badge)
            %td
              = link_to edit_badge_path(badge), title: t('.edit') do
                %span.ri-pencil-line
            %td
              = link_to badge_path(badge), title: t('.delete'), method: :delete, data: { confirm: t('.confirm_delete') } do
                %span.ri-delete-bin-line
