-# locals: (filter_params:)

.fr-container--fluid.fr-mb-3w
  .fr-grid-row.fr-grid-row--gutters
    = render 'tab', name: t('stats.team.public'), path: public_team_index_path(params: filter_params), image: 'pictos-dsfr/internet.svg'
    = render 'tab', name: t('stats.team.needs'), path: needs_team_index_path(params: filter_params), image: 'pictos-dsfr/document.svg'
    = render 'tab', name: t('stats.team.matches'), path: matches_team_index_path(params: filter_params), image: 'pictos-dsfr/city-hall.svg'
    = render 'tab', name: t('stats.team.acquisition'), path: acquisition_team_index_path(params: filter_params), image: 'pictos-dsfr/data-visualization.svg'
