version: 2

defaults: &defaults
  working_directory: ~/place-des-entreprises
  docker:
    - image: circleci/ruby:2.7.4-node-browsers
      environment:
        SELENIUM_DRIVER_URL: http://localhost:4444/wd/hub
    - image: circleci/postgres:11.5
      environment:
        POSTGRES_USER: place_des_entreprises_test
        POSTGRES_PASSWORD: place_des_entreprises_test
        POSTGRES_DB: place_des_entreprises_test
    - image: selenium/standalone-chrome:87.0
bundle_restore_cache: &bundle_restore_cache
  restore_cache:
    key: v1-bundle-install-{{ arch }}-{{ checksum "Gemfile.lock" }}

yarn_restore_cache: &yarn_restore_cache
  restore_cache:
    key: v1-yarn-cache-{{ arch }}-{{ checksum "yarn.lock" }}

bundle_save_cache: &bundle_save_cache
  save_cache:
    key: v1-bundle-install-{{ arch }}-{{ checksum "Gemfile.lock" }}
    paths:
      - ~/vendor/bundle

yarn_save_cache: &yarn_save_cache
  save_cache:
    key: v1-yarn-cache-{{ arch }}-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn

bundle_install: &bundle_install
  run:
    name: Install Ruby Dependencies
    command: bundle install

yarn_install: &yarn_install
  run:
    name: Install Yarn Dependencies
    command: yarn install --ignore-engines

precompile_assets: &precompile_assets
  run:
    name: Precompile assets
    command: bundle exec rails webpacker:compile

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - *bundle_restore_cache
      - *yarn_restore_cache
      - *bundle_install
      - *yarn_install
      - *bundle_save_cache
      - *yarn_save_cache
  test:
    <<: *defaults
    parallelism: 1
    steps:
      - checkout
      - *bundle_restore_cache
      - *yarn_restore_cache
      - *bundle_install
      - *yarn_install
      - run:
          environment:
            DATABASE_URL: "postgres://place_des_entreprises_test@localhost:5432/place_des_entreprises_test"
          name: Create DB
          command: bundle exec rake db:create db:schema:load db:migrate RAILS_ENV=test
      # - *precompile_assets
      - run:
          environment:
            DATABASE_URL: "postgres://place_des_entreprises_test@localhost:5432/place_des_entreprises_test"
            APPLICATION_EMAIL: "contact@mailrandom.fr"
            TEST_ERROR_RENDERING: "false"
          name: Run Tests, Split by Timings
          command: |
            bundle exec rspec --profile 10 \
              --format RspecJunitFormatter \
              --out ~/test-results/rspec/results.xml \
              --format progress \
              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: tmp/screenshots
  lint:
    <<: *defaults
    steps:
      - checkout
      - *bundle_restore_cache
      - *yarn_restore_cache
      - *bundle_install
      - *yarn_install
      - run:
          name: Run lint tasks
          command: bundle exec rake lint
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
