<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de <strong>Christine Perez-Porcher</strong>, correspondante TPE-PME à la Banque
    de France de l’Hérault. Avec elle, nous avons évoqué comment faire face aux premières faiblesses de trésorerie. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%=
      image_tag "temoignages_experts/banque_de_france.jpeg", class: "fr-responsive-img", alt: "Illustration"
    %>
    <p>
      <strong>« J’écoute les chefs d’entreprise pour m’approcher au plus près de leurs problèmes de trésorerie et les
        orienter au mieux ».</strong>
    </p>
    <p>Christine Perez-Porcher, correspondante TPE-PME à la Banque de France de l’Hérault</p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un chef d’entreprise peut-il se tourner vers le correspondant TPE-PME de
      la Banque de France ?</h2>
    <p>Nous accompagnons tout type d’entreprise : TPE, PME, micro-entrepreneurs, agriculteurs, professions libérales
      concernant les problématiques liées aux difficultés financières et aux recherches de financement.</p>
    <p>
      Dès <strong>les premières inquiétudes sur sa trésorerie</strong>, le chef d’entreprise peut se tourner vers le
      correspondant TPE-PME de son département. Pour les micro-entrepreneurs qui se lancent, je les invite à se penser
      comme « un capitaine de bateau » qui doit voir loin, et anticiper au maximum, avec
      <strong>un plan de trésorerie</strong> intégrant tous les encaissements et les décaissements prévus. Même à partir
      d’un simple fichier Excel, il peut identifier à partir de quel moment la trésorerie viendra à manquer. Des modèles
      de plan de trésorerie sont accessibles sur <a href="https://mesquestionsdentrepreneur.fr" target="_blank" title="mesquestionsdentrepreneur.fr - Nouvelle fenêtre" rel="noopener noreferrer">mesquestionsdentrepreneur.fr</a> par exemple. </p>
    <p>
      Je repense à un jeune dirigeant qui ne s’était pas informé sur ses obligations légales avant de se lancer
      (cotisations Urssaf, impôts, seuils déclaratifs). <strong>Les formations de gestion</strong>, devenues
      facultatives, permettent de mettre en place les bonnes pratiques dès le début de son activité pour ne pas se faire
      surprendre. </p>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>Lorsque le chef d’entreprise se questionne sur sa trésorerie, le correspondant TPE-PME de la Banque de France
      peut :</p>
    <ul>
      <li>
        <strong>Offrir une écoute et un regard extérieur sur la situation de l’entreprise</strong>, en rappelant
        comment minimiser les risques : éviter de dépendre d’un seul client, diversifier sa clientèle entre le public et
        le privé par exemple, maîtriser ses achats grâce à des inventaires réguliers, réduire les coûts inutiles ou
        encore anticiper les coûts de l’énergie qui peuvent déraper.
      </li>
      <li>
        <strong>Inciter à négocier un découvert avec sa banque par anticipation,</strong> avant même de connaitre des
        difficultés : c’est un réflexe à avoir très rapidement, dès les premières inquiétudes. Par exemple, si un client
        important tarde à payer, mieux vaut anticiper l’impact sur sa trésorerie tout de suite. Je peux expliquer
        d’autres modalités de financement à court terme comme <strong>l’affacturage</strong> ou le
        <strong>financement sur stock</strong> pour les entreprises ayant du matériel.
      </li>
      <li>
        <strong>Évaluer la pertinence d’une médiation du crédit avec le chef d’entreprise </strong>: s’il y a un refus
        de la banque et que la situation de l’entreprise n’est pas encore trop dégradée (hors cessation de paiement), je
        peux orienter le chef d’entreprise vers mes collègues de la médiation du crédit, qui feront une analyse
        approfondie du dossier. Ce premier échange permet de gagner du temps pour éviter toute démarche vaine.
      </li>
      <li>
        <strong>Détecter et soulager la détresse psychologique</strong> : lors de mes échanges, certains chefs
        d’entreprises me partagent spontanément une grave détresse psychologique. Pour d’autres, elle peut apparaître au
        cours de l’entretien lorsqu’ils disent ne plus dormir depuis plusieurs semaines, évoquent des problèmes de
        santé. Je les invite à prendre contact avec
        <a href="https://www.apesa-france.com/" target="_blank" title="l’association APESA - www.apesa-france.com - Nouvelle fenêtre" rel="noopener noreferrer">l’association
          APESA</a> pour bénéficier d’un <strong>soutien psychologique rapide, gratuit et confidentiel</strong>.
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>Oui, je pense à l’exemple de cette cheffe d’entreprise qui connaissait des difficultés de trésorerie liées aux
      dettes fiscales et sociales. Bien que sa gestion était très saine auparavant, le secteur dans lequel évoluait son
      entreprise était lui-même sinistré.</p>
    <p>
      L’analyse de la problématique avec la dirigeante a abouti à <strong>une triple solution</strong> : d’une part un
      <strong>financement par microcrédit</strong> a été mis en place avec l’Adie, d’autre part un
      <strong>rééchelonnement des dettes</strong> fiscales et sociales a été obtenu auprès de la Direction
      Départementale des Finances Publiques et de l'Urssaf. </p>
    <p>
      Enfin, il est apparu que la dirigeante, très isolée, avait besoin d’un <strong>soutien psychologique</strong>,
      nous lui avons donc conseillé de se rapprocher de l'association APESA. Ces différentes solutions ont permis à
      l’entreprise de rebondir, et la dirigeante nous a vivement remerciés ! </p>
  </div>
</div>
