<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de <strong>Bruno Munoz</strong>, expert handicap en entreprise au Cap emploi de
    Drôme Ardèche. Avec lui, nous avons évoqué la manière dont il accompagne les entreprises dans leur projet de
    recrutement de personnes en situation de handicap. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/cap_emploi_handicap.jpeg", class: "fr-responsive-img", alt: "" %>
    <p>« Selon le film qu’on a vu ou l’expérience qu’on a vécue, on a telle ou telle représentation d’un handicap. Mon
      métier, c’est d’aider les employeurs à lever ces barrières de la pensée et à s’ouvrir concrètement dans
      l’action ! »</p>
    <p>Bruno Munoz, coordinateur équipe entreprise au Cap emploi de Drôme Ardèche.</p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un employeur peut-il se tourner vers vous pour son projet de
      recrutement ?</h2>
    <p>Les employeurs peuvent nous appeler pour :</p>
    <ul>
      <li>
        s’informer sur <strong>l’obligation légale</strong> d’emploi des personnes en situation de handicap (20 salariés
        et plus) et son évolution, notamment l’application aux établissements locaux d’entités nationales ;
      </li>
      <li>
        être accompagnés dans l’ensemble du <strong>processus de recrutement</strong> (recherche de candidats, analyse
        de l’environnement de travail, solutions de compensation sur le poste, montage des dossiers) ;
      </li>
      <li>
        <strong>accompagner à l’aménagement d’un poste</strong> lorsqu’un(e) salarié(e) est reconnu(e) en situation de
        handicap ou a déposé une demande à la MDPH (changement de poste, aggravation de son handicap) ;
      </li>
      <li>sensibiliser les équipes en entreprise.</li>
    </ul>
    <p>Les motivations sont diverses, elles reposent principalement sur :</p>
    <ul>
      <li>le souhait de la personne dirigeante qui envisage son entreprise comme un lieu inclusif ;</li>
      <li>des difficultés de recrutement sur un poste qui poussent un chef d’entreprise à s'ouvrir à d'autres publics
        que ses réflexes classiques (métiers en tension dans l’industrie, la restauration…) ;
      </li>
      <li>le respect de l’obligation légale pour mettre fin aux pénalités financières.</li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>Nous intervenons selon le besoin exprimé par l’employeur, notamment pour :</p>
    <ul>
      <li>
        <strong>se poser les bonnes questions afin d’identifier le bon profil</strong> : après la sélection de candidats
        dont le profil correspond aux attendus, nous étudions l’environnement de travail dans sa globalité (le poste et
        ses contraintes, accessibilité, bruit, température, travail en équipe…), le mode de recrutement et les solutions
        de compensation possibles au besoin. Par exemple, selon la personne, une période d’immersion sur le poste
        envisagé sera parfois préférable à un simple entretien de recrutement. Nous préconisons également la réception
        des candidats plutôt que de se fier aux écrits d’un CV et d’une lettre de motivation ;
      </li>
      <li>
        <strong>accompagner à l’aménagement du poste et identifier les aides mobilisables,</strong> qu’il s’agisse
        d’aides de droit commun <strong>&nbsp;</strong> (alternance, contrats aidés, période de mise en situation…)
        et/ou d'aides spécifiques à l’aménagement (Agefiph, FIPHFP, OETH). La recherche d’équilibre peut passer par
        différents types d’aménagement : <br/>
        <ul>
          <li>
            <strong>technique</strong> : fauteuil ergonomique, écran adapté ou autre matériel spécifique ;
          </li>
          <li>
            <strong>organisationnel</strong> : aménagement des horaires, temps partiel, temps de pause, nouvelle
            répartition des tâches ;
          </li>
          <li>
            <strong>humain</strong> : nommer un tuteur à l’écoute et garant de la bonne intégration de la personne ;
          </li>
        </ul>
      </li>
      <li>
        <strong>réaliser une sensibilisation adaptée aux équipes</strong>, afin de
        <strong>faire tomber les représentations</strong> en interne à travers des ateliers (simulation avec des casques
        de réalité virtuelle, mise en situation concrète, échanges interactifs), ou pour
        <strong>faciliter l’intégration</strong> d’une personne récemment recrutée (intervention d’un spécialiste du
        handicap en question, sensibilisation du N+1 et du premier cercle de collaborateurs). <strong></strong>
      </li>
    </ul>
    <p>
      Les <strong>handicaps invisibles</strong> (autisme, troubles Dys, maladie invalidante, handicap psy…) nécessitent
      une vraie attention. Les collaborateurs peuvent parfois interpréter certaines attitudes avec leurs réflexes
      habituels, suscitant des incompréhensions (un excès de confiance, le fait de ne pas dire bonjour le matin, de
      prendre davantage de pauses ou simplement de rester à l’écart…). Une communication adaptée permet de sécuriser
      l’intégration du salarié. </p>
    <div></div>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>
      Oui, récemment une enseigne de la grande distribution nous a sollicités pour l’accompagner sur un projet de
      recrutement de 4 points de vente du sud Drôme sur des postes d’employés libre-service. En collaboration avec
      <span><em>France Travail</em></span> et la <span><em>Mission locale</em></span>, nous avons réalisé une
      présélection de 19 candidats que nous avons <strong>conviés à une information collective.</strong> Le chef de
      secteur a présenté l’enseigne ainsi que les postes. Il a ensuite reçu les candidats en entretien et a procédé à
      5 recrutements en prenant en compte les besoins spécifiques de chacun. Le chef de secteur souhaite renouveler
      l’expérience en avril prochain pour d’autres magasins. </p>
    <p>
      Un autre exemple m’a marqué. Une entreprise d’industrie mécanique avait recruté un mécanicien avec un déficit
      auditif. Nous l’avions accompagnée pour mettre en place des alarmes lumineuses à la place des alarmes sonores. Un
      an après l’embauche, toute l’équipe de l’atelier avait <strong>appris à parler la langue des signes</strong>.
      Cette langue avait quasiment pris le pas sur le langage commun afin de communiquer facilement avec ce collègue.
      C’est une intégration réussie qui est allée au-delà de la sphère professionnelle ! </p>
  </div>
</div>
