<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de David Elizalde, conseiller du Commerce extérieur de la France (CCEF) et
    président du bureau d’Occitanie. Avec lui, nous avons évoqué comment il accompagne les entreprises dans leur projet
    de développement à l’international. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/ccef.jpeg", class: "fr-responsive-img", alt: "Illustration" %>
    <p>
      <span><em><strong>« Nous agissons comme des grands frères pour aider le dirigeant à s’introduire dans le marché de destination en lui partageant bénévolement notre expérience. »</strong></em></span>
    </p>
    <p>David Elizalde, directeur des programmes innovation d’une entreprise de taille intermédiaire dans le domaine des
      systèmes électroniques et conseiller du Commerce extérieur de la France.</p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un dirigeant d’entreprise peut-il se tourner vers vous pour son projet à
      l’international ?</h2>
    <p>
      Le réseau des Conseillers du commerce extérieur de la France dont je suis membre réunit des chefs d’entreprises
      implantés en France et à l’étranger. Il compte aujourd’hui plus de <strong>4 500 membres à l’écoute</strong> des
      entreprises françaises aspirant à se développer à l'international. </p>
    <p>
      Un dirigeant peut nous solliciter dès qu’il a <strong>un projet d’exportation</strong> et souhaite être
      <strong> conseillé sur sa stratégie.</strong> Nous partageons notre expérience surtout aux TPE et PME, voire de
      temps en temps à des entreprises de taille intermédiaire (ETI), qui ont fait leurs preuves sur le territoire
      français. </p>
    <div></div>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>Selon le besoin exprimé, nous intervenons sur plusieurs plans déterminants :</p>
    <ul>
      <li>
        <strong>Affiner le choix du marché cible :</strong> après l’étude de marchés réalisée avec Business France par
        exemple, nous pouvons aider le dirigeant à retenir une destination parmi plusieurs options, grâce aux
        témoignages des membres du réseau implantés dans ces différents pays. Il est essentiel de ne pas courir
        plusieurs lièvres en même temps pour pouvoir mettre toute son énergie dans le pays de son choix ;
      </li>
      <li>
        <strong>Mettre en relation avec les bons fournisseurs et les clients potentiels :</strong> pour pénétrer un
        marché, le conseiller du Commerce extérieur de la France déjà implanté pourra faire profiter au dirigeant
        arrivant de son réseau, de sa connaissance des pratiques locales, des relations avec l’administration ou du
        choix de la banque par exemple ;
      </li>
      <li>
        <strong>Dans certains cas, héberger temporairement l’entreprise</strong>, dans les locaux dont dispose déjà le
        Conseiller sur place, le temps de lancer l’activité ;
      </li>
      <li>
        <strong>Démystifier l'international et « ses montagnes infranchissables » :</strong> nous vulgarisons au maximum
        nos propres expériences pour aider le dirigeant à se projeter, à protéger son savoir-faire et à se méfier
        d’investisseurs qui promettent monts et merveilles en entrant au capital. S’appuyer sur la force du réseau et
        des différents points de vue permet de trouver rapidement des réponses à ses questions.
      </li>
    </ul>
    <div></div>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>Oui, je pense à une petite entreprise de prothèses paramédicales en Occitanie, que nous avons mise en relation
      avec un grand fabricant français de prothèses implanté aux États-Unis. Ce dernier l’a orientée vers :</p>
    <ul>
      <li>la Californie comme région d’implantation ;</li>
      <li>les bons partenaires industriels pour lancer sa production de prothèses ;</li>
      <li>les premiers clients potentiels, la stratégie prix/produits la plus pertinente par rapport au marché
        américain ;
      </li>
      <li>un hébergement temporaire à ​​Los Angeles.</li>
    </ul>
    <p>Récemment, nous avons aussi accompagné une société en Occitanie qui vend des services de prévision
      météorologique. Elle demandait de l’aide pour vendre ses services à l’étranger. Nous l’avons mise en contact avec
      un pair au Chili, spécialisé dans le domaine des systèmes d’information. Il l’a aidée à pénétrer le marché
      sud-américain.</p>
    <p>
      Dans des temps incertains, le
      <strong>réseau des conseillers du Commerce extérieur de la France constitue une ressource précieuse</strong> au
      service de l’efficacité française à l’exportation. Entreprises en quête de repères, venez nous voir ! </p>
  </div>
</div>
