<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de <strong>Priscille Julien</strong>, conseillère énergie à la Chambre de commerce
    et d’industrie (CCI) du Gard. Avec elle, nous avons abordé la possibilité de réaliser des économies d’énergie au
    sein de son entreprise. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/cci_energie.jpeg", class: "fr-responsive-img", alt: "" %>
    <p>
      « J’accompagne les chefs d’entreprises à agir par ordre de priorité : d’abord <strong>la sobriété</strong>
      (enlever l'inutile), puis <strong>l’efficacité</strong> (agir pour réaliser des gains) et enfin
      <strong>les énergies renouvelables</strong> (s’autonomiser pour être pérenne). Ce cheminement permet de
      <strong>diminuer sa consommation d’énergie</strong>, un préalable pour mettre en place une énergie renouvelable
      dimensionnée au besoin réel de son entreprise ». </p>
    <p>
      <strong>Priscille Julien</strong>, conseillère énergie à la CCI du Gard </p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un chef d’entreprise peut-il se tourner vers le conseiller énergie de la
      CCI ?</h2>
    <p>J’accompagne des dirigeants et dirigeantes à des étapes différentes de leur réflexion.</p>
    <p>Parmi les sollicitations des entreprises, il y a :</p>
    <ul>
      <li>
        <strong>la situation d’urgence</strong> pour réduire la facture d’énergie : j’analyse avec le chef d’entreprise
        la facture en détail pour comprendre s’il s’agit d’une surconsommation, d’une mauvaise gestion ou encore d’une
        mauvaise négociation du contrat. Je l'aide ensuite à trouver des solutions ;
      </li>
      <li>
        les entreprises souhaitant <strong>maîtriser leur coût d’énergie</strong> : j’identifie les différents postes
        de consommation et leur potentiel d’optimisation pour aider le dirigeant à faire les choix d’investissements
        pertinents ;
      </li>
      <li>
        les entreprises souhaitant <strong>mettre en place des énergies renouvelables</strong> incitées par les
        <a href="https://entreprendre.service-public.gouv.fr/vosdroits/F38107" target="_blank" title="nouvelles obligations légales pour certains sites - entreprendre.service-public.gouv.fr - Nouvelle fenêtre" rel="noopener noreferrer">
          <span>nouvelles obligations légales pour certains sites</span></a> ;
      </li>
      <li>
        les entreprises industrielles souhaitant <strong>former un référent énergie</strong> pour accroître leur
        maîtrise de l’enjeu énergétique.
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>
      J’introduis au sein de l’entreprise des <strong>réflexes de sobriété</strong> comme une première source
      d’économie sur la facture. Par exemple, plutôt que de faire tourner une climatisation réversible toute la nuit,
      mieux vaut privilégier un système programmable avec une horloge pour que la température soit adéquate le matin à
      l’arrivée des salariés. Vérifier la consommation en heures creuses pour détecter des consommations non nécessaires
      est également essentiel. </p>
    <h5 class="fr-h6">S’agissant de l’efficacité énergétique, j’interviens auprès de deux publics :</h5>
    <ul>
      <li>
        <strong>les entreprises industrielles</strong>, qui peuvent bénéficier d’une <strong>visite énergie</strong>
        afin de quantifier le pourcentage de chaque usage (air comprimé, froid, climatisation et chauffage, process,
        éclairage). Ce diagnostic me permet de détecter les actions les plus efficaces et rapidement rentables ;
      </li>
      <li>
        <strong>les entreprises tertiaires</strong> (petits commerces, établissements touristiques, bureaux...) qui
        souhaitent rénover énergétiquement un bâtiment de moins de 1 000 m². Je les accompagne pour : <br/>
        <ul>
          <li>
            faire un <strong>diagnostic des travaux à réaliser</strong> (murs, fenêtres ou toiture) ;
          </li>
          <li>
            <strong>prioriser les investissements</strong> (bien isoler avant de vouloir climatiser) ;
          </li>
          <li>
            identifier les <strong>sources de financement</strong> possibles comme
            <a href="https://entreprendre.service-public.gouv.fr/vosdroits/F35585" target="_blank" title="le crédit d’impôt pour les travaux de rénovation énergétique - entreprendre.service-public.gouv.fr - Nouvelle fenêtre" rel="noopener noreferrer">
              <span>le crédit d’impôt pour les travaux de rénovation énergétique</span></a> ou les certificats
            d’économies d’énergies, déposés après travaux et rachetés par les fournisseurs d’énergie.
          </li>
        </ul>
      </li>
    </ul>
    <h5 class="fr-h6">S'agissant des énergies renouvelables, nous accompagnons les entreprises dans :</h5>
    <ul>
      <li>
        l’<strong>analyse d'opportunité du photovoltaïque,</strong> pour les toitures de plus de 200 m² : j’établis
        des préconisations de surface et j’estime le temps de retour sur investissement. Je leur donne aussi les points
        de vigilance pour discuter avec leur prestataire : étanchéité, structure, sécurité incendie, assurance, règles
        d'urbanisme. Toute entreprise qui dispose d’une surface suffisante et qui consomme de l’énergie sur place,
        devrait s’interroger sur le photovoltaïque. Le retour d’investissement est souvent compris entre 7 et 9 ans.
      </li>
      <li>
        <strong>la mutation de leur mode de chauffage</strong> : la Mission Chaleur Renouvelable (financée par l’Ademe,
        la Région et l’Union européenne) les appuie techniquement pour passer du fioul ou du gaz vers un chauffage au
        bois, solaire ou géothermique.
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Auriez-vous un exemple d’une personne accompagnée ?</h2>
    <p>Je suis intervenue récemment pour accompagner une entreprise qui distribue des magazines, via une plateforme
      logistique. Le dirigeant souhaitait analyser la possibilité de mettre du photovoltaïque en toiture.</p>
    <p>
      L’analyse d’opportunité photovoltaïque que nous avons réalisée a permis d’identifier précisément le potentiel de
      l’entreprise, d’analyser la pertinence de coupler des bornes de recharge de véhicule pour optimiser le
      <strong>taux d’autoconsommation</strong>. Cela favorise un meilleur temps de retour sur investissement. Ce projet
      permet au dirigeant d’anticiper la réglementation. En effet, à l'horizon 2028, il devra mettre en œuvre 30 %
      minimum de couverture solaire sur la toiture de son bâtiment de plus de 500 m² d’emprise au sol. </p>
    <p>
      Nous en avons profité pour analyser ensemble <strong>le contrat d’électricité</strong> et les pistes de diminution
      de consommation. L’entreprise est sur les bons rails ! </p>
  </div>
</div>
