<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de <strong>Maxime Cognard</strong>, conseiller numérique à la Chambre de Métiers et
    de l’Artisanat (CMA) de l’île de la Réunion. Avec lui, nous avons évoqué les outils numériques au service des
    artisans. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/cma_artisan_numerique.jpeg", class: "fr-responsive-img", alt: "Illustration" %>
    <p>« J’aide les artisans, notamment les artisans multiservices, électriciens, plombiers, coiffeurs, instituts de
      beauté, à se saisir des opportunités du numérique. À la CMA, nous leur montrons comment le numérique peut leur
      faire gagner un temps précieux et développer leur activité. »</p>
    <p>
      <strong>Maxime Cognard, </strong>conseiller numérique de la CMA de l’Île de la Réunion
    </p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un artisan peut-il se tourner vers le conseiller numérique de la
      CMA ?</h2>
    <p>« Un artisan peut se tourner vers nous dès lors qu’il souhaite :</p>
    <ul>
      <li>
        <strong>avoir une présence sur internet pour se faire connaître</strong> : beaucoup d’artisans n’ont pas de
        fiche d’établissement sur Google. C’est une première étape pour être facilement identifié par de potentiels
        clients lors de leurs recherches et sur Maps. Ensuite, nous pouvons les accompagner dans la création de leur
        site internet ;
      </li>
      <li>
        <strong>améliorer un site internet existant</strong> : nous réalisons des préconisations concrètes comme
        l’ajout d’un bouton d’action « passer l’achat » ou des audits sur le référencement naturel (c’est-à-dire le
        classement du site parmi les résultats d’un moteur de recherche). Ce travail améliore durablement la visibilité
        du site ;
      </li>
      <li>
        <strong>apprendre à utiliser les réseaux sociaux pour fédérer une communauté</strong> : les réseaux sociaux
        sont devenus indispensables pour se faire connaître en tant que professionnel. Je les aide notamment à se créer
        un compte Instagram professionnel : les stories — courtes vidéos — font vivre le lien entre l’artisan et sa
        communauté de clients. Par ce biais, une coiffeuse a par exemple fait choisir son nouveau logo entre 3
        propositions à sa communauté ;
      </li>
      <li>
        <strong>apprendre à utiliser l’intelligence artificielle (IA) pour la création de contenus</strong> : la
        gestion d’un site internet nécessite souvent la création de contenus, or les artisans n’ont pas beaucoup de
        temps à y consacrer. Je fais donc des démonstrations sur la manière d’utiliser l'IA et sur la rédaction d'« un
        prompt », c'est-à-dire les instructions données à une intelligence artificielle générative. Nous voyons ensemble
        comment : <br/>
        <ul>
          <li>décrire l’activité de son entreprise et son savoir-faire ;</li>
          <li>demander à l’outil de rédiger une synthèse, des idées de sujets ou des publications pour les réseaux
            sociaux selon son besoin ;
          </li>
          <li>relire et personnaliser ce « premier brouillon » pour qu’il nous ressemble, par exemple, si l’on préfère
            tutoyer ses clients ou insérer des expressions créoles ! »
          </li>
        </ul>
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>
      « Les thématiques abordées varient <strong>en fonction des besoins de l’artisan.</strong> En rendez-vous ou par
      téléphone, nous apportons des conseils pour la création de site internet, pour une
      meilleure visibilité, la gestion des réseaux sociaux, la découverte des outils numériques et les créations
      graphiques (cartes de visite, flyers, vidéos, etc.).</p>
    <p>Voici 3 types d’actions que nous réalisons :</p>
    <ul>
      <li>
        <strong>des formations</strong> pour créer son site internet en une seule page (débutants),
        <strong>concevoir facilement des visuels</strong> avec Canva (version gratuite), comprendre les bases d’internet
        et des réseaux sociaux ;
      </li>
      <li>
        <strong>des évènements</strong> comme les <strong>« artisanales du numérique »</strong> : une conférence
        où se succèdent différents experts, suivie d’entretiens individualisés avec des artisans
        pour que chacun bénéficie de conseils selon sa problématique ;
      </li>
      <li>
        <strong>des actions de sensibilisation sur la cybersécurité</strong> : par sécurité, il faut
        désormais penser <strong>« phrase de passe »</strong> plutôt que mot de passe, avec des phrases différentes
        selon les usages ; mettre en place une double identification ; être vigilant sur les faux SMS. Les dégâts du
        piratage informatique peuvent être importants. Par exemple, un artisan que je suis s’est fait hacké son compte
        Instagram professionnel et ses 2 000 abonnés, soit plus de 2 ans de travail à cause d’un mauvais mot de passe. »
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Auriez-vous un exemple d’une personne accompagnée ?</h2>
    <p>« Oui, j’ai récemment accompagné un photographe qui souhaitait créer son site vitrine. Il a d’abord utilisé le
      service public Conseillers-Entreprises pour exprimer son besoin. Quand j’ai reçu la notification, je l’ai appelé
      et nous avons convenu ensemble d’un rendez-vous d’une heure.</p>
    <p>Lors de cet entretien, nous avons travaillé sur le cadrage de la mission du prestataire avec lequel il
      envisageait de travailler pour :</p>
    <ul>
      <li>prioriser les étapes ;</li>
      <li>
        définir <strong>les contenus textuels</strong> qu’il devait préparer de son côté et fournir au prestataire ;
      </li>
      <li>
        s’assurer de <strong>la qualité des photos</strong> à mettre en avant et du
        consentement des personnes y figurant ;
      </li>
      <li>
        vérifier que <strong>la maintenance du site</strong> était comprise dans le contrat, pour avoir par exemple un
        tuto ou une aide pour la mise à jour du site ;
      </li>
      <li>
        évaluer <strong>le prix</strong> par rapport à la prestation.
      </li>
    </ul>
    <p>
      J’ai lui ai également expliqué qu’il pouvait solliciter <strong>une</strong> &nbsp;
      <strong>aide de la région</strong> dans le cadre de son projet. Le dispositif « Kap Numérik » permet en effet aux
      entreprises réunionnaises de financer des investissements numériques comme la création d’un site internet, le
      développement d’une application ou une prestation de sécurité. L’aide peut aller jusqu’à 3 200 € pour les petites
      entreprises de moins de 10 salariés et jusqu’à 2 000 € pour les entreprises de moins de 20 salariés. Il m’a écrit
      pour me remercier, car il a pu bénéficier de cette aide régionale pour réaliser son projet. » </p>
  </div>
</div>
