<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de <strong>Nicolas Sinoquet</strong>, conseiller transmission reprise à la Chambre
    des Métiers et de l’Artisanat (CMA) Grand-Est. Avec lui, nous avons évoqué comment il accompagne les entrepreneurs
    dans leur projet de reprise d’entreprise. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/cma_reprise.jpeg", class: "fr-responsive-img", alt: "" %>
    <p>
      <strong>« Reprendre une entreprise, c’est reprendre un savoir-faire, une clientèle, des salariés, un téléphone qui
        sonne. Le tout dans un nouvel élan, une nouvelle énergie. La reprise est à mon sens un formidable accélérateur
        de développement ! »</strong>
    </p>
    <p>Nicolas Sinoquet, conseiller transmission reprise à la CMA Grand-Est.</p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas une personne peut-elle se tourner vers vous pour son projet de
      reprise ?</h2>
    <p>Nous accompagnons 2 types de repreneurs :</p>
    <ul>
      <li>
        les <strong>primo-repreneurs :</strong> souvent des personnes en <strong>reconversion</strong> (notamment des
        cadres) ou <strong>des salariés du métier</strong>. En effet, pour les petites structures, la bonne maîtrise de
        la compétence technique importe autant, si ce n’est plus, que le montant de l’apport pour concrétiser son projet
        (coiffeurs, bouchers, bâtiment…) ;
      </li>
      <li>
        les <strong>dirigeants déjà installés</strong> souhaitant développer leur activité via une
        <strong>croissance externe</strong>, sur leur cœur de métier ou sur un métier connexe.
      </li>
    </ul>
    <p>
      Nous accompagnons le repreneur à toutes les étapes afin de <strong>sécuriser son projet</strong> : </p>
    <ul>
      <li>l’entreprise ciblée est-elle au bon prix ?</li>
      <li>quelle forme juridique choisir ?</li>
      <li>quelles sont les aides possibles ?</li>
    </ul>
    <p>
      Certains repreneurs, plus avancés dans leur réflexion, viennent nous voir pour <strong>un avis neutre</strong>. La
      pluralité de points de vue est toujours bienvenue pour sécuriser le projet. </p>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>Selon le stade d’avancement du projet, nous allons aider le repreneur à :</p>
    <ul>
      <li>
        <strong>cibler une entreprise</strong> grâce à de la veille sur nos bases de données de cédants, comme
        <a href="https://www.transentreprise.com/" target="_blank" title="Transentreprise - www.transentreprise.com - Nouvelle fenêtre" rel="noopener noreferrer">Transentreprise</a>,
        et le cas échéant, faire une mise en relation avec un engagement de confidentialité de la part du repreneur ;
      </li>
      <li>
        <strong>réaliser un prévisionnel</strong> et placer le repreneur dans la peau d’un chef d’entreprise. L’objectif
        est de rationaliser le prix, s’assurer que le plan de financement est équilibré et que l’entreprise sera en
        mesure de rembourser l’emprunt mobilisé ;
      </li>
      <li>
        <strong>monter des dossiers de financements et/ou d'aides</strong> auprès des partenaires de la création/reprise
        comme le prêt à taux 0 d’Initiative France et les dossiers de
        <a href="https://demission-reconversion.gouv.fr/les-etapes-a-respecter" target="_blank" title="démission-reconversion - demission-reconversion.gouv.fr - Nouvelle fenêtre" rel="noopener noreferrer">démission-reconversion</a>
        (France Travail) pour les personnes ayant été salariées plus de 5 ans.
      </li>
    </ul>
    <p>
      Nous informons également les repreneurs sur des points d’attention comme : </p>
    <ul>
      <li>
        <strong>veiller au respect de la qualification professionnelle</strong> notamment si l'activité envisagée est
        réglementée ;
      </li>
      <li>
        <strong>veiller au mode transmission</strong> : parts sociales ou fonds de commerce, les implications sont
        différentes (étude de la cible, le montage du dossier de reprise) ;
      </li>
      <li>
        <strong>veiller à la validité du bail commercial</strong> : le local commercial est un élément central d’une
        entreprise, et il faut s’assurer que le repreneur pourra continuer d’exercer son activité dans les mêmes
        conditions (de loyer, notamment). Or, au moment de la transmission, beaucoup de baux n’ont pas été resignés et
        sont en « tacite reconduction », rendant le fonds de commerce difficilement vendable. Deux options : demander au
        cédant de signer un nouveau bail ou négocier directement avec le propriétaire des murs un projet de bail, annexé
        au projet de reprise, afin de rassurer les banques.
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>
      Oui, en 2018, j’ai rencontré un dirigeant de 57 ans qui envisageait de céder son entreprise de
      plomberie-chauffage. Finalement, après <strong>un diagnostic</strong> et un temps de réflexion, il a préféré
      reporter pour mieux préparer sa transmission. Après la période Covid, il est revenu me voir dans l’objectif de
      vendre. Nous avons publié une annonce et des premiers contacts ont été établis. Parmi eux, un jeune
      auto-entrepreneur (micro-entrepreneur) de 25 ans, récemment passé en SARL pour son activité de plomberie
      chauffage. </p>
    <p>
      Lors de leur rencontre, ces deux personnalités se sont vite très bien entendues. J’ai travaillé avec eux de
      concert pour mener à bien ce projet de transmission-reprise. Avec le repreneur, nous avons établi une
      <strong>première version du prévisionnel</strong>, validée ensuite par <strong>un expert-comptable</strong> pour
      avoir un second avis. </p>
    <p>
      Le repreneur a recruté le cédant pour une durée de 6 mois afin de faciliter la reprise. Finalement, 4 ans plus
      tard, le cédant travaille toujours avec celui-ci et le repreneur m’a recontacté récemment pour reprendre une
      nouvelle entreprise afin d’<strong>étendre sa zone d’intervention.</strong>
    </p>
    <p>Cet exemple n’est pas une exception. Il y a, dans le processus de reprise, une grande place faite à l’humain : la
      rencontre d’une carrière et d’un nouvel élan !</p>
  </div>
</div>
