<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de Fanny Potagnik, chargée de développement économique et experte des sujets
    environnementaux à la Chambre des métiers et de l’artisanat de Haute-Garonne (31). Avec elle, nous avons évoqué
    comment réduire et valoriser ses déchets dans le cadre de son activité artisanale. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/cma_dechets.jpeg", class: "fr-responsive-img", alt: "Illustration" %>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas une entreprise artisanale peut-elle se tourner vers vous pour ses
      déchets ?</h2>
    <p>Nous accompagnons des artisans se trouvant dans 2 cas de figure :</p>
    <ul>
      <li>
        les artisans faisant face à <strong>une situation d’urgence</strong> et de pression réglementaire : ceux qui se
        retrouvent avec des déchets sur les bras car ils ne sont plus acceptés en déchèterie ou par leur collectivité ;
      </li>
      <li>
        les artisans soucieux <strong>d’initier une gestion plus vertueuse</strong> : ceux qui entrent dans l’économie
        circulaire et en tirent un avantage économique.
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Comment se passe concrètement l’accompagnement ?</h2>
    <p>
      Je me rends dans l’entreprise pour réaliser <strong>un diagnostic déchets</strong>. En effet, on ne peut
      améliorer que ce que l’on mesure. Avec le dirigeant, nous faisons le tour des déchets de l’entreprise, de leur
      gestion et évaluons leur coût actuel. Je parle souvent de « <strong>l’iceberg du coût des déchets</strong> ».
      Derrière une baguette jetée, il y a une quantité de farine, de l’énergie pour faire fonctionner le four, du temps
      salarié. Les petites entreprises ne suivent pas forcément leur taux de perte. C’est un premier pas ! </p>
    <p>Après cet état des lieux, nous mettons en place un plan d’actions pour :</p>
    <ul>
      <li>répondre aux obligations réglementaires de traçabilité des déchets ;</li>
      <li>améliorer la gestion des stocks et adapter la production ;</li>
      <li>
        fiabiliser l’élimination des déchets par la mise en relation avec des
        <strong>prestataires spécialisés de collecte</strong> ; avec le Grand Ouest Toulousain Agglomération, nous
        avons par exemple travaillé à la mise en place d’une collecte mutualisée en porte-à-porte des biodéchets auprès
        des entreprises de l’agglomération avec un prestataire spécialisé ;
      </li>
      <li>faciliter, pour les plus petits artisans, le dépôt de leurs déchets dans les composteurs collectifs en
        contrepartie d’engagements (volume par semaine, valorisation du compostage...) ;
      </li>
      <li>
        réduire les déchets car le meilleur déchet est encore celui qu’on ne produit pas ; cette action permet
        d’ailleurs de valoriser ses efforts auprès des consommateurs ou dans le cadre de mise en concurrence avec le
        <strong> label « Entreprise Zéro Déchet »</strong> de la CMA Occitanie.
      </li>
    </ul>
    <p>
      Nous informons également les entreprises sur <strong>la responsabilité élargie des producteurs</strong> (REP) en
      vérifiant qu’elles y sont bien soumises et en les informant sur les services de collecte et autres
      <strong>solutions mises en place par l’éco-organisme</strong> de leur filière. Ces solutions sont financées par
      les éco-contributions. Des artisans, notamment du bâtiment ou dans la réparation de vélos, ignorent les solutions
      à leur disposition. <strong></strong>
    </p>
    <p>L’accompagnement sur les déchets peut enfin s’inscrire dans un état des lieux plus large des économies possibles.
      Le dispositif « TPE gagnantes sur tous les coûts » permet de réaliser un diagnostic sur les 4 principaux flux :
      énergie, eau, déchets, matières premières.</p>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>Oui, j’ai accompagné récemment une entreprise spécialisée dans l’agencement et la fabrication de meubles de salle
      de bain. Lors du diagnostic, j’ai constaté que leurs coûts de gestion des déchets étaient importants.</p>
    <p>
      En examinant les factures, je me suis aperçue qu’elle payait 2 fois <strong>l’éco-contribution</strong> dans le
      cadre de la REP. Son fournisseur de bois lui facturait l’éco-contribution au titre des matériaux de construction
      et l’entreprise cotisait également de son côté auprès de l’éco-organisme au titre de la mise sur le marché de
      meubles. Après discussions avec l’éco-organisme, nous avons pu lever l'ambiguïté de la réglementation et justifier
      auprès du fournisseur la fin de la facturation de l’éco-contribution. </p>
    <p>J’ai aussi accompagné une entreprise de menuiserie sur le tri de ses déchets. Je lui ai d’abord conseillé de
      couvrir ses 2 bennes à l’extérieur car elles sont facturées au poids par le prestataire. Or avec la pluie, elles
      se remplissaient d’eau.</p>
    <p>
      Ensuite, les chutes de panneaux en médium, désormais valorisables, continuaient d’être jetées dans la benne
      facturée plus chère et dédiée aux chutes de bois non valorisables. Le prestataire n’avait pas informé l’entreprise
      de cette évolution. En basculant 20 % des chutes dans la benne de bois réutilisable, l’entreprise de menuiserie a
      significativement <strong>réduit ses coûts de traitement des déchets</strong>. </p>
  </div>
</div>
