<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de Sophie Neel, inspectrice des finances publiques et experte au sein du service
    d’accompagnement fiscal de la DGFIP des Pyrénées-Atlantiques (64). Avec elle, nous avons évoqué comment son service
    accompagne les chefs d’entreprise qui le souhaitent sur les risques fiscaux associés à leurs activités. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/dgfip_accompagnement_fiscal_pme.jpeg", class: "fr-responsive-img", alt: "Illustration" %>
    <p>« Nous tissons une relation de confiance au cœur des échanges avec les entreprises et au plus près des
      territoires. Cette posture nouvelle d’accompagnement sur les questions de fiscalité doit permettre aux entreprises
      de grandir plus sereinement. »</p>
    <p>
      <strong>Sophie Neel</strong>, experte du service d’accompagnement fiscal de la DGFIP des Pyrénées-Atlantiques.
    </p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas une entreprise peut-elle se tourner vers vous ?</h2>
    <p>
      « Notre objectif est d’apporter un éclairage pour
      <strong>sécuriser juridiquement les décisions des dirigeants</strong>, leur faire
      <strong>gagner du temps</strong> et ainsi leur permettre de rester concentrés sur le développement de leur
      activité. Notre service est destiné aux entreprises de moins de 250 salariés, ayant un chiffre d’affaires annuel
      inférieur à 50 millions d’euros ou un total de bilan n’excédant pas 43 millions d’euros. </p>
    <p>Nous intervenons essentiellement dans les cas suivants :</p>
    <ul>
      <li>
        <strong>lorsqu’une entreprise connaît une forte croissance</strong> : de nouvelles questions se posent avec des
        risques fiscaux associés ; des leviers sont aussi à disposition de celles qui innovent à travers le statut de
        jeune entreprise innovante (JEI) ou le crédit d’impôt recherche (CIR) ;
      </li>
      <li>
        <strong>lorsqu’une entreprise s’interroge sur ses obligations fiscales</strong> : quel taux de TVA appliquer à
        son activité, les allègements fiscaux possibles lors de l’installation dans certaines zones géographiques (ZFRR,
        ZFU), les incertitudes liées à l’assiette de l’impôt sur les sociétés, notamment sur ce qu’on a le droit de
        passer en charges (cadeaux clientèle, voyages…) ou encore dans le cadre d’un mécénat, la valorisation nécessaire
        d’un don en nature à une association ;
      </li>
      <li>
        <strong>lorsqu’une entreprise réalise une opération exceptionnelle</strong> : restructuration, opération à
        l’international, cession ou valorisation de parts sociales ;
      </li>
      <li>
        <strong>lorsque l’activité de l’entreprise nécessite une nouvelle interprétation des règles fiscales</strong> :
        les cryptomonnaies et les NFT (jetons numériques uniques représentant un actif numérique ou physique) sont par
        exemple de nouveaux objets que nous appréhendons grâce à une expertise fiscale dédiée à ces nouvelles
        questions. »
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Comment se passe concrètement l’accompagnement ?</h2>
    <p>
      « Nous rappelons le dirigeant pour
      <strong>un entretien téléphonique personnalisé, gratuit et confidentiel</strong>, c’est-à-dire soumis au secret
      professionnel. Il convient simplement d’être à jour de ses obligations fiscales. L’échange est basé sur
      <strong>une confiance réciproque</strong>. </p>
    <p>Bien souvent, d’autres questions fiscales nous sont posées lors de cet échange et nous prenons le temps de faire
      le tour des problématiques. Selon les situations, l’accompagnement peut donner lieu à une aide ponctuelle ou bien
      s’inscrire dans la durée. Il se matérialise :</p>
    <ul>
      <li>
        soit par une réponse à une demande d’information en <strong>vulgarisant la réglementation applicable</strong>,
        qui s’avère complexe et mouvante ;
      </li>
      <li>
        soit par la délivrance d’<strong>un rescrit</strong> qui apportera pour sa part la sécurité juridique,
        c’est-à-dire une confirmation écrite qui va figer la position de l’administration fiscale sur la problématique
        soumise par l’entreprise, laquelle pourra s’en prévaloir par la suite.
      </li>
    </ul>
    <p>
      Des <strong>recherches approfondies</strong> sont parfois nécessaires, ainsi qu’une complémentarité des
      expertises. Sur des opérations à l’international, nous travaillons main dans la main avec les douanes pour
      apporter à l’entreprise la réponse la plus complète possible. » </p>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>
      « Oui, je pense à une société de logiciels informatiques qui m’a sollicitée sur la façon dont elle devait facturer
      la TVA avec <strong>son premier client espagnol.</strong> Nous avons parcouru ensemble les éléments clés : </p>
    <ul>
      <li>Son client était-il une autre entreprise ou un consommateur final ?</li>
      <li>La vente concernait-elle une marchandise ou une prestation de service ?</li>
      <li>La vente se faisait-elle au sein de l’Union européenne ou en dehors ?</li>
    </ul>
    <p>À partir de ces éléments, j’ai pu dérouler les textes et leur apporter une réponse fiable.</p>
    <p>
      Récemment, j’ai également accompagné un marchand de biens sur la question du <strong>taux de TVA réduit</strong>.
      La société achète des maisons vétustes et les rénove pour en faire des appartements. Elle se demandait si elle
      pouvait appliquer le taux de TVA réduit existant dans la rénovation. L’étude du dossier a montré que l’ampleur des
      travaux et l’augmentation de la surface habitable, au-delà d’un certain seuil, ne permettent plus le bénéfice du
      taux réduit. Notre échange a permis de les <strong>éclairer de manière pragmatique</strong> sur les conditions
      devant être réunies pour appliquer le taux réduit. » </p>
  </div>
</div>
