<div class="fr-mb-6w">
  <p class="fr-text--lg">
    <strong>Séverine Bouet</strong>, conseillère au sein de la Cellule Conseil aux Entreprises des douanes de
    Montpellier, évoque les facilités offertes par la Douane pour accompagner les entreprises dans la réussite de leurs
    échanges internationaux. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/douanes.jpeg", class: "fr-responsive-img", alt: "" %>
    <p>« La Cellule Conseil des douanes aide les entreprises à anticiper les démarches douanières et les accompagne dans
      leurs échanges internationaux. Il ne faut pas attendre que la marchandise soit bloquée pour nous appeler ! »</p>
    <p>
      <strong>Séverine Bouet</strong>, conseillère au sein de la Cellule Conseil aux Entreprises des douanes de
      Montpellier </p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un chef d’entreprise peut-il se tourner vers la Cellule Conseil des
      douanes ?</h2>
    <p>
      Un chef d’entreprise peut se tourner vers nous dès lors qu’il a pour projet d’importer ou d’exporter une
      <strong>marchandise hors de l’Union européenne (UE)</strong>, ce qui comprend tous les pays
      tiers, notamment la Suisse, le Royaume-Uni et les DOM-TOM. </p>
    <p>Nous accompagnons tout type d’entreprises :</p>
    <ul>
      <li>porteurs de projet ;</li>
      <li>TPE et PME ;</li>
      <li>start-ups ;</li>
      <li>indépendants (qu’ils soient auto-entrepreneurs ou artisans d’art…).</li>
    </ul>
    <p>
      Nous proposons des <strong>rendez-vous personnalisés et gratuits</strong> en visio ou bien en présentiel dans nos
      locaux ou les locaux de l’entreprise. Durant ces rencontres, nous réalisons un diagnostic douanier pour faire le
      tour des questions relatives au projet de l’entreprise et présenter les outils à disposition. </p>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>
      Pour faciliter le projet de l'entreprise, nous intervenons sur plusieurs <strong>points clés</strong> : </p>
    <ul>
      <li>
        <strong>Présenter le rôle du « représentant en douane enregistré »</strong> : les obligations
        déclaratives pour importer ou exporter des marchandises hors UE sont réalisées par ce tiers qui agit comme
        mandataire. Il s’agit bien souvent d’un transporteur qui a la casquette de logisticien et celle de déclarant en
        douane ;
      </li>
      <li>
        <strong>Aider à anticiper la réglementation applicable et sécuriser ses projets</strong> : <br/>
        <ul>
          <li>Pour importer, c’est une étape clé avant d’acheter la marchandise à son fournisseur étranger. Par exemple,
            si vous importez certains jouets fabriqués en Chine, ceux-ci doivent avoir fait l’objet de tests en
            laboratoire démontrant leur conformité aux normes européennes (mention CE). Nous informons également sur
            l’évolution de ces normes, comme pour les masques pendant le Covid avec la nouvelle directive européenne
            de 2016 ;
          </li>
          <li>Pour exporter, il est nécessaire d’anticiper la réglementation du pays de destination pour éviter que la
            marchandise ne soit bloquée à la frontière ou réexpédiée. Exporter du vin aux États-Unis ou en Chine
            implique ainsi de fournir au préalable des certificats d’analyses qu’il faut budgétiser dans son business
            plan. Le réseau des attachés douaniers présents à l’étranger nous permet d’apporter une réponse précise aux
            entreprises sur les démarches à accomplir.
          </li>
        </ul>
      </li>
      <li>
        <strong>Connaître les facilités offertes par la réglementation douani</strong>
        <strong>ère notamment les régimes particuliers</strong> : nous réalisons aussi une analyse des flux de
        l’entreprise car certaines opérations peuvent faire l’objet d’une suspension de droits et de taxes (exemple :
        import d’un composant pour fabrication d’une marchandise en France qui sera ensuite réexportée vers un pays
        tiers) ;
      </li>
      <li>
        <strong>Bénéficier ou faire bénéficier des avantages liés aux accords commerciaux</strong> : mettre en avant
        ces accords est un vrai argument commercial pour l’entreprise dans ses négociations (réduction ou suppression
        des droits de douane à destination ou à l’importation en cas de sourcing). Certains accords, comme celui avec le
        Royaume-Uni ou la Corée du Sud pour les exportations de vins par exemple restent encore méconnus. Pour que le
        client destinataire puisse bénéficier des avantages, l’entreprise française doit demander
        <strong>le statut d’exportateur agréé,</strong> permettant de certifier l’origine Union
        européenne de la marchandise.
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>
      Oui, je pense à une startup qui a conçu un aérateur de vins et qui souhaitait l’exporter vers les États-Unis. Cet
      objet original nécessitait de <strong>sécuriser en priorité le code douanier</strong> (classement tarifaire). Ce
      code essentiel constitue le point de départ de toute opération d’exportation ou d’importation car il permet de
      connaître toute la réglementation et la taxation applicable à un produit. En cas de doute, mon rôle est d’orienter
      l’entreprise vers <strong>une procédure sécurisée</strong> appelée
      Renseignement Tarifaire Contraignant (RTC). La décision délivrée par la douane française est valable 3 ans. </p>
    <p>
      J’ai également orienté cette startup vers notre <strong>service de l’origine et du Made in France</strong> (SOMIF), situé à Clermont-Ferrand, pour qu’il lui délivre une
      information sur le marquage « Made In France ». L’équipe du SOMIF vérifie si la règle d’origine applicable au
      produit est bien respectée par l’entreprise à partir des matières utilisées et du processus de fabrication décrit.
      Ce travail main dans la main avec l’entreprise permet de favoriser la reconnaissance d’un savoir-faire français à
      l’international. </p>
  </div>
</div>
