<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de <strong>Mylène Barnabé</strong>, agent au sein du Service de renseignement en
    droit du travail de la DDETS de Gironde. Avec elle, nous avons évoqué comment sa mission de renseignement aide les
    chefs d’entreprise dans leurs questionnements au quotidien. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/droit_du_travail.jpeg", class: "fr-responsive-img", alt: "Illustration" %>
    <p>
      <strong>« Nous sommes là pour accompagner les employeurs en vulgarisant le droit. Nous apportons une réponse
        personnalisée en fonction du statut juridique de l’entreprise. »</strong>
    </p>
    <p>Mylène Barnabé, agent au sein du Service de renseignement en droit du travail de la DDETS de Gironde.</p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un chef d’entreprise peut-il se tourner vers les services de renseignement
      en droit du travail ?</h2>
    <p>
      Un chef d’entreprise peut se tourner vers nous lorsqu’il s'apprête à prendre une décision et qu’il a besoin de
      connaître le droit du travail applicable à son entreprise. Nous l’informons des règles législatives,
      réglementaires voire conventionnelles applicables, puis nous déclinons avec lui les conséquences de sa décision
      dans la situation qu’il rencontre. Notre <strong>objectif</strong> est de
      <strong>rendre le droit accessible et concret</strong> pour le dirigeant. </p>
    <p>3 cas se présentent à nous :</p>
    <ul>
      <li>
        <strong>Les nouveaux chefs d’entreprise</strong> qui viennent de se lancer : nous guidons ces entrepreneurs dans
        leurs premières démarches pour partir sur de bonnes bases. Par exemple, pour le recrutement d’un apprenti, ne
        pas oublier la mise en place de la mutuelle d’entreprise, la visite médicale, les affichages obligatoires, le
        registre du personnel…
      </li>
      <li>
        <strong>Les chefs d’entreprise de un à dix salariés</strong>, qui ont de l’expérience mais qui sont surmenés par
        leur activité : nous essayons de leur faire gagner du temps en sécurisant leurs décisions, notamment en cas de
        sanction disciplinaire. Nous ne portons aucun jugement, nous expliquons simplement la procédure à respecter, par
        exemple pour un avertissement.
      </li>
      <li>
        <strong>Les micro-entrepreneurs</strong> (entreprises individuelles) qui pensent souvent être salariés alors
        qu’ils sont en réalité dans une relation de prestation de services commerciaux. Nous leur rappelons qu’ils sont
        leur propre « patron ». Ils doivent donc garder le cadre juridique en tête : <br/>
        <ul>
          <li>impossibilité de prétendre à une rupture conventionnelle, aux indemnités légales de licenciement et toutes
            autres protections ouvertes au salarié, ni au chômage ;
          </li>
          <li>éviter de dépendre d’un seul client, au risque d’être en difficultés financières si les relations se
            dégradent ;
          </li>
          <li>envisager un autre statut à terme s’ils souhaitent évoluer et recruter.</li>
        </ul>
      </li>
    </ul>
    <p>
      Nous sommes à l’écoute des besoins des chefs d’entreprise à travers
      <strong>Conseillers-Entreprises.Service-Public.gouv.fr</strong>, ou directement par <strong>mail</strong>, par
      <strong>téléphone</strong> au <strong>0 806 000 126 du lundi au vendredi.</strong> Des rendez-vous peuvent être
      programmés en DDETS.</p>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>
      Nous accompagnons souvent le chef d’entreprise <strong>confronté à un salarié malade ou accidenté</strong>.</p>
    <p>Concernant les cas de maladie, nous aidons le chef d'entreprise à distinguer 2 cas :</p>
    <ul>
      <li>la maladie non professionnelle susceptible d’amener à un licenciement pour inaptitude non professionnelle avec
        une indemnité de licenciement classique ;
      </li>
      <li>
        la maladie professionnelle avec une indemnité de licenciement spéciale (le double de l’indemnité légale) et le
        paiement du délai de préavis.
      </li>
    </ul>
    <p>
      Nous attirons aussi son attention sur des subtilités, comme le cas de
      <a href="https://www.service-public.gouv.fr/particuliers/vosdroits/F31881" target="_blank" title="l’accident de trajet - www.service-public.gouv.fr - Nouvelle fenêtre" rel="noopener noreferrer">
        <span>l’accident de trajet</span></a>, ou l’évolution des textes. Ainsi, depuis avril 2024, un salarié en
      arrêt de travail acquiert désormais
      <a href="https://entreprendre.service-public.gouv.fr/actualites/A17828" target="_blank" title="des congés payés - entreprendre.service-public.gouv.fr - Nouvelle fenêtre" rel="noopener noreferrer"> <span>des congés payés</span></a>. </p>
    <p>
      Nous accompagnons également le chef d’entreprise souhaitant se séparer d’un salarié avec lequel les relations ne
      sont pas bonnes, bien qu’il n’ait rien à lui reprocher sur son travail. Dans cette situation, un « divorce à
      l’amiable » est possible à travers <strong>la rupture conventionnelle.</strong> La procédure implique un ou
      plusieurs entretiens préparatoires avec le salarié, chacun pouvant être assisté par un collègue par exemple. Sur
      le Code du travail numérique, l’employeur peut réaliser une
      <a href="https://code.travail.gouv.fr/outils/indemnite-rupture-conventionnelle" target="_blank" title="simulation
        de l’indemnité de rupture - code.travail.gouv.fr - Nouvelle fenêtre" rel="noopener noreferrer">simulation
        de l’indemnité de rupture</a>, retrouver le calendrier de la procédure et le formulaire Cerfa à faire signer à
      l’issue des entretiens. </p>
    <p>
      Enfin, <strong>des hésitations sont fréquentes entre CDI et CDD</strong>. Si le CDD ne peut en principe répondre à
      un besoin pérenne dans l’entreprise, nous rappelons au chef d’entreprise qu’il ne pourra pas rompre le contrat
      même si le salarié ne répond pas à ces espérances jusqu’à la fin du contrat. La période d’essai du CDI,
      significativement plus longue, peut à l’inverse être rompue à tout moment. </p>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>Oui, j’ai été appelée par une kinésithérapeute de la Gironde. La femme de ménage avec laquelle elle travaillait
      depuis plus de 15 ans souffrait du syndrome du canal carpien, une maladie fréquente dans ce métier.</p>
    <p>
      La cheffe d’entreprise tenait à ne pas commettre d’impair dans cette situation après autant d’années de services.
      Nous l’avons <strong>guidée dans les différentes étapes</strong> : </p>
    <ul>
      <li>vérifier auprès de la Caisse primaire d'assurance maladie que la maladie ait bien été reconnue comme maladie
        professionnelle ;
      </li>
      <li>obtenir la déclaration d’inaptitude par le médecin du travail ;</li>
      <li>
        faire une simulation de l’indemnité de licenciement pour maladie professionnelle sur le
        <a href="https://code.travail.gouv.fr/outils/indemnite-licenciement" target="_blank" title="Code du travail numérique - code.travail.gouv.fr - Nouvelle fenêtre" rel="noopener noreferrer">Code
          du travail numérique</a> ;
      </li>
      <li>bien payer le préavis de licenciement ;</li>
      <li>remettre les documents de fin de contrat, dont le certificat de travail et le solde de tous comptes ;</li>
      <li>générer l'attestation France Travail sur son compte employeur France Travail pour que son ancienne salariée
        puisse s’inscrire à France Travail.
      </li>
    </ul>
  </div>
</div>
