<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre d’Agnès Poix, chargée de la relation distancielle au sein de l’Opco Entreprises de
    proximité. Avec elle, nous avons évoqué comment un opérateur de compétences (Opco) peut accompagner les entreprises
    à développer les compétences de leurs salariés. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/opco_entreprises_de_proximite.jpeg", class: "fr-responsive-img", alt: "" %>
    <p>
      <strong>« Nous sommes un outil pour les entreprises afin de les accompagner dans leur projet de développement des
        compétences des salariés. N’hésitez pas à nous appeler, chaque entreprise dispose d’un conseiller formation à
        son écoute. »</strong>
    </p>
    <p>Agnès Poix, chargée de la relation distancielle au sein de l’Opco Entreprises de Proximité.</p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un chef d’entreprise peut-il se tourner vers son Opco ?</h2>
    <p>Il existe 11 Opco chargés d’assurer le financement des contrats d’alternance et d’accompagner les entreprises
      dans la définition de leurs besoins de formation professionnelle. L’Opco de rattachement diffère selon les
      branches professionnelles. L’Opco Entreprises de Proximité dont je fais partie est tourné vers l’artisanat, les
      professions libérales et les services de proximité.</p>
    <p>Un chef d’entreprise peut se tourner vers nous lorsqu’il souhaite :</p>
    <ul>
      <li>
        <strong>recruter un salarié en alternance</strong>, avec un contrat d’apprentissage ou un contrat de
        professionnalisation et qu’il a des questions sur la prise en charge financière, sur l’âge minimum ou sur la
        rémunération de l’apprenti : celle-ci dépend de la formation préparée, de l’âge de la personne et de ce qu’elle
        faisait avant (déjà en apprentissage ou non) ;
      </li>
      <li>
        <strong>former un ou plusieurs salariés,</strong> quand il sait quelle formation et quel salarié est concerné
        afin que nous lui expliquions jusqu’à quelle hauteur le coût de la formation sera pris en charge ainsi que la
        constitution du dossier.
      </li>
    </ul>
    <div></div>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>Si notre cœur de métier demeure la formation, nos services aux entreprises se sont élargis. Nous accompagnons les
      entreprises pour :</p>
    <ul>
      <li>
        <strong>identifier leurs besoins de formation :</strong> les conseillers formation se déplacent à la rencontre
        des chefs d’entreprises pour définir avec eux leurs besoins par rapport à l’activité et ses perspectives. Nous
        restons neutres dans le choix de l’organisme de formation. Les critères de prise en charge financière varient
        selon les branches professionnelles. Par exemple, pour se former à de nouvelles techniques de coupe dans la
        coiffure, le coût pédagogique pris en charge est de 25 € hors taxe par heure. Le reste à charge pour
        l’entreprise va donc dépendre des prix pratiqués par l’organisme de formation choisi ;
      </li>
      <li>
        <strong>favoriser la rencontre des chefs d’entreprises et des apprentis</strong> : nous avons lancé un « Hub de
        l’alternance » où les entreprises déposent leurs offres et les candidats leurs CV. Certains métiers de
        l’artisanat, comme la coiffure, la boulangerie, l’horticulture sont historiquement tournés vers cette
        transmission des savoirs que nous encourageons ;
      </li>
      <li>
        <strong>bénéficier d’une prestation de conseil en ressources humaines (PCRH)</strong> : un conseiller extérieur
        peut accompagner le dirigeant sur une problématique RH. Par exemple, faire face à des tensions
        intergénérationnelles au sein de l’entreprise liées à des représentations différentes du monde du travail ou
        renouveler ses méthodes de recrutement face à la multiplication des lettres de motivations générées par
        l’intelligence artificielle. Il n’y a aucun reste à charge pour l’entreprise bénéficiant de cet accompagnement
        RH.
      </li>
      <li>
        <strong>anticiper les mutations climatiques</strong> : des réunions collectives — parfois spécifiques à une
        branche professionnelle — sont organisées pour défricher les enjeux de transition écologique des activités. À
        l’issue, les chefs d’entreprises qui le souhaitent peuvent bénéficier de l’expertise d’un organisme local pour
        réaliser un diagnostic et un plan d’actions.
      </li>
    </ul>
    <div></div>
    <h2 class="fr-h4 fr-mt-4w">Avez-vous un exemple d’une entreprise accompagnée ?</h2>
    <p>Oui, j’ai en tête le cas d’une coiffeuse qui venait de créer son salon depuis un an. Son activité se développait
      bien et ayant été formée en apprentissage, elle souhaitait donner sa chance à un ou une jeune apprentie. Mais le
      salon était éloigné géographiquement des centres de formation des apprentis (CFA) qu’elle avait déjà
      sollicités.</p>
    <p>
      Son expert-comptable l’a orienté vers nous. En effet, lors d’un premier recrutement,
      <strong>on ne connaît pas forcément son Opco de rattachement</strong> et l’accompagnement dont on peut bénéficier.
    </p>
    <p>Je l’ai aiguillée vers le « Hub de l’alternance » pour qu’elle puisse déposer son offre. Finalement, l’un des CFA
      a réussi à trouver une candidate d’une commune proche du salon. Elle m’a rappelée pour savoir comment se passait
      la suite. Je lui ai expliqué :</p>
    <ul>
      <li>
        la <strong>prise en charge financière</strong> des coûts de formation ;
      </li>
      <li>
        les critères de rémunération pour <strong>déterminer son reste à charge</strong> ;
      </li>
      <li>l’appui du CFA pour remplir le Cerfa et la convention de formation ;</li>
      <li>
        l’enregistrement du <strong>contrat d’apprentissage (Cerfa)</strong> auprès de la Direction régionale de
        l’économie, de l’emploi, du travail et des solidarités (DREES) et sa télétransmission à l’Agence de services et
        de paiement (ASP) pour bénéficier de <strong>l’aide à l’embauche</strong> de l’État pour le recrutement en
        apprentissage.
      </li>
    </ul>
  </div>
</div>
