<div class="fr-mb-6w">
  <p class="fr-text--lg">
    Nous sommes partis à la rencontre de <strong>Sylvie Communier,</strong> conseillère et formatrice
    comptabilité-fiscalité à la Maison des Professions Libérales du Grand Ouest. Avec elle, nous avons abordé les aides
    destinées aux personnes souhaitant se lancer dans une activité libérale. </p>
</div>
<div class="fr-my-4w">
  <div class="fr-mt-n3w fr-mb-3w">
    <%= image_tag "temoignages_experts/professions_liberales.jpeg", class: "fr-responsive-img", alt: "Illustration" %>
    <p>
      « À la Maison des Professions Libérales, nous sommes convaincus que chaque travailleur indépendant a le potentiel
      d’apporter une contribution positive à notre société. C’est la raison pour laquelle nous aidons chaque jour des
      dizaines d’hommes et de femmes à créer leur entreprise de proximité et à en vivre dignement. » <strong></strong>
    </p>
    <p>
      <strong>Sylvie Communier,</strong> Maison des Professions Libérales du Grand Ouest </p>
    <h2 class="fr-h4 fr-mt-4w">Dans quels cas un dirigeant avec une activité libérale peut-il se tourner vers les
      maisons des professions libérales ?</h2>
    <p>« Les maisons des professions libérales réunissent l’expertise du réseau des ARAPL et du réseau des ORIFF PL, en
      étroite collaboration avec l’Union Nationale des Professions Libérales (UNAPL).</p>
    <p>Nous accompagnons les hommes et les femmes qui se lancent dans une activité libérale comme la sophrologie, la
      réflexologie, la naturopathie, le web design, ou encore le coaching dans ses formes variées : coaching sportif,
      coaching en parentalité, coaching scolaire, etc. Le panel des activités libérales étant extrêmement vaste, cette
      liste est loin d’être exhaustive.</p>
    <p>J’accompagne pour ma part les créateurs d’entreprise libérale depuis moins d’un an qui :</p>
    <ul>
      <li>
        s’interrogent sur <strong> le choix de leur statut</strong> ;
      </li>
      <li>
        veulent apprendre à gérer <strong>la fiscalité</strong> de leur entreprise ;
      </li>
      <li>
        se questionnent sur le régime de <strong>la micro-entreprise</strong> ou d’autres régimes.
      </li>
    </ul>
    <p>Pour ce faire, j’anime des formations de deux jours, en visio ou en présentiel partout dans le Grand Ouest
      (Rennes, Angers, Nantes, La Rochelle, Royan, Poitiers, Niort, Angoulême…). »</p>
    <div class="fr-highlight  fr-my-4w fr-ml-0 fr-py-1w">
      <p class="fr-text--bold">À noter </p>
      <p>« Les formations de nos catalogues peuvent faire l’objet d’une prise en charge financière. »</p>
    </div>
    <div></div>
    <h2 class="fr-h4 fr-mt-4w">Quels sont vos principaux accompagnements ?</h2>
    <p>
      « Nous proposons <strong>3 grands types d'accompagnements</strong>  : </p>
    <ul>
      <li>
        <strong>une journée de la création de l’entreprise libérale</strong> pour identifier les différents acteurs qui
        composent l’environnement des professions libérales, les obligations URSSAF, comptables, fiscales, la protection
        sociale et les assurances à prendre en compte ;
      </li>
      <li>
        <strong>un parcours de 4 jours pour entreprendre avec succès</strong> une activité libérale, en intégrant une
        méthodologie de projet et en préparant son étude de marché, son prévisionnel, sa communication ;
      </li>
      <li>
        <strong>un rendez-vous individuel</strong> qui peut porter sur différents thèmes : aide au bon choix du statut,
        à l’immatriculation de l’activité sur le site de l’INPI, à l’étude de marché. »
      </li>
    </ul>
    <h2 class="fr-h4 fr-mt-4w">Auriez-vous un exemple d’une personne accompagnée dans son activité libérale ?</h2>
    <p>
      « Oui, je pense à l’exemple de Valérie. Menant depuis plus de 20 ans une carrière dans le domaine des assurances,
      son rêve était de <strong>se reconvertir</strong> comme formatrice pour accompagner les dirigeants d’entreprise,
      notamment dans la gestion du stress et de leurs émotions. Un projet qu’elle avait à l’esprit depuis quelques
      années, mais qu’elle n’avait pas encore osé concrétiser. </p>
    <p>
      Rencontrée à l’occasion d’un forum, je lui ai conseillé de suivre une Journée micro-entrepreneur. L’objectif était
      que Valérie puisse se faire une idée claire des premières démarches à suivre pour se lancer comme formatrice
      indépendante. Très satisfaite et rassurée, elle a décidé d’affiner son projet via un parcours créateur pour
      établir <strong>son prévisionnel</strong>, réaliser <strong>son étude de marché</strong> et préparer sereinement
      la création de sa micro-entreprise.</p>
    <p>Afin de lancer progressivement son activité, Valérie a préféré garder durant les 8 premiers mois son activité de
      salariée dans les assurances, mais ce à mi-temps. Un vrai filet de sécurité, le temps de se faire connaître et
      d’être certaine de pouvoir vivre de son activité libérale.</p>
    <p>
      Valérie a réussi son pari puisqu’elle s’épanouit aujourd'hui en tant que formatrice indépendante. Chaque année,
      elle prend rendez-vous avec moi pour un diagnostic précis sur <strong>ses besoins en formations.</strong>
      Ensemble, nous convenons ainsi des thématiques qui lui seront les plus utiles, et qui l’aideront à développer sa
      posture de cheffe d’entreprise. »</p>
  </div>
</div>
