%ul
  - matches.each do |match|
    %li
      - diagnosis = match.diagnosed_need.diagnosis
      %b= diagnosis.visit.company_name
      —
      = match.diagnosed_need.question_label
      %br
      %a{ href: besoins_url(diagnosis, access_token: access_token) }
        = match.assistance_title
