<template>
  <div class="ui three column stackable vertically padded grid container">
    <div class="ui left aligned column no-left-padding no-margin">
      <div v-if="previousStepButton">
        <button class="ui left labeled icon button step-3 no-margin"
              v-bind:class="{ loading: isRequestInProgress, disabled: isRequestInProgress || disabled }"
              @click="previousStepButtonClicked">
          <label><%= I18n.t('previous_step') %></label>
          <i class="arrow left icon"></i>
        </button>
      </div>
    </div>
    <div class="ui center aligned column">
      <div v-if="saveButton">
        <button class="ui left labeled icon button step-3 no-margin"
              v-bind:class="{loading: isRequestInProgress, disabled: isRequestInProgress || disabled }"
              @click="saveButtonClicked">
          <i class="save icon"></i>
          <label><%= I18n.t('save') %></label>
        </button>
      </div>
    </div>
    <div class="ui right aligned column no-right-padding">
      <button class="ui teal right labeled icon button step-3 no-margin"
            v-bind:class="{ loading: isRequestInProgress, disabled: isRequestInProgress || disabled }"
            @click="nextStepButtonClicked">
        <label><%= I18n.t('next_step') %></label>
        <i class="arrow right icon"></i>
      </button>
    </div>
  </div>
</template>

<script>
    import {mapState, mapMutations, mapActions} from 'vuex'

    export default {
        name: 'next-step-button',
        props: [
            'previousStepButton',
            'saveButton',
            'disabled',
            'loading'
            ],
        computed: {
            isRequestInProgress: function () {
                return this.loading
            }
        },
        methods: {
            previousStepButtonClicked: function () {
                this.$emit('previous-step-click')
            },
            saveButtonClicked: function () {
                this.$emit('save-click')
            },
            nextStepButtonClicked: function () {
                this.$emit('next-step-click')
            }
        }
    }
</script>

<style lang="sass">
  button.step-3
    width: 13em
</style>
