<template>
  <div class="next step container">
    <button class="ui teal right labeled icon button next step"
          v-bind:class="{ loading: isRequestInProgress, disabled: isRequestInProgress || disabled }"
          @click="nextStepButtonClicked">
      <label><%= I18n.t('next_step') %></label>
      <i class="arrow right icon"></i>
    </button>
  </div>
</template>

<script>
    import {mapState, mapMutations, mapActions} from 'vuex'

    export default {
        name: 'next-step-button',
        props: ['disabled', 'loading'],
        computed: {
            isRequestInProgress: function () {
                return this.loading
            }
        },
        methods: {
            nextStepButtonClicked: function () {
                this.$emit('click')
            }
        }
    }
</script>

<style lang="sass">
  .next.step.container
    height: 2em
    position: relative
    margin-top: 1em
    margin-bottom: 1em
  .next.step.button
    margin: 0
    position: absolute !important
    right: 0%  !important
</style>
