<template>
  <button class="ui teal right labeled icon button right floated"
          v-bind:class="{ loading: isRequestInProgress, disabled: isRequestInProgress }"
          @click="nextStepButtonClicked">
    <label><%= I18n.t('next_step') %></label>
    <i class="arrow right icon"></i>
  </button>
</template>

<script>
    import {mapState, mapMutations, mapActions} from 'vuex'

    export default {
        name: 'next-step-button',
        computed: {
            isRequestInProgress: function () {
            }
        },
        methods: {
            nextStepButtonClicked: function () {
            }
        }
    }
</script>

<style lang="sass">
</style>
