@use "base"

body
  font-family: 'Marianne', 'Arial', sans-serif

a.fr-link:hover
  color: base.$blue

.blue
  color: base.$blue !important

.text-blue
  color: var(--text-action-high-blue-france)

.blue-dark
  color: base.$blue-dark !important

.orange
  color: base.$orange !important

.red
  color: base.$red !important

.green
  color: base.$green !important

.tilleul
  color: base.$tilleul !important

.grey-blue
  color: base.$grey-blue !important

.white
  color: base.$white !important

.bold
  font-weight: bold !important

.text-dark-grey
  color: base.$grey-dark !important

.text-normal
  font-weight: normal !important

.date
  font-style: italic
  font-size: 0.9rem
  color: base.$grey-dark

.crossed-out-text
  text-decoration: line-through
  text-decoration-thickness: 2px