#profile
  {{editMode}}
  {{profileFields}}
  %table.ui.padded.basic.table
    %tbody
      %tr{is: 'profile-item', 'v-for' => 'info in profileFields', ':info' => 'info'}

  .ui.button{'@click' =>  'editMode = !editMode'}
    %div{'v-if' => 'editMode'}
      = I18n.t('cancel')
    %div{'v-else' => true}
      = I18n.t('edit')

= javascript_pack_tag 'user_profile/user_profile'
