#profile
  .ui.segments
    - %i[full_name role phone_number email].each do |attribute|
      .ui.attached.segment
        %strong #{User.human_attribute_name(attribute)} :
        = @user.send(attribute)
    -# %a.ui.bottom.attached.basic.green.button{ href: edit_user_registration_path }= t('edit')

  // Teams
  - if @user.experts.present?
    %h2= t('activerecord.models.expert.one')
    - @user.experts.each do |expert|
      = render 'team', expert: expert, user: @user
