- if flash.present?
  .fr-container.fr-mt-6v.fr-mb-1w
    - flash.each do |type, message|
      - case type
      - when 'notice'
        .fr-alert.fr-alert--success
          %h2.fr-alert__title
            = message.html_safe
      - when 'alert'
        .fr-alert.fr-alert--error
          - if action_name == 'new' && controller_name == 'sessions' # display 'aria-describedby' for login form
            %h2.fr-alert__title{ 'aria-describedby': 'user_email user_password' }
              = message.html_safe
          - else
            %h2.fr-alert__title
              = message.html_safe
