.fr-alert.fr-alert--info.fr-alert--sm
  %p Astuce : utiliser une phrase comme votre mot de passe (« phrase de passe ») ou un <a href="https://www.cybermalveillance.gouv.fr/medias/2024/05/220721_FichePratique_MotsDePasse_SCREEN.pdf" target="_blank" rel="noopener">gestionnaire de mot de passe</a>. Les consignes de mot de passe visent à assurer la sécurité du service.
