= form_with url: request.path, method: :get, skip_enforcing_utf8: true, class: '' do
  - options = { include_blank: t('all_choices'), class: 'fr-select' }
  .two.fields
    .field
      = label_tag(:territory, t('.region'), class: 'fr-label')
      = select_tag(:territory,
        options_from_collection_for_select(territories, :id, :name, params[:territory] || session[:territory]),
        options.dup)
