= form_with url: request.path, method: :get, skip_enforcing_utf8: true, class: 'ui large form' do
  - options = { include_blank: t('all_choices'), class: 'ui search selection dropdown clearable', onchange: 'this.form.submit();' }
  .two.fields
    .field
      = label_tag(t('.region'))
      = select_tag(:territory,
        options_from_collection_for_select(territories, :id, :name, params[:territory] || session[:territory]),
        options.dup)
