%h3 Le tutoriel Conseillers-Entreprises

%p Le logo Conseillers-Entreprises apparaît.


%p
  %b Présentateur :
  "Bonjour, nous allons voir ensemble en quelques minutes seulement comment fonctionne le service public Conseillers-Entreprises et comment le service fonctionne.
%p Si vous avez déjà eu une présentation du service et souhaitez simplement savoir comment prendre en charge les demandes, il vous suffit de choisir le chapitre suivant de la vidéo. Un petit indicateur temporel va s’afficher à l’écran afin de vous permettre de passer directement à la suite.
%p Conseillers-Entreprises, qu’est-ce que c’est ? Eh bien c’est un service numérique qui permet de faciliter la mise en relation entre un chef d’entreprise et LE conseiller qui peut l’aider sur sa problématique.
%p Mais pourquoi a-t-on besoin de cet outil ?
%p Essentiellement pour deux raisons.
%ul
  %li La première est que les TPE/PME n’ont généralement pas les ressources en interne leur permettant d’identifier les bonnes personnes à contacter au sujet de leur problématique, que ce soit pour des raisons de temps autant que de connaissance des accompagnements des institutions publiques et parapubliques.
  %li La seconde c’est qu’il permet de décloisonner les différentes institutions. Ainsi dans les cas où plusieurs institutions sont compétentes sur une problématique, elles peuvent échanger entre elles et se coordonner pour une prise en charge plus efficace. Le dirigeant bénéficie alors d’un accompagnement optimal grâce à des expertises complémentaires : les vôtres."

%p Un schéma apparaît à l’écran, indiquant une relation circulaire entre "Un chef d’entreprise" (explication : "La simplicité pour le chef d’entreprise qui exprime un besoin"), "Un service partagé en ligne" (explication : "le numérique comme levier de nouvelles relations") et "Un ou des experts" (explication : "Un conseil humain adapté à chaque situation")

%p
  %b Présentateur en voix off :
  "En pratique, Conseillers-Entreprises est un système de mise en relation entre les demandes exprimées par les entreprises sur une interface Web et une ou plusieurs expertises. Chacun d’entre vous est ainsi rattaché à une ou plusieurs expertises permettant de vous transmettre les demandes relevant de votre périmètre d’intervention. En pratique, cela se traduit par un immense carnet d’adresses de 10 000 conseillers au sein de 40 partenaires, couvrant chaque région et département du pays."

%p
  %b Présentateur :
  "Passons à la pratique, comment ça marche ?"

%p Une capture vidéo montrant comment déposer un besoin sur Conseillers-Entreprises à partir de la page d’accueil défile pendant que le présentateur parle en voix off.

%p
  %b Présentateur en voix off :
  "Du côté des dirigeants d’entreprises, le fonctionnement est simple : lorsqu’ils arrivent sur le site Conseillers-Entreprises, ils choisissent la thématique correspondant à leur problématique. Ce point d’entrée est ensuite affiné en sujets plus précis, permettant au dirigeant de qualifier au mieux sa demande. Il n’a ensuite plus qu’à laisser ses coordonnées, ainsi que son siret, puis à partager des éléments de contexte concernant sa situation, lui permettant ensuite d’envoyer sa demande."

%p
  %b Présentateur :
  "Une fois que c’est envoyé, notre équipe procède à une simple vérification : le dirigeant a-t-il choisi le bon sujet par rapport à sa demande ? A-t-il donné suffisamment d’éléments de contexte pour que vous puissiez entamer la discussion et prendre en charge sa demande ?
%p Si ce n’est pas le cas, nous demandons des précisions au dirigeant. Dans le cas contraire, c’est parti, la demande vous est transmise."

%p Apparaît à l’écran un mail de notification d’un nouveau besoin.
%p
  %b Présentateur en voix off :
  "Vous allez ainsi recevoir un mail comme celui que vous voyez ici qui vous permet ensuite d’accéder à la demande. Vous trouverez un premier niveau d’information ici concernant l’entreprise, le sujet, ainsi que la personne au sein de Conseillers-Entreprises qui vous a fait parvenir la demande.
%p Afin d’accéder à la demande, vous n’avez qu’à cliquer ici, sur le bouton « Voir le besoin de l’entreprise », et vous allez ensuite pouvoir accéder directement à la demande si vous êtes déjà connecté(e). Dans le cas contraire, pas de panique, vous arriverez également à bon port puisque votre première connexion vous guide vers votre boîte de réception où sont regroupées toutes les demandes qui vous ont été adressées."

%p Une fiche besoin apparaît à l’écran, que le présentateur va détailler en voix off élément par élément.

%p
  %b Présentateur en voix off :
  "Nous voici donc du côté conseiller sur le site Conseillers-Entreprises. Sur cette page là, ce que vous allez voir ce sont deux choses. Sur la partie gauche, ce sont les informations concernant l’entreprise. Vous avez les coordonnées qu’a complété le dirigeant ou la dirigeante d’entreprise lors du dépôt de sa demande. Vous disposez ainsi de son numéro de téléphone et de son adresse mail, ainsi que des informations concernant l’entreprise.
%p Ensuite, vous n’avez qu’à cliquer sur le bouton « Plus d’information » pour avoir davantage d’informations sans sortir du site Conseillers-Entreprises. Même chose sur le bouton ici, « Historique des besoins », qui vous permet également d’avoir des éléments de contexte qui concernent l’activité de l’entreprise sur le site Conseillers-Entreprises, c’est-à-dire les demandes qui ont été déposées par le passé.
%p Dernier point : si vous avez une question concernant la demande ou l’outil, vous pouvez voir les coordonnées de la personne qui vous a transmis la demande au sein de Conseillers-Entreprises.
%p Concernant l’autre partie de l’écran, vous allez avoir le sujet qui a été choisi par le chef d’entreprise, ainsi que les éléments de contexte que vous allez retrouver en-dessous. Vous allez donc avoir le message qu’a partagé le dirigeant d’entreprise dans la petite case que nous avions vu tout à l’heure dans la dernière étape de dépôt de la demande. Avec tous ces éléments là, vous êtes en mesure de vous positionner par rapport à cette demande et allez pouvoir définir si vous êtes oui ou non en mesure d’intervenir.
%p Le cas de figure classique est celui où vous êtes en mesure de prendre en charge la demande, auquel cas vous cliquez sur le bouton « J’appelle ».
%p À ce moment là, le dirigeant d’entreprise reçoit un mail qui lui indique qu’un conseiller a pris en charge sa demande. Il va s’attendre à être recontacté. C’est pour cela que nous vous rappelons ici le numéro de mobile qui a été renseigné par le dirigeant d’entreprise, pour que vous puissiez le rappeler. Notez bien qu’il est important que le premier contact soit un appel plutôt qu’un mail puisque nous avons constaté que les mails étaient peu vus par les dirigeants. Par ailleurs, notre dernière enquête satisfaction a révélé que 90% des dirigeants d’entreprise ayant été rappelés se disent contents de leur échange. Votre expertise est attendue et appréciée à sa juste valeur, n’hésitez donc pas !
%p N’oubliez par ailleurs pas de recontextualiser votre appel en rappelant qu’il s’effectue dans le cadre d’une demande qui a été déposée sur Conseillers-Entreprises.
%p Une fois que l’appel est passé, il vous suffit de nous en partager l’issue. Si vous avez pu proposer une aide au dirigeant, y compris sous la forme de conseils et renseignements, vous pouvez cliquer sur le bouton « Aide proposée », à la suite de quoi nous vous demandons de partager un commentaire à l’intention des collègues notifiés à vos côtés.
%p De fait, c’est ici que votre commentaire apparaitra. Cet espace d’échange et de discussions entre les experts vous permet de partager les éléments et les échanges que vous avez eu avec le dirigeant d’entreprise, tout autant que de bénéficier des éléments de contexte fournis par chacun des interlocuteurs.
%p En ce qui concerne les autres issues possibles, il arrive également que le dirigeant ou la dirigeante d’entreprise ne soit pas joignable, auquel cas nous vous demandons de lui laisser un message vocal avec vos coordonnées pour que la personne puisse reprendre contact avec vous.
%p Autre cas de figure : après échange avec le dirigeant d’entreprise vous constatez que votre institution n’est pas en mesure de proposer d’aide par rapport à sa problématique, auquel cas vous cliquez tout simplement sur « Pas d’aide » disponible.
%p Si vous pensez ne rien pouvoir faire pour cette entreprise, cliquez sur « Ce n’est pas pour moi » en nous laissant un commentaire afin de nous aider à améliorer l’orientation des besoins.
%p Maintenant c’est à vous de jouer !
%p Si vous avez une question, n’hésitez pas à contacter votre référent ou référente territoriale dont les coordonnées sont toujours indiquées en bas des mails Conseillers-Entreprises ainsi que dans les fiches.
%p À très bientôt
