%button.fr-btn.fr-btn--tertiary-no-outline{ type: 'button', 'data-action': "password-visibility#toggle" }
  %span{ 'data-password-visibility-target': 'icon' }
    %span.ri-eye-line.fr-mr-1w{ 'aria-hidden': 'true' }
    = t('.display')
  %span.hidden{ 'data-password-visibility-target': 'icon' }
    %span.ri-eye-off-line.fr-mr-1w{ 'aria-hidden': 'true' }
    = t('.hide')
