- if landing_topics.present?
  %h3
    = t('.example_topics')
  .row
    = render partial: 'landing_topics/landing_topic', collection: landing_topics
  %p
    = t('.not_in_topics')
    = link_to t('.not_in_topics_more'), root_path
