%li.panel.landing-topic{ onclick: "_paq.push(['trackEvent', 'landing-topic', '#{landing_topic.title}']);" }
  %input{ :checked => "checked", :type => "checkbox" }
  %i
  .panel__header
    %h3= simple_format(landing_topic.title, {}, wrapper_tag: 'span')
  .lead-text= landing_topic.description.html_safe
