%li.panel.landing-topic
  %input{ :checked => "checked", :type => "checkbox", onchange: "sendLandingTopicEvent('#{landing_topic.title}')" }
  %i
  .panel__header
    %h3= landing_topic.title.html_safe
  .lead-text= landing_topic.description.html_safe
