- landing_topics = landing.landing_topics.ordered_for_landing
- if landing_topics.present?
  %h3
    = landing.landing_topic_title.presence || t('.default_landing_topic_title')

  = render landing_topics
