.section-light-grey
  background-color: $blue-lighter-background
  opacity: 0.5

.blank-section
  padding: 2.5rem 0

.section-grey
  background-color: $blue-lighter-background

.section-lightest-grey
  background-color: $blue-lighter-background

.section-partners
  .logo-list
    margin: 1rem auto 2rem auto
    text-align: center
    img
      max-height: 70px
      max-width: 180px
      margin: 6px
      vertical-align: middle
  .title
    p
      font-size: 1.2rem
    a
      color: $blue

#newsletter
  form
    max-width: 35rem
    margin: auto
