.multistep-form
  .submit-buttons
    display: flex
    justify-content: flex-end
    flex-wrap: wrap
    .fr-btn
      display: flex
      margin-bottom: 0.5rem
      justify-content: center
      &:not(:first-child)
        margin-left: 1rem
      .icon
        font-size: 1.5rem
        justify-content: space-between
  .contact-delay
    display: flex
    img
      margin-right: 0.5rem
      width: 50px
      height: 50px
  .title-icon
    display: flex
    align-items: center
    span:first-of-type
      font-size: 2.5rem
      margin-right: 0.5rem
  .explanation
    img
      height: 1.5rem
  .fr-fieldset__content
    display: flex

.je-donne-mon-avis
  a
    background: none

.legal-notice
  p
    font-size: 0.7rem
    margin: 1.5rem auto 0 auto
    color: $grey-dark
  img
    padding-bottom: 2px
