.main-stat
  margin-bottom: 2rem
  .container
    padding: 0 1.5rem
  .header
    max-width: 50em
    margin: 0 auto
  .highlight
    font-size: 5rem
  .incipit
    font-size: 1.5rem
    font-weight: bold
    color: $grey-dark

#section-stats
  .fr-tile__link.active
    color: $blue
