- if session[:region_in_territory].present?
  .notification.full-width.error
    .container
      %p= session[:region_in_territory].html_safe
      = link_to t('.learn_more'), qui_sommes_nous_path, class: 'button small warning'
