- if ENV['DEPLOYED_REGIONS'].present? && (session[:region].nil? || ENV['DEPLOYED_REGIONS'].exclude?(session[:region]))
  .notification.full-width.error.region-alerte
    .container
      %p= t('pages.alert_region.alert_region_html')
      = link_to t('.learn_more'), comment_ca_marche_path(anchor: 'section-newsletter'), class: 'button small warning'
