- if Territory.deployed_codes_regions.present? && !session[:in_deployed_region]
  .notification.full-width.error.region-alerte
    .container
      %p= t('pages.alert_region.alert_region_html')
      = link_to t('.learn_more'), comment_ca_marche_path(anchor: 'section-newsletter'), class: 'button small warning'
