.section.section-light-grey.landing.small-padding#section-breadcrumbs
  .container.breadcrumbs
    - if defined? landing_theme
      - landing_subject ||= nil
      = raw breadcrumbs_landing(landing, landing_theme, landing_subject)
    - else
      = breadcrumbs_page(title)
