.section.section-light-grey.landing.small-padding#section-breadcrumbs
  .container.breadcrumbs
    - if defined? landing_theme
      - landing_subject ||= nil
      = breadcrumbs_landing(landing_theme, landing_subject,landing_slug: params[:landing_slug], institution: params[:institution].presence)
    - else
      = breadcrumbs_page(title)
