.fr-container--fluid.section-light-grey.fr-py-3w#section-breadcrumbs
  .fr-container
    %nav.fr-breadcrumb.fr-my-1v{ 'aria-label': t('.you_are_here'), role: 'navigation' }
      %button.fr-breadcrumb__button{ 'aria-controls': "breadcrumb-1", 'aria-expanded': "false" }
        = t('.see_breadcrumb')
      .fr-collapse#breadcrumb-1
        %ol.fr-breadcrumb__list.breadcrumbs
          - if defined? landing
            - landing_theme ||= nil
            - landing_subject ||= nil
            - title ||= nil
            = raw breadcrumbs_landing({ landing: landing, landing_theme: landing_theme, landing_subject: landing_subject }, query_params, title)
          - else
            = breadcrumbs_page(title)
