.section.section-light-grey.landing.small-padding#section-breadcrumbs
  .container.breadcrumbs
    - if defined? landing
      - landing_option ||= nil
      = breadcrumbs_landing(landing, landing_option, institution: params[:institution].presence)
    - else
      = breadcrumbs_page(title)
