%ul.fr-nav__list
  = navbar_item root_path, t('breadcrumbs_helper.home_link.home'), 'ri-home-line', active: :exclusive
  = navbar_item comment_ca_marche_path, t('about.comment_ca_marche.title'), 'ri-presentation-line'
  = navbar_item temoignages_experts_path, t('about.temoignages_experts.title'), 'ri-chat-smile-2-line'
