// Colors
$white: #fff
$blue: #0053b3
$blue-lighter-background: #f2f5f8
$green: #12882D
$green-lighter: #FAFEFB
$orange: #B95E06
$red: var(--rm500)
$orange-lighter: #FEF7EF
$grey-blue: #6B74A5
$grey-blue-lighter: #eff0f7
$red: var(--rm500)
$red-lighter: #fff1f1
$grey: var(--g500)
$grey-light: var(--g300)

// Breaking points
$bp-sm: 576px
$bp-md: 768px
