// Colors
$blue: #0053b3
$lighter-blue-background: #f2f5f8
$green: #12882D
$lighter-green: #FAFEFB
$orange: #B95E06
$lighter-orange: #FEF7EF
$grey-blue: #6B74A5
$lighter-grey-blue: #eff0f7
$red: var(--rm500)
$lighter-red: #fff1f1
$grey: var(--g500)
$light-grey: var(--g300)
