.list-unstyled
  list-style: none
  & > li::before
    content: none

.order-minus-one
  order: -1
  &.bp-sm
    @media (max-width: $bp-sm)
      order: 0

.lighter-blue-bg
  background-color: $blue-light

.white-bg
  background-color: $white

.hidden
  display: none

.simpletooltip[aria-hidden="true"],
.minimalist-simpletooltip[aria-hidden="true"],
.minimalist-left-simpletooltip[aria-hidden="true"]
  display: none

.text-right
  text-align: right

.float-right
  float: right

.text-center
  text-align: center

.bottom_actions
  display: flex
  justify-content: space-between

.justify-around
  display: flex
  justify-content: space-around

.break-word
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  word-break: break-word
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto
/* box shadow pas heureux quand lien sur 2 lignes */
a.fr-breadcrumb__item a.break-word, .fr-prose a.break-word, [class*=" fr-"] a.break-word, [class^=fr-] a.break-word, [data-fr-reset] a.break-word
  text-decoration: underline
  box-shadow: none

.details--with-title
  summary
    h2, h3, h4
      display: inline-block
      margin-bottom: 1rem
      text-decoration: underline

.warning-main-525-bg
  background-color: $warning-main-525 !important
  &:hover
    background-color: $warning-main-525-hover !important

.error-425-bg
  background-color: $error-425 !important
  &:hover
    background-color: $error-425-hover !important

.success-main-525-bg
  background: $success-main-525 !important
  &:hover
    background-color: $success-main-525-hover !important

.grey-medium-bg
  background-color: $grey-dark !important
  &:hover
    background-color: $grey !important

.info-icon
  cursor: help

// Clickable items containing an a
.block-link
  position: relative
  a::after
    z-index: 1
    position: absolute
    content: ""
    top: 0
    bottom: 0
    left: 0
    right: 0

.display-flex-center
  align-items: center
  justify-content: center
  display: flex
