-# locals: (errors:)

- if errors.present?
  .fr-alert.fr-alert--warning.fr-alert--sm
    %h4.fr-alert__title= t(".title")
    - failing_apis = [] + Array(errors[:standard_api_errors]&.keys) + Array(errors[:unreachable_apis]&.keys)
    = t(".unavailable", names: failing_apis.map{ t(_1, scope: 'api_name') }.to_sentence, count: failing_apis.count)
