- diagnoses = Diagnosis.completed.where(needs: received_needs).distinct.order(happened_on: :desc)

.ui.aligned.grid.padded
  .aligned.eight.wide.column
    %p= collection_count received_needs

= paginate received_needs

.ui.segments.shadow-less.selectable-list
  = render partial: 'diagnoses/diagnosis', collection: diagnoses, locals: { needs_of_interest: received_needs,
    highlighted_expert: local_assigns[:highlighted_expert] }, cached: true

= paginate received_needs
