- meta title: t('.title')
- content_for :header, render('reminders/header', title: t('.title', expert: @expert), section: :needs, scope: @expert)
- content_for :menu, render('menu', collections_by_reminders_actions_count: @collections_by_reminders_actions_count)

= render 'reminders/needs', received_needs: @needs, action: @action
