var html = "<p class='fr-btn fr-btn--secondary fr-btn-green fr-fi-checkbox-circle-line fr-btn--icon-left fr-mr-2v'>#{I18n.t('reminders.need.abandoned_need_email_sent')}</p>"
$('#abandoned-email-#{@need.id}').replaceWith(html);
