- html = ''
- @need.badges.each do |badge|
  - html += "#{badge_label(badge)}"

var $div = $('#need-#{@need.id}-badges')
var $form = $('.badges-form')

if ($div.length) {
$div.html('#{html.html_safe}')
$div.removeClass('hide')
}
if ($form.length) {
$form.addClass('hide')
}
