- meta title: @institution.name
- content_for :header, render('header', institution: @institution)
- content_for :menu, render('menu', institution: @institution)

= render 'form', institution: @institution

= render 'import_buttons'

- if @antennes.present?
  = render 'table', antennes: @antennes
- else
  .fr-alert.fr-alert--info.fr-alert--sm
    %p= t('.no_antenne')
