- meta title: @institution.name
- content_for :header, render('header', institution: @institution)
- content_for :menu, render('menu', institution: @institution)

= render 'annuaire/search'

= render 'import_buttons'

= render 'table', antennes: @antennes
