- meta title: @institution.name
- content_for :header, render('header', institution: @institution)
- content_for :menu, render('menu', institution: @institution)

= render 'import_buttons'

- cache(@antennes) do
  = render 'table', antennes: @antennes
