- meta title: @institution.name
- content_for :header, render('header', institution: @institution)
- content_for :menu, render('menu', institution: @institution)

.fr-container
  = render 'import_buttons'

  = render 'table', antennes: @antennes
