.fr-container
  .fr-grid-row
    .fr-col
      %h3.fr-m-0= expert.antenne
      .fr-text--sm.bold.fr-m-0
        = expert.full_name
        - if expert.users.any?{ |user| user.invitation_not_accepted? }
          %span.picto.ri-mail-forbid-line{ 'aria-hidden': 'true', title: t('.invitation_not_accepted') }

      .fr-text--sm.fr-m-0= expert.job
    .fr-col
      - experts_subjects.each do |expert_subject|
        = [expert_subject.institution_subject, expert_subject.intervention_criteria].compact_blank.join(' — ')
        %br
