.fr-container
  .fr-grid-row
    .fr-col
      %h3.fr-text--lead.fr-m-0= expert.antenne
      %p.fr-text--sm.bold.fr-m-0
        = expert.full_name
        - if expert.users.any?{ |user| user.invitation_not_accepted? }
          %span.picto.ri-mail-forbid-line{ 'aria-hidden': 'true', title: t('.invitation_not_accepted') }
      %p.fr-text--sm.fr-m-0= expert.job
    .fr-col
      %ul.fr-m-0
        - experts_subjects.each do |expert_subject|
          %li= [expert_subject.institution_subject, expert_subject.intervention_criteria].compact_blank.join(' — ')

