.ui.mini.ordered.steps.fluid
  - Diagnosis.steps.except(:not_started, :completed).each do |key, value|
    - class_for_step = html_classes_for_step(value, current_page_step, diagnosis_step)
    .step{ class: class_for_step }
      .content
        .title
          = t("diagnoses.steps.#{key}.title")
