.steps.fr-my-4w
  - Diagnosis.creation_steps.each do |key,value|
    - class_for_step = html_classes_for_step(value, current_page_step, diagnosis_step)
    .step
      .step__title{ class: class_for_step }
        = Diagnosis.human_attribute_value(:status, key)

