- if current_page.last?
  %li.fr-pagination__item--last.fr-pagination__item.fr-pagination__item--disabled
- else
  %li.fr-pagination__item--last.fr-pagination__item
    = link_to url, title: t('views.pagination.last'), "aria-label": t('views.pagination.last'), class: 'fr-pagination__link', remote: remote do
      %span

