- if current_page.last?
  %li.rf-pagination__item--last.rf-pagination__item.rf-pagination__item--disabled
- else
  %li.rf-pagination__item--last.rf-pagination__item
    = link_to url, title: t('views.pagination.last'), "aria-label": t('views.pagination.last'), class: 'rf-pagination__link', remote: remote do
      %span

