- if current_page.last?
  %li.rf-pagination__item--next.rf-pagination__item.rf-pagination__item--disabled
    %span.rf-pagination__label= t('views.pagination.next')
- else
  %li.rf-pagination__item--next.rf-pagination__item
    = link_to t('views.pagination.next'), url, title: t('views.pagination.next_page'), "aria-label": t('views.pagination.next_page'),
      class: 'rf-pagination__link', remote: remote
