- if current_page.last?
  %li
    %a.fr-pagination__link.fr-pagination__link--next.fr-pagination__link--label
      = t('views.pagination.next')
- else
  %li
    = link_to t('views.pagination.next'), url, title: t('views.pagination.next'), 'aria-label': t('views.pagination.next'),
      class: 'fr-pagination__link fr-pagination__link--next fr-pagination__link--label', remote: remote
