- if page.current?
  %li
    = link_to page, url, title: t('.page_number', number: page), class: 'fr-pagination__link',
      "aria-current" => t('.page'), remote: remote
- else
  %li
    = link_to page, url, title: t('.page_number', number: page), class: 'fr-pagination__link',
      "aria-label": t('.page_number', number: page), remote: remote
