- if page.current?
  %li.fr-pagination__item.fr-pagination__item--active{ "aria-current" => t('.page') }
    = page
- else
  %li.fr-pagination__item.fr-pagination__item--from-md
    = link_to page, url, title: t('.page_number', number: page), class: 'fr-pagination__link',
      "aria-label": t('.page_number', number: page), remote: remote
