- if page.current?
  %li.rf-pagination__item.rf-pagination__item--active{ "aria-current" => t('.page') }
    = page
- else
  %li.rf-pagination__item.rf-pagination__item--from-md
    = link_to page, url, title: t('.page_number', number: page), class: 'rf-pagination__link',
      "aria-label": t('.page_number', number: page), remote: remote
