- if current_page.first?
  %li.rf-pagination__item--prev.rf-pagination__item.rf-pagination__item.rf-pagination__item--disabled
    %span.rf-pagination__label= t('views.pagination.previous')
- else
  %li.rf-pagination__item--prev.rf-pagination__item.rf-pagination__item
    = link_to t('views.pagination.previous'), url, title: t('views.pagination.previous_page'),
      "aria-label": t('views.pagination.previous_page'), class: 'rf-pagination__link', remote: remote
