- if current_page.first?
  %li
    %a.fr-pagination__link.fr-pagination__link--prev.fr-pagination__link--lg-label
      = t('views.pagination.previous')
- else
  %li
    = link_to t('views.pagination.previous'), url, title: t('views.pagination.previous'),
      'aria-label': t('views.pagination.previous'), class: 'fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label', remote: remote
