- if current_page.first?
  %li.fr-pagination__item--prev.fr-pagination__item.fr-pagination__item.fr-pagination__item--disabled
    %span.fr-pagination__label= t('views.pagination.previous')
- else
  %li.fr-pagination__item--prev.fr-pagination__item.fr-pagination__item
    = link_to t('views.pagination.previous'), url, title: t('views.pagination.previous'),
      "aria-label": t('views.pagination.previous'), class: 'fr-pagination__link', remote: remote
