%h3 Le tutoriel Place des Entreprises

%p Le logo Place des Entreprises apparaît.


%p
  %b Présentateur :
  "Bonjour, nous allons voir ensemble en quelques minutes seulement en quoi consiste le service public Place des Entreprises et comment le service fonctionne.
%p Si vous avez déjà eu une présentation du service et souhaitez simplement savoir comment prendre en charge les demandes, il vous suffit de choisir le chapitre suivant de la vidéo. Un petit indicateur temporel va également s’afficher à l’écran pour vous permettre d’avancer directement à la suite.
%p Place des Entreprises, qu’est-ce que c’est ? Eh bien c’est un outil numérique qui permet de faciliter la mise en relation entre un entre un chef d'entreprise et LE conseiller qui peut l'aider sur sa problématique.
%p Mais pourquoi a-t-on besoin de cet outil ?
%p Essentiellement pour deux raisons.
%ul
  %li La première est que les TPE/PME n’ont généralement pas les ressources en interne leur permettant d’identifier les bons personnes à contacter concernant leur problématique, que ce soit pour des raisons de temps autant que de connaissance et compréhension du périmètre d’action des institutions publiques et parapubliques.
  %li La seconde c’est qu’il permet de décloisonner les différentes institutions, puisque dans les cas où plusieurs institutions sont compétentes sur une problématique, elles peuvent échanger entre elles et se coordonner pour prise en charge plus efficace. Le dirigeant bénéficie alors d'un accompagnement optimal grâce à des expertises complémentaires."

%p Un schéma apparaît à l'écran, indiquant une relation circulaire entre "Un chef d'entreprise" (explication : "La simplicité pour le chef d'entreprise qui exprime un besoin"), "Un service partagé en ligne" (explication : "le numérique comme levier de nouvelles relations") et "Un ou des experts" (explication : "Un conseil humain adapté à chaque situation")

%p
  %b Présentateur en voix off :
  "En pratique, Place des Entreprises c'est un système de mise en relation entre les demandes exprimées par les entreprises sur une interface Web et les conseillers et les experts, que nous avons référencé dans un carnet d'adresses géant de plus de 50 partenaires couvrant chaque région et chaque département métropolitain."

%p
  %b Présentateur :
  "Passons à la pratique, comment ça marche ?"

%p Une capture vidéo montrant comment déposer un besoin sur Place des Entreprises à partir de la page d'accueil défile pendant que le présentateur parle en voix off.

%p
  %b Présentateur en voix off :
  "Du côté des dirigeants d’entreprises le fonctionnement est simple : lorsqu’ils arrivent sur le site Place des Entreprises, ils choisissent la thématique correspondant à leur problématique. Ce point d’entrée est ensuite affiné en sous-thématiques, permettant au dirigeant de qualifier au mieux sa demande. Il n’a ensuite plus qu’à laisser ses coordonnées, ainsi que son Siret, puis à partager des éléments de contexte concernant sa situation, lui permettant ensuite d’envoyer sa demande."

%p
  %b Présentateur :
  "Une fois que c’est envoyé, notre équipe procède à une une simple vérification : le dirigeant a-t-il choisi le bon sujet par rapport à sa demande ? A-t-il donné suffisamment de contexte pour que les conseillers puissent prendre en charge sa demande ?
%p Si ce n’est pas le cas, nous demandons des précisions au dirigeant. Dans le cas contraire, c’est parti, la demande est automatiquement transmise aux conseillers compétents."

%p Apparaît à l'écran un mail de notification d'un nouveau besoin.
%p
  %b Présentateur en voix off :
  "Vous allez ainsi recevoir un mail comme celui que vous voyez ici qui vous permet ensuite d'accéder à la demande. Vous allez donc avoir à la fois un premier niveau d'information ici concernant l'entreprise, la thématique, ainsi que la personne au sein de Place des Entreprises qui vous a fait parvenir la demande.
%p Pour accéder à la demande vous n'avez qu'à cliquer ici, sur le bouton « voir la demande », et vous allez ensuite accéder soit directement à la demande si vous êtes déjà connectés ou si vous n'êtes pas encore connecté vous allez accéder à votre boîte de réception."

%p Une fiche besoin apparaît à l'écran, que le présentateur va détailler en voix off élément par élément.

%p
  %b Présentateur en voix off :
  "Nous voici donc du côté conseiller sur le site Place des Entreprises. Sur cette page là, ce que vous allez voir ce sont deux choses sur la partie gauche, qui sont les informations concernant l'entreprise. Vous avez donc les coordonnées, comme nous l'avons vu tout à l'heure ce sont les coordonnées qu'a rempli le dirigeant d'entreprise, vous allez avoir un numéro de téléphone et un mail ainsi que des informations concernant l'entreprise.
%p Vous avez ainsi un premier niveau d'information ici, et ensuite vous n'avez qu'à cliquer sur le bouton « Plus d'information » pour avoir davantage d'informations sans sortir du site Place des Entreprises. Même chose sur le bouton ici « Historique des besoins », qui vous permet également d'avoir des éléments de contexte qui concernent l'activité de l'entreprise sur le site Place des Entreprises, c'est-à-dire les demandes qui ont été déposées par le passé.
%p Dernier point qui est également intéressant, c'est que vous allez voir ici les coordonnées de la personne qui vous a transmise la demande au sein de Place des Entreprises. En l'occurrence, sur ces demandes-là, c'est moi qui vous l'aurait transmise et vous allez donc avoir mes coordonnées que vous voyez à l'écran et qui vous permettent de me contacter si jamais vous aviez une question par rapport à la demande.
%p Concernant l'autre partie de l'écran vous allez avoir ici la thématique qui a été choisie par le chef d'entreprise et ensuite ici les éléments de contexte. Vous allez donc avoir le message qu'a partagé le dirigeant d'entreprise dans la petite case que nous avions vu tout à l'heure dans la dernière étape de dépôt de la demande. Avec tous ces éléments là vous êtes en mesure de vous positionner par rapport à cette demande vous allez pouvoir définir si vous êtes oui ou non en mesure d'intervenir.
%p Si cela sort de votre périmètre d'action, vous cliquez sur « Ce n'est pas pour moi ». Lorsque vous cliquez sur le bouton « Ce n'est pas pour moi », nous allons vous demander ensuite simplement de remplir un message d’une ou deux phrases qui nous permettent à nous autant qu'aux autres experts qui sont notifiés, que vous voyez en dessous, et que nous allons aborder juste après, de comprendre pourquoi vous estimez que cela ne rentre pas dans votre périmètre d'action.
%p Le cas de figure qui est en revanche plus classique, c'est que vous êtes en mesure de prendre en charge la demande auquel cas vous cliquez sur le bouton je m'en charge.
%p A ce moment là, le dirigeant d'entreprise reçoit un mail qui lui indique qu’un conseiller a pris en charge sa demande. Il va s'attendre à être rappelé c'est pour cela que nous vous rappelons ici le numéro de mobile qui a été renseigné par le dirigeant d'entreprise, pour que vous puissiez le rappeler. Notez bien qu'il est important que le premier contact soit un appel plutôt qu'un mail puisque nous avons constaté que les mails étaient peu vus par les dirigeants. N'oubliez pas non plus d'indiquer que vous appelez dans le cadre d'une demande qui a été déposé sur Place des Entreprises afin de recontextualiser votre appel auprès du dirigeant.
%p Une fois que c'est fait il y a trois issues possibles :
%p La première issue qui est l'issue la plus souhaitable est le fait que vous ayez pu proposer une aide. Ce que l'on entend par une aide va de l'accompagnement ou de l'aide financière jusqu'au conseil, c'est à dire que si vous avez été en mesure de renseigner le dirigeant d'entreprise, ne serait ce que sur une partie de son besoin ou de sa problématique, cela correspond tout à fait à une aide, et dans ce cas-là vous pouvez donc cliquer sur le bouton « Aide proposée », et pour lequel nous vous demandons également de partager un commentaire.
%p Ici ce commentaire est important à la fois pour tous les autres experts qui sont notifiés puisque vous partagez des informations qui vont permettre aux autres experts de réagir et de se positionner par rapport à cela, je vais vous montrer dans un instant tout l'intérêt de cet espace là, autant pour l’équipe Place des Entreprises puisque cela nous permet à nous aussi d'avoir un suivi de la prise en charge des demandes.
%p Pour rebondir sur ce que je viens de dire, nous avons ici tout un espace d'échange et de discussions entre les experts, qui vous permet de partager les éléments et les échanges que vous avez eu avec le dirigeant d'entreprise, tout autant que d'avoir des éléments de contexte et de disposer de visibilité sur les éléments dont dispose déjà le dirigeant d'entreprise.
%p Pour revenir à la prise en charge des demandes, il arrive également par exemple que le dirigeant d'entreprise ne soit pas joignable auquel cas nous vous demandons de lui laisser un message vocal avec vos coordonnées pour qu'il puisse vous recontacter.
%p Autre cas de figure, après échange avec le dirigeant d'entreprise vous constatez que votre institution n'est pas en mesure de proposer d’aide par rapport à sa problématique, auquel cas vous cliquez tout simplement sur « Pas d’aide » disponible.
%p Maintenant c’est à vous de jouer !
%p Si vous avez une question, n'hésitez pas à contacter la personne en charge du service dans votre région. Nos coordonnées sont toujours indiquées en bas des mails Place des Entreprises et dans les fiches.
%p À très bientôt