<template>
    <div class="ui dimmable segment shadow-less" v-bind:class="{ dimmed: disabled }">
        <div class="ui simple inverted dimmer">
            <div class="ui text loader"><%= I18n.t('diagnosis.show.save_loader') %></div>
        </div>
        <div class="ui form">
            <div class="field">
                <label><%= I18n.t('diagnosis.show.description') %></label>
                <textarea rows="2" v-model="diagnosis.content"></textarea>
            </div>
            <button class="small ui button" v-on:click="saveButtonClicked">
                <%= I18n.t('diagnosis.show.save_description') %>
            </button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'content-form',
        props: ['diagnosis_id'],
        data () {
            return {
                diagnosis: {content: ''},
                disabled: true
            }
        },
        mounted: function () {
            this.getDiagnosis();
        },
        methods: {
            getDiagnosis: function () {
                var that;
                that = this;
                axios.get('/api/diagnoses/' + this.diagnosis_id  + '.json')
                    .then(function (response) {
                        that.diagnosis = response.data;
                        that.disabled = false;
                    })
                    .catch(function (error) {
                    });
            },
            updateDiagnosis: function () {
                var that;
                that = this;
                axios.patch('/api/diagnoses/' + this.diagnosis_id, { diagnosis: this.diagnosis } )
                    .then(function (response) {
                        that.$nextTick(() => {
                            that.diagnosis = response.data;
                            that.disabled = false;
                        })
                    })
                    .catch(function (error) {
                    });
            },
            saveButtonClicked: function () {
                this.$nextTick(() => {
                    this.disabled = true;
                });
                this.updateDiagnosis();
            }
        }
    }
</script>

<style lang="sass">
</style>