<template>
    <div class="ui dimmable segment shadow-less" v-bind:class="{ dimmed: isLoading }">
        <div class="ui simple inverted dimmer">
            <div class="ui text loader"><%= I18n.t('diagnosis.show.save_loader') %></div>
        </div>

        <div>
            visitId  : {{ visitId }}
            assistanceId  : {{ assistanceId }}
            expertId  : {{ expertId }}
        </div>

        <p>
            Nombre de contacts  : {{ contacts.length }}
        </p>

        <div v-if="contacts.length > 0">
            <%= I18n.t('diagnosis.show.selected_visitee') %>
            <div v-for="contact in contacts">
                {{ contact.full_name }}
            </div>
            <div v-html="expertButton"></div>
        </div>
        <div v-else>
            <div class="ui small message"><%= I18n.t('diagnosis.show.no_visitee_message') %></div>
            <button class="ui button mailto-expert-button mini" v-on:click="addVisiteeButtonClicked"><%= I18n.t('diagnosis.show.add_visitee') %></button>
        </div>

        <add-contact-modal :show.sync= "modalIsShowing" v-bind:visit-id="visitId"
         v-on:close="onModalClose" v-on:save="onModalSave" ></add-contact-modal>
    </div>
</template>

<script>
    import he from 'he'
    import addContactModal from './addContactModal.vue.erb'
    import RequestService from './requestService'

    export default {
        name: 'send-email-segement',
        components: {
            'add-contact-modal': addContactModal
        },
        props: [
            'visitId',
            'assistanceId',
            'expertId'
            ],
        data: function () {
            return {
                isLoading: false,
                contacts: [],
                expertButton: '</br>',
                modalIsShowing: false
            }
        },
        created: function () {
            var onSuccess = function (response) {};
            var onError = function (error) {};
            this.requestService = new RequestService(onSuccess, onError);
        },
        mounted: function () {
            this.loadContacts();
        },
        watch: {
            contacts: function (newContacts) {
                if(newContacts.length > 0) {
                    this.getExpertButton();
                }
            }
        },
        methods: {
            loadContacts: function () {
                this.isLoading = true;
                var that = this;
                var onSuccess = function (response) {
                    that.isLoading = false;
                    that.contacts = response.data;
                };
                var config = {
                    method: 'get',
                    url: `/api/visits/${this.visitId}/contacts.json`
                };
                this.requestService.send(config, onSuccess);
            },
            getExpertButton: function () {
                var that = this;
                var onSuccess = function (response) {
                    var html = he.decode(response.data.html);
                    that.expertButton = html;
                };
                var config = {
                    method: 'get',
                    url: '/api/contacts/contact_button_expert.json',
                    params: {
                        visit_id: this.visitId,
                        assistance_id: this.assistanceId,
                        expert_id: this.expertId
                    }
                };
                this.requestService.send(config, onSuccess);
            },
            addVisiteeButtonClicked: function() {
                this.modalIsShowing = true;
            },
            onModalClose: function() {
            },
            onModalSave: function() {
            }
        }
    }
</script>

<style lang="sass">
</style>