<template>
    <div class="ui dimmable" v-bind:class="{ dimmed: isLoading }">
        <div class="ui simple inverted dimmer">
            <div class="ui text loader"><%= I18n.t('diagnosis.show.save_loader') %></div>
        </div>
        <div v-if="contacts.length > 0">
            <div v-html="expertButton"></div>
        </div>
        <div v-else>
            <div class="ui small message"><%= I18n.t('diagnosis.show.no_visitee_message') %></div>
            <button class="ui button mailto-expert-button mini" v-on:click="addVisiteeButtonClicked"><%= I18n.t('diagnosis.show.add_visitee') %></button>
        </div>

        <add-contact-modal :show.sync= "modalIsShowing" v-bind:visit-id="visitId"
         v-on:close="onModalClose" v-on:save="onModalSave" ></add-contact-modal>
    </div>
</template>

<script>
    import he from 'he'
    import addContactModal from './addContactModal.vue.erb'
    import RequestService from './requestService'

    import { mapState, mapMutations, mapActions } from 'vuex'
    import * as types from './store/mutationTypes'

    export default {
        name: 'send-email-segement',
        components: {
            'add-contact-modal': addContactModal
        },
        props: [
            'visitId',
            'assistanceId',
            'expertId'
            ],
        data: function () {
            return {
                isLoading: false,
                expertButton: '</br>',
                modalIsShowing: false
            }
        },
        computed: {
            ...mapState({
                contact: state => state.contactStore.contact
            }),
            contacts: function () {
                return [this.contact].filter( Boolean );
            },
        },
        created: function () {
            var onSuccess = function (response) {};
            var onError = function (error) {};
            this.requestService = new RequestService(onSuccess, onError);
        },
        mounted: function () {
            this.setVisitId({visitId: this.visitId});
            if(!this.isContactRequestUnderWay) {
                this.getContact();
            }
        },
        watch: {
            contacts: function (newContacts) {
                if(newContacts.length > 0) {
                    this.getExpertButton();
                }
            }
        },
        methods: {
            getExpertButton: function () {
                var that = this;
                var onSuccess = function (response) {
                    var html = he.decode(response.data.html);
                    that.expertButton = html;
                };
                var config = {
                    method: 'get',
                    url: '/api/contacts/contact_button_expert.json',
                    params: {
                        visit_id: this.visitId,
                        assistance_id: this.assistanceId,
                        expert_id: this.expertId
                    }
                };
                this.requestService.send(config, onSuccess);
            },
            addVisiteeButtonClicked: function() {
                this.modalIsShowing = true;
            },
            onModalClose: function() {
            },
            onModalSave: function() {
            },
            ...mapMutations({
                setVisitId: types.VISIT_ID
            }),
            ...mapActions([
                'getContact'
            ])
        }
    }
</script>

<style lang="sass">
</style>