var noComment = document.getElementById('no-comment')
if (noComment !== null) { noComment.remove() }

- feedback_html = render 'feedbacks/feedback', feedback: @feedback
document.getElementById('display-feedbacks-#{@feedback.feedbackable_id}').insertAdjacentHTML('beforeend', "#{j feedback_html}");

document.querySelector('.feedback-form-#{@feedback.feedbackable_id}').reset()

-# Si ça vient du formulaire de changement de statut d'un besoin
var form = document.getElementsByClassName('from_alert_box');
if (form.length > 0) {
form[0].insertAdjacentHTML('beforebegin', "#{j I18n.t('feedbacks.form.thank_you_html').html_safe}");
form[0].remove();
}
