- feedback_html = render @feedback, current_roles: @current_roles, highlighted_experts: []
document.getElementById('feedback_form-#{@feedback.need.id}').insertAdjacentHTML('beforebegin', "#{j feedback_html}");

document.querySelector('#feedback_form-#{@feedback.need.id} .form').reset()
