- match_html = render @match
document.getElementById('match-#{@match.id}').outerHTML = "#{j match_html}";

- need_header_html = render 'needs/need_header', need: @match.need
document.getElementById('need_header-#{@match.need.id}').outerHTML = "#{j need_header_html}";
