- if current_user.experts.include?(@match.expert)
  $('#match-actions').replaceWith("#{j(render :partial => 'needs/match_actions', locals: { match: @match })}");
- else
  $("#row-match-#{@match.id}").replaceWith("#{j(render :partial => 'match', locals: { match: @match })}");
