- if current_user.experts.include?(@match.expert)
  console.log('replace')
  console.log($('#match-actions'))
  $('#match-actions').replaceWith("#{j(render partial: 'needs/match_actions', locals: { match: @match, display_feedback_form: true })}");

$("#row-match-#{@match.id}").replaceWith("#{j(render partial: 'match', locals: { match: @match })}");
