<template>
  <div></div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as types from './store/mutationTypes'
import ErrorService from '../common/errorService'

export default {
  name: 'app-data-setter',
  props: [
    'diagnosisId',
    'diagnosisContent'
  ],
  created: function () {
    this.setDiagnosisId(this.diagnosisId)
    this.setDiagnosisContent(this.diagnosisContent)

    this.$store.dispatch('getDiagnosisContentValue').catch(ErrorService.report)
    this.$store.dispatch('getDiagnosedNeeds').catch(ErrorService.report)
  },
  methods: {
    ...mapMutations({
      setDiagnosisId: types.DIAGNOSIS_ID,
      setDiagnosisContent: types.DIAGNOSIS_CONTENT
    })
  }
}
</script>

<style lang="sass">
</style>
