<template>
  <button class="ui teal right labeled icon button right floated"
  v-bind:class="{ loading: isRequestInProgress, disabled: isRequestInProgress }"
  @click="nextStepButtonClicked">
    <label><%= I18n.t('next_step') %></label>
    <i class="arrow right icon"></i>
  </button>
</template>

<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
    import * as types from './store/mutationTypes'

    export default {
        name: 'next-step-button',
        computed: {
            ...mapState({
                diagnosisContent: state => state.step2Store.diagnosisContent,
                isRequestInProgress: state => state.step2Store.isRequestInProgress
            })
        },
        methods: {
            nextStepButtonClicked: function () {
                this.sendDiagnosisContentUpdate()
                .then( this.createSelectedQuestions() )
                .then( () => {
                    Turbolinks.visit('/')
                });
            },
            ...mapMutations({
                setRequestInProgress: types.REQUEST_IN_PROGRESS
            }),
            ...mapActions([
                'sendDiagnosisContentUpdate',
                'createSelectedQuestions'
            ])
        }
    }
</script>

<style lang="sass">
</style>