<template>
    <tr v-bind:class="{ greyed: selected }">
      <td>
        <label v-bind:for="checkboxId">
          <div class="full-width clickable">
            {{this.questionLabel}}
          </div>
        </label>
      </td>
      <td class="collapsing">
        <div class="ui fitted checkbox">
          <input v-bind:id="checkboxId"
          type="checkbox" v-model="selected" value="on"/>
          <label></label>
        </div>
      </td>
    </tr>
</template>

<script>
    import { mapState, mapGetters, mapMutations } from 'vuex'
    import * as types from './store/mutationTypes'

    export default {
        name: 'question-selection-row',
        props: [
            'questionId',
            'questionLabel'
        ],
        created: function () {
            this.selectQuestion({questionId: this.questionId, isSelected: false})
            this.setQuestionLabel({questionId: this.questionId, questionLabel: this.questionLabel})
        },
        computed: {
            ...mapState({
                isRequestInProgress: state => state.step2Store.isRequestInProgress
            }),
            ...mapGetters({
                getQuestionStateById: 'getQuestionStateById'
            }),
            checkboxId: function () {
                return `checkbox_${this.questionId}`
            },
            selected: {
                get () {
                    return this.getQuestionStateById(this.questionId).isSelected
                },
                set (value) {
                    this.selectQuestion({questionId: this.questionId, isSelected: value})
                }
            }
        },
        methods: {
            ...mapMutations({
                selectQuestion: types.QUESTION_SELECTED,
                setQuestionLabel: types.QUESTION_LABEL
            })
        }
    }
</script>

<style lang="sass">
  .greyed
    background-color: #F7F7F7
</style>
