.signature
  %p= t('.team_pde')
  %ul
    %li= t('.website.link_html', link: link_to(t('.website.title'), root_url))
    %li= t('.linkedin.link_html', link: link_to(t('.linkedin.title'), 'https://www.linkedin.com/company/place-des-entreprises'))
