.fr-card__c-container
  border: 1px solid var(--g600)
  p
    margin: 0 0 1rem

// Carte need
.fr-card__c-container--need
  .fr-card__detail
    margin: 0
  .fr-card__title
    margin-bottom: 0.5rem
  .fr-card__desc
    margin-bottom: 0
  .fr-text--lg
    margin-bottom: 0
