.label
  border: 1px solid $grey-light
  font-size: 0.75rem
  display: inline-block
  line-height: 1
  margin: 0.1 0.1rem
  padding: 0.5rem 0.7rem
  font-weight: bold
  border-radius: 0.3rem
  &.label--sm
    padding: 0.4rem 0.6rem
  .icon
    margin-right: 0.3rem
  &.green
    color: $green
    border-color: $green
    background-color: $green-lighter
  &.tilleul
    color: $tilleul
    border-color: $tilleul
    background-color: $tilleul-lighter
  &.red
    color: $red
    border-color: $red
    background-color: $red-lighter
  &.grey-blue
    color: $grey-blue
    border-color: $grey-blue
    background-color: #fff
  &.blue-dark
    color: $blue-dark
    border-color: $blue-dark
    background-color: lighten($blue-dark, 67%)
  &.orange
    color: $orange
    border-color: $orange
    background-color: #fff
