// Main navigation

.rf-header
  .pde-logo
    box-shadow: none
  .rf-nav__item--active
    .rf-link
      pointer-events: initial

.rf-menu
  right: 20px
  width: 15rem
  &:after
    margin-right: 0
  .rf-menu__item
    width: 17rem

@media (max-width: 48em)
  .rf-header__navbar
    margin-top: 0
    padding-top-top: 0
    &::after
      display: none
  .rf-nav__item > .rf-link
    justify-content: flex-start

@media (min-width: 48em)
  .rf-header
    .rf-nav
      display: flex
      justify-content: space-between
  .rf-header__body--hidden
    display: none
  .rf-header__body--displayed
    display: flex

// Left menu

@media (min-width: 48em)
  .rf-sidemenu
    .rf-sidemenu__inner
      padding: 0 1rem 0 0.25rem

.item-with-tag
  display: flex
.rf-sidemenu__list
  .rf-sidemenu__item--active
    color: $blue
  .rf-sidemenu__link
    i
      display: contents
  .rf-tag
    height: fit-content
