.fr-table.fr-table--c-sm
  td, th
    padding: 0.75rem

.fr-table
  p
    line-height: 1.25rem
    margin: 0

.fr-table--c-annuaire
  margin-bottom: 2.5rem
  table
    border-spacing: 0
    border-top: 0.125rem solid $grey
  td, th
    padding: 0.75rem
    text-align: left
    vertical-align: middle
    display: table-cell
    font-size: 0.875rem
    line-height: 1.5rem
  td
    border-left: 1px solid $grey-light
    border-bottom: 1px solid $grey-light
    &:last-child
      border-right: 1px solid $grey-light
    &.td-header
      left: 0
      position: sticky
    &.yellow
      background: #fff9d2
      color: #B58105
  th.red, td.red
      background: $red-lighter
      color: $red
  th.orange, td.orange
      background: $orange-lighter
      color: $orange
  th, td.td-header
    //Je pense que ça sert a ce que le header reste en haut de la page quand on scroll,
    // mais ça bug avec l'ouverture de la modal des codes insee manquants
    //position: sticky
    top: 0
    border-left: 0.125rem solid $grey
    border-bottom: 0.125rem solid $grey
    background-color: $fr-beige
    background-color: $fr-beige
    color: $grey-darker
    font-weight: 700
    z-index: 0
  th:last-child
    border-right: 0.125rem solid $grey
  th
    z-index: 1
  // sticky header
  thead tr.subjects th
    top: 64px
  thead tr.users-count th
    top: 191px
  thead tr.regional-users-count th
    top: 236px
  tbody tr:hover
    background: rgba(0,0,0,0.02)
    .td-header
      background-color: darken($fr-beige, 2%)
  td.td-user
    border-right: 0.125rem solid $grey
  .tr--distinct:not(:first-child) td
    border-top: 4px solid $grey-light
  tr.blue, tr.blue td
    background-color: $grey-blue-lighter
  .dashed
    border-bottom: 1px dashed
  img
    max-width: 50px
    max-height: 30px
    margin-right: 5px
  .fr-enlarge-link a
    box-shadow: none
  .fr-enlarge-link:hover
    cursor: pointer
    background: rgba(0,0,0,0.03)
