button.fr-tag.custom-modal-tag
  border-radius: 0
  padding: 0 0.25rem
  background-color: var(--blue-france-975-75)
  text-decoration: underline dotted
  &:hover
    background-color: var(--blue-france-975-75-hover)
  &:active
    background-color: var(--blue-france-975-75-active)


