button.fr-tag.custom-modal-tag
  border-radius: 0
  padding: 0 0.25rem
  text-decoration: underline dotted
  background-color: var(--fbc-white)
  &:hover
    background-color: var(--blue-france-975-75-hover)
  &:active
    background-color: var(--blue-france-975-75-active)

  &.custom-modal-tag--blue
    background-color: var(--blue-france-975-75)
    &:hover
      background-color: var(--blue-france-975-75-hover)
    &:active
      background-color: var(--blue-france-975-75-active)


.fr-tag.warning
  color: $grey-darkest
  background-color: #ff8e76
  &:hover
    background-color: $warning-main-525
