.card--expert
  .fr-card__title
    font-size: 1.6rem
    margin-bottom: 1rem
  .card__header
    flex-direction: column
    padding-bottom: 0.5rem
    .fr-card__title, .fr-grid-row
      width: 100%
      order: 1
    &.many_pending_needs
      background-color: #EEB45C
    &.medium_pending_needs
      background-color: #95C8E7
    &.one_pending_need
      background-color: #BCDD96
    &.optimisation
      background-color: $fr-brown-caramel
  .fr-accordion__btn
    padding: 0.25rem 0.75rem
  .fr-collapse.team-members
    border-left: 1px solid $grey-light
    padding-left: 0.4rem

:root
  --color-often_not_for_me: var(--orange-terre-battue-main-645)
  --color-rarely_done: var(--yellow-moutarde-850-200)
  --color-rarely_satisfying: var(--artwork-minor-purple-glycine)

.monitoring-menu
  .collection-often_not_for_me
    --icon-color: var(--color-often_not_for_me)
  .collection-rarely_done
    --icon-color: var(--color-rarely_done)
  .collection-rarely_satisfying
    --icon-color: var(--color-rarely_satisfying)
  .item-with-tag
    a
      display: flex
      justify-content: space-between
    [class*=" ri-"]
      font-size: 1.5rem
      color: var(--icon-color)

.card--monitoring-often_not_for_me
  background-color: var(--color-often_not_for_me)
.card--monitoring-rarely_done
  background-color: var(--color-rarely_done)
.card--monitoring-rarely_satisfying
  background-color: var(--color-rarely_satisfying)
  color: white
