.card-expert__list
  margin-top: 0
  margin-bottom: 0.75rem
  font-size: 0.875rem
  line-height: 1rem

.card-expert__subtitle
  font-weight: 700
  font-size: 1.125rem
  line-height: 1.5rem
  margin: 0 0 0.75rem


// Carte need =================================
.fr-card__c-container--need
  .fr-card__desc
    span
      display: block
  .fr-text--lg
    margin-bottom: 0

// Carte reminders need =================================
.card-reminders-need
  border: 1px solid $grey-light
  .subtitle
    color: $grey-dark
  .card__header
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $beige
    padding: 1.5rem
    a
      text-decoration: none
      --is-link: false
    h2
      margin-bottom: 0
    .label
      flex-shrink: 0
  .card__need
    display: flex
    justify-content: space-between
    h3
      margin-bottom: 0
  .card__match-list
    .item
      display: flex
      .picto
        margin-left: 0.5rem

// Carte solicitation =================================
.card-solicitation
  .subtitle
    color: $grey-dark
    font-size: 0.875rem
  h2
    font-size: 1.25rem
    line-height: 1.5rem
    margin-bottom: 0
  .card__info
    display: flex
    justify-content: space-between
  .card__fields
    margin-right: 1.5rem
  .card__description
    margin-bottom: 1rem
    .card__description__content
      margin-top: 1rem
      padding-left: 1rem
      border-left: 3px solid $grey-light
    p
      margin-bottom: 0.75rem
  .card__meta
    text-align: right
    .meta__items
      margin-bottom: 1rem
      a:not(:last-child)
        margin-right: 0.25rem
  .meta__warnings
    display: flex
    justify-content: flex-end
    span.meta__warnings__item
      padding: 0.25rem 0.7rem
      border: 2px solid $orange
      border-radius: 1.5rem
      font-weight: bold
      color: $orange
      background-color: $orange-lighter
      cursor: help
      margin-bottom: 1rem
      min-width: 30px
      text-align: center
      &:not(:last-child)
        margin-right: 0.25rem
  .logo-institution img
    max-width: 150px
    max-height: 100px
  .feedbacks-form
    display: none

.card__badges
  display: flex
  justify-content: flex-end
  align-items: center
  flex: 0 1 50%
  .modify-badges
    cursor: pointer
    font-size: 1.5rem
  .badges
    min-width: 16rem
    form
      display: flex
    .selectize
      flex: 1 1 auto
  .badges-list
    .label
      margin: 2px
  .dropdown
    margin-right: 0.3rem

.card
  border: 1px solid $grey-light
  .card__header
    background-color: $beige
    padding: 1.5rem
    display: flex
    justify-content: space-between
    align-items: center
  .card__footer
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 1rem 1.5rem
    background-color: $grey-lightest

.close-need-box
  .fr-card__title
    order: initial
