@use "sass:color"
@use "../shared/base"

.label
  border: 1px solid base.$grey-light
  font-size: 0.75rem
  display: inline-block
  line-height: 1
  margin: 0.1 0.1rem
  padding: 0.5rem 0.7rem
  font-weight: bold
  border-radius: 0.3rem
  &.label--sm
    padding: 0.4rem 0.6rem
  .icon
    margin-right: 0.3rem
    font-size: 1rem
    vertical-align: calc((0.75em - 1rem) * 0.75)
  &.green
    color: base.$green
    border-color: base.$green
    background-color: base.$green-lighter
  &.tilleul
    color: base.$tilleul
    border-color: base.$tilleul
    background-color: base.$tilleul-lighter
  &.red
    color: base.$red
    border-color: base.$red
    background-color: base.$red-lighter
  &.grey-blue
    color: base.$grey-blue
    border-color: base.$grey-blue
    background-color: #fff
  &.blue-dark
    color: base.$blue-dark
    border-color: base.$blue-dark
    background-color: color.adjust(base.$blue-dark, $lightness: 67%)
  &.orange
    color: base.$orange
    border-color: base.$orange
    background-color: #fff
