- title = t('.stats')
- meta title: title
- content_for :head do
  - javascript_include_tag 'highcharts', data: { 'turbo-track': 'reload' }, nonce: 'true'

.fr-container
  .fr-grid-row
    .fr-col
      %h1.fr-h2= title

.fr-container
  .fr-grid-row
    = render 'stats_params', stats: @stats_params, filters: @filters
  .fr-grid-row.fr-grid-row--gutters#stats-charts
    - @charts_names.each do |name|
      .fr-col-12.fr-mb-4w
        = turbo_frame_tag name, stats_params: @stats_params, src: manager_load_data_path(chart_name: name) do
          = render 'stats/skeleton_card'
