.card-content.white-bg.fr-p-3w.skeleton-card
  .card-header.fr-mb-5w
    %div
      %img.skeleton{alt: ""}
    .card-title
      %p= t('.loading')
      .skeleton.skeleton-title
    .skeleton.skeleton-text.fr-mt-2w
  .card-body
    .loader
  .card-footer
    .skeleton.skeleton-text
