= image_tag 'Republique_Francaise_RVB.png', width: '150px'

.logo-container
  .logos
    - if defined? institution_logo_name
      = institution_image institution_logo_name
    = image_tag 'logo-PDE.png', alt: ''
