%p= t('.contact_us_html', mailto_link: mailto_contact_us(t('.contact_us_mailto_text')))
= link_to comment_ca_marche_url do
  %p= image_tag(root_url + 'place-des-entreprises-logo-48w.png', height: 24)
%p= t('.blurb')
