%h3 Témoignages d'utilisateurs du service

%p Le logo Place des Entreprises apparaît.

%p On aperçoit rapidement en plan américain un homme barbu, Morgan Jacquemard.
%p
  %b Intertitre :
  Place des Entreprises, le service public qui facilite la vie des entreprises. Plus de 40 partenaires pour accompagner les TPE et PME en fonction de leurs besoins.

%p
  %b Morgan Jacquemard témoigne :
%p "Bonjour, je m'appelle Morgan Jacquemard, je suis actuellement gérant de 3 entreprises dont une entreprise de traiteur, boutique et épicerie fine, plateau-repas."

%p
  %b Intertitre :
  Pourquoi avez-vous utilisé le service Place des Entreprises ?

%p
  %b Morgan Jacquemard :
%p "On a utilisé Place des Entreprises suite à un mailing. C'était très important pour nous. On est très pris actuellement. Pour un chef d'entreprise c'est important que ça aille vite et j'avais besoin d'un contact humain, d'un accompagnement proche de nous.
%p La prise de contact avec Place des Entreprises s'est faite de manière très rapide. J'ai été assez étonné, du coup, d'avoir été contacté par un interlocuteur compétent.
%p La Banque de France m'a tout de suite aiguillé sur les bonnes réponses à mes questions, et ensuite j'ai été conseillé par un membre de la CCI."

%p L'image d'un autre homme remplace celle de Morgan Jacquemard. Il s'agit de Benjamin Martin.

%p
  %b Benjamin Martin :
%p "Je suis Benjamin Martin, conseiller d'entreprise pour la Chambre de Commerce et d'Industrie de l'Oise. J'interviens principalement auprès des commerçants pour les accompagner sur leurs projets, leurs questions ou leurs difficultés."

%p
  %b Intertitre :
  Comment fonctionne le service Place des Entreprises pour vous ?

%p
  %b Benjamin Martin :
%p "Nous recevons un mail de Place des Entreprises qui notifie justement l'entreprise concernée, son besoin et nous nous connectons sur la plateforme pour voir ce qui a déjà été fait par rapport aux autres partenaires. Ensuite, nous prenons contact avec l'entreprise pour préciser les choses et identifier d'autres besoins."

%p
  %b Intertitre :
  Comment s'est passé l'accompagnement concrètement ?

%p
  %b Benjamin Martin :
%p "J'ai pris contact avec le dirigeant. Nous nous sommes rencontrés au sein de son établissement. Nous avons pu répondre à son besoin initial sur le projet de travaux du laboratoire, et nous avons identifé également des perspectives d'aide potentielle, notamment liées à une aide de la collectivité locale, l'Agglomération de la région de Compiègne et de la Basse Automne, sur une opération liée à "Action Coeur de Ville".
%p Nous avons également fait un lien avec une aide de la Région qui s'appelle REA, et nous avons également identifié des perspectives d'accompagnement sur son dossier d'accessibilité. D'une demande initiale formulée sur Place des Entreprises, nous avons pu élargir à tous les sujets d'accompagnement potentiels."

%p
  %b Intertitre :
  Qu'avez vous apprécié dans ce service ?

%p
  %b Morgan Jacquemard :
%p "Ce que j'ai apprécié, c'est que l'interlocuteur se déplace en entreprise. Cela s'est fait de manière très rapide. Il a répondu à toutes nos questions, il a été extrêmement patient et extrêmement compétent. Toutes les solutions qui m'ont été apportées au niveau du financement m'ont permis de pouvoir développer des projets et de pouvoir repenser l'activité et ensuite me concentrer sur le développement de mon activité.

%p Le logo Ministère de l'économie, des Finances et de la Relance apparaît.
