%h3 Présentation du service Place des Entreprises

%p Le logo Place des Entreprises apparaît.
%p
  %b Voix off :
  Place des Entreprises est un nouveau service public pour les TPE & PME.

%p Une cheffe d’entreprise apparaît, elle se pose des questions. Un conseiller apparaît pour l’aider.
%p
  %b Voix off :
  Vous avez un projet pour votre entreprise, une difficulté, des questions ? Place des Entreprises vous met en relation avec LE conseiller le plus proche de chez vous, compétent pour vous accompagner.

%p Un calendrier apparaît et montre les 5 jours qui défilent.
%p
  %b Voix off :
  C’est simple et rapide, vous êtes rappelé sous 5 jours.

%p Un écran d’ordinateur apparaît et montre l’écran d'accueil du site internet Place des Entreprises, où les différentes thématiques défilent.
%p
  %b Voix off :
  Recrutement, diversification de l’activité, amélioration de la sécurité au travail, transition écologique, le site Place des entreprises vous permet d'échanger avec un conseiller spécialisé sur de nombreux sujets.

%p Nathalie apparaît, elle est dans sa boutique de fleurs avec son seul salarié et de nombreux clients qui attendent.
%p
  %b Voix off :
  Prenons l’exemple de Nathalie. Elle est fleuriste et son activité est en plein développement, elle souhaite agrandir son équipe.

%p Le soir, Nathalie est à son bureau face à son ordinateur. Elle est perdue parmi toutes les informations disponibles sur internet.
%p
  %b Voix off :
  Elle est perdue parmi toutes les aides à l’embauche qui existent. Elle a entendu parler de l’apprentissage, mais hésite.

%p Le site Place des Entreprises apparaît à l’écran. Nathalie clique sur la rubrique “Recruter ou former vos salariés, améliorer l’organisation du travail”. Ses mains tapent sur le clavier de l’ordinateur, elle est en train de compléter sa demande.
%p
  %b Voix off :
  Sur le site Place des Entreprises, elle choisit la thématique et le sujet qui correspondent à sa situation puis précise sa demande.

%p Un conseiller apparaît à l’écran, il reçoit une notification de mail sur son ordinateur.
%p
  %b Voix off :
  Une fois validée, sa demande est automatiquement transmise par mail aux conseillers compétents près de chez elle.

%p Le conseiller, Quentin, téléphone à Nathalie. L’écran est coupé en deux avec d’un côté Nathalie et de l’autre Quentin qui sont en train d’échanger.
%p
  %b Voix off :
  Quentin, conseiller Pôle emploi, chargé de la relation entreprise, prend connaissance de la demande de Nathalie et de la situation de son entreprise. Il la rappelle et lui explique les aides auxquelles elle est éligible. Il propose aussi de lui adresser les profils de jeunes demandeurs d’emploi. Cette discussion conforte Nathalie dans son choix d’embaucher plutôt un apprenti, déjà en formation pour devenir fleuriste.

%p Après l’appel avec Nathalie, Quentin écrit un mail à Sophie, conseillère de la Chambre des Métiers et de l’artisanat.
%p
  %b Voix off :
  Quentin informe Sophie, la conseillère apprentissage de la Chambre des Métiers et de l’Artisanat sur Place des Entreprises.

%p Sophie apparaît à l’écran et serre la main de Nathalie qu’elle rencontre pour la première fois. Elles échangent toutes les deux. Une carte avec la géolocalisation des centres de formation apparaît à l’écran. Puis des documents officiels apparaissent pour représenter les obligations légales à respecter.
%p
  %b Voix off :
  Sophie prend le relais de Quentin. Elle accompagne Nathalie pour identifier des profils intéressants dans les centres de formation des apprentis des environs. Elle l’informe aussi sur ses obligations légales pour accueillir un apprenti mineur, comme les conditions de sécurité et la durée de travail.

%p Les logos des principaux partenaires de Place des entreprises apparaissent à l’écran : Apec, Chambre de commerce et d’industrie, BPI France, Urssaf, Finances publiques, Cap Emploi, Chambre des métiers et de l’artisanat, Banque de France, Anact, Pôle Emploi.
%p
  %b Voix off :
  Comme Nathalie, bénéficiez de l'expertise d’un ou plusieurs conseillers près de chez vous. Avec plus de 40 partenaires et 12 000 conseillers à votre écoute, le service Place des Entreprises vous accompagne dans vos projets ou vos difficultés.
