<% meta title: t('.title') %>

<div class="fr-container fr-py-7w fr-mt-3v">
  <h1 class="fr-h2"><%= t('.title') %></h1>
</div>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<div class="fr-container--fluid section-grey fr-py-7w">
  <div class="fr-container container-medium">
    <p>Cette page n’est pas une page d’aide, mais une déclaration de conformité au RGAA (<a title="Référentiel général d’amélioration de l’accessibilité (RGAA) - Nouvelle fenêtre" href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/" target="_blank" rel="noopener">Référentiel général d'accessibilité pour les administrations</a>) 4.0 qui vise à définir le niveau d’accessibilité général constaté sur le site conformément à la réglementation. Cette page est obligatoire pour être conforme au RGAA 4.0.</p>

    <h2>Qu’est-ce que l’accessibilité numérique ?</h2>

    <p>Un site web accessible est un site qui permet à tous les internautes d’accéder à ses contenus sans difficulté, y compris aux personnes qui présentent un handicap et utilisent des logiciels ou matériels spécialisés.</p>
    <p>Un site accessible permet par exemple de :</p>
    <ul>
      <li>Naviguer avec des synthèses vocales ou des plages braille (notamment utilisées par les internautes aveugles ou malvoyants).</li>
      <li>Personnaliser l’affichage du site selon ses besoins (grossissement des caractères, modification des couleurs, etc.).</li>
      <li>Naviguer sans utiliser la souris, avec le clavier uniquement ou via un écran tactile.</li>
    </ul>

    <h2>Déclaration d’accessibilité</h2>

    <p>Place des Entreprises s’engage à rendre son site internet accessible conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.</p>

    <h3>État de conformité</h3>
    <p>Malgré l'attention portée à l'accessibilité de notre service, le site Place des Entreprises est non conforme avec le RGAA 4.0.</p>
    <p>On considère qu'un site est "non conforme" en terme d'accessibilité tant que le niveau de conformité au RGAA est inconnu. Cela signifie qu'aucun audit auprès d'un cabinet d'expert en charge de mesurer le taux de conformité n'a encore été effectué.</p>
    <p>Un audit de conformité est planifié en août 2022. Les corrections seront prises en compte suite à l’audit.</p>

    <h3>Droit à la compensation</h3>
    <p>Dans l’attente d’une mise en conformité totale, vous pouvez obtenir une version accessible des documents ou des informations qui y seraient contenues en envoyant un courriel à <a href="mailto:contact@place-des-entreprises.beta.gouv.fr?subject=Droit à la compensation">contact@place-des-entreprises.beta.gouv.fr</a> en indiquant le nom du document concerné et/ou les informations que vous souhaiteriez obtenir. Les informations demandées vous seront transmises dans les meilleurs délais.</p>

    <h3>Amélioration et contact</h3>
    <p>Vous pouvez nous aider à améliorer l’accessibilité du site en nous signalant les problèmes éventuels que vous rencontrez. Pour ce faire, envoyez-nous un courriel à <a href="mailto:contact@place-des-entreprises.beta.gouv.fr?subject=Amélioration de l'accessibilité">contact@place-des-entreprises.beta.gouv.fr</a>.</p>

    <h3>Défenseur des droits</h3>
    <p>Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
    <ul>
      <li>Écrire un message au Défenseur des droits (<a title="https://formulaire.defenseurdesdroits.fr/ - Nouvelle fenêtre" href="https://formulaire.defenseurdesdroits.fr/" target="_blank" rel="noopener">https://formulaire.defenseurdesdroits.fr/</a>)</li>
      <li>Contacter le délégué du Défenseur des droits dans votre région (<a title="https://www.defenseurdesdroits.fr/saisir/delegues - Nouvelle fenêtre" href="https://www.defenseurdesdroits.fr/saisir/delegues" target="_blank" rel="noopener">https://www.defenseurdesdroits.fr/saisir/delegues</a>)</li>
      <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) à&nbsp;:<br>
        Défenseur des droits<br>
        Libre réponse 71120<br>
        75342&nbsp;Paris CEDEX 07
      </li>
    </ul>
  </div>
</div>
