<% meta title: t('.title') %>

<section class="section section-white landing">
  <div class="container container">
    <h1><%= t('.title') %></h1>
  </div>
</section>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<section class="section section-grey">
  <div class="container container-medium">
  <h2>Démarche d'accessibilité</h2>
  <p>Malgré l'attention portée à l'accessibilité de notre service, le site Place des Entreprises est non conforme avec le RGAA (Référentiel général d'accessibilité pour les administrations) 4.0.</p>
  <p>On considère qu'un site est "non conforme" en terme d'accessibilité tant que le niveau de conformité au RGAA est inconnu. Cela signifie qu'aucun audit auprès d'un cabinet d'expert en charge de mesurer le taux de conformité n'a encore été effectué.
  <p>Cette démarche est en cours de réalisation.</p>
  </div>
</section>
