<% meta title: t('.title') %>

<div class="fr-container fr-py-7w fr-mt-3v">
  <h1><%= t('.title') %></h1>
</div>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<div class="fr-container--fluid section-grey fr-py-7w">
  <div class="fr-container container-medium">
    <p>Les présentes conditions générales d’utilisation (dites « CGU ») définissent les conditions d’accès et d’utilisation du service numérique « Conseillers-entreprises.service-public.fr ».</p>

    <h2>Article 1 - Champ d’application</h2>
    <p>L’utilisation du service numérique est ouvert à tout représentant d’une entreprise, en particulier les TPE & PME, souhaitant être accompagné par un conseiller du service public, sous réserve du respect des présentes conditions générales d’utilisation.</p>
    <p>Le service n’a pas vocation à accompagner les porteurs de projets dans le cadre de la création d'entreprise.</p>

    <h2>Article 2 - Objet</h2>
    <p>« Conseillers-entreprises.service-public.fr », ci-dénommé après « le service », est un service public gratuit mettant en relation des TPE & PME avec des conseillers compétents pour les accompagner en fonction de leurs besoins.</p>
    <p>Il permet à l’État, aux organismes publics et parapublics, aux conseils régionaux et aux autres collectivités volontaires de développer leur rôle d’appui et de conseil auprès des TPE & PME.</p>
    <p>Le service a ainsi vocation à offrir un conseil personnalisé et de proximité au dirigeant, sur tous les sujets d'entreprise : ressources humaines, droit du travail, développement commercial, stratégie numérique, difficultés financières, investissements, transmission reprise, santé et sécurité au travail, environnement, transition écologique & RSE...</p>
    <h2>Article 3 - Définitions</h2>
    <p>« L’Utilisateur » est toute personne physique représentante d’une personne morale utilisant le service pour son activité d’entreprise, conformément aux présentes conditions générales.</p>
    <p>Le « Visiteur » est toute personne consultant le site « Conseillers-entreprises.service-public.fr ».</p>
    <p>Les « Conseillers » sont des agents de l’État, des organismes publics et parapublics ou des collectivités territoriales chargés de répondre aux besoins exprimés par les entreprises, soient les « Utilisateurs » du service.</p>
    <p>Les « Fonctionnalités » sont les moyens offerts par le service numérique pour répondre à ses finalités.</p>

    <h2>Article 4 - Fonctionnalités</h2>
    <h3>4.1 Déposer une demande sur une thématique prévue par le site</h3>
    <p>Cette fonctionnalité est réalisée sans avoir besoin d’un compte, ni d’une inscription, directement sur le site « Conseillers-entreprises.service-public.fr » ou de l’un de ses sites partenaires intégrant le service de mise en relation.</p>
    <p>Chaque « Utilisateur » peut sélectionner une thématique d’accompagnement relative à une difficulté, un projet ou un questionnement dans la liste proposée par le service.</p>
    <p>La sélection d’un sujet permet ensuite d’accéder à un formulaire de dépôt de demande où, « l’Utilisateur » décrit simplement son besoin avec quelques éléments de contexte, indique son numéro SIRET, son nom, son prénom, son numéro de téléphone et son adresse mail.</p>

    <h3>4.2 Déposer une demande sur une thématique non prévue par le site</h3>
    <p>Cette fonctionnalité est réalisée sans avoir besoin d’un compte, ni d’une inscription directement sur le site « Conseillers-entreprises.service-public.fr » ou de l’un de ses partenaires intégrant le service de mise en relation.</p>
    <p>Chaque « Utilisateur » souhaitant déposer une demande en dehors des thématiques proposées par le service, peut cliquer sur le lien prévu à cet effet. Il accède un formulaire de dépôt où il décrit simplement son besoin avec quelques éléments de contexte, indique son numéro SIRET, son nom, son prénom, son numéro de téléphone et son adresse mail.</p>

    <h3>4.3 S’abonner à la <span lang="en">newsletter</span></h3>
    <p>Tout « Visiteur » peut s’abonner à la <span lang="en">newsletter</span> pour recevoir les aides et accompagnements proposés par les partenaires publics et parapublics du service, à condition de fournir son adresse e-mail. Il peut également indiquer sa région afin d’être averti de l’ouverture du service dans sa région.</p>

    <h3>4.4 Fonctionnalités du compte « Conseillers-entreprises.service-public.fr » pour les « Conseillers »</h3>
    <h4>A - Création du compte</h4>
    <p>Tout agent des organismes publics et parapublics listés dans les mentions d’information peut demander en principe la création d'un compte « Conseiller ».</p>
    <p>Ce compte lui permet d’accéder à des fiches de besoins d’entreprises relevant de son champ de compétence.</p>
    <p><strong>La création du compte se réalise par une procédure d’invitation.</strong></p>
    <p>Le service référence des « Conseillers » sur différents sujets d’entreprise préalablement définis au niveau national, sous réserve d’adaptations locales. Lorsqu’un organisme public ou parapublic devient partenaire du service, les agents concernés par la collaboration reçoivent une invitation sur leur adresse mail professionnelle pour finaliser la création de leur compte et se voient proposer des sessions de démonstration du service.</p>
    <p>Ils reçoivent ensuite des besoins d’entreprises sur leur(s) sujet(s) de compétences, avec un champ d’intervention plus précis.</p>
    <p><strong>Pour recevoir une invitation, il est également possible d’écrire</strong> à <a href="mailto:contact@conseillers-entreprises.service-public.fr" target="_blank">contact@conseillers-entreprises.service-public.fr</a> en se présentant. La création du compte doit être validée par l’équipe « Conseillers-entreprises.service-public.fr » conformément aux mentions d’information et en lien avec la structure concernée.</p>

    <h4>B - Fonctionnalités</h4>
    <p>Le compte « Conseillers-entreprises.service-public.fr » permet plusieurs actions :</p>
    <ul>
      <li>
        <strong>Réceptionner un besoin d’entreprise</strong>
        <p>Le « Conseiller » reçoit un besoin d’entreprise directement sur sa boîte mail. Le mail de notification du besoin contient un lien sécurisé vers une fiche détaillée du besoin exprimé par l'entreprise. Le « Conseiller » vérifie que le besoin entre dans son champ d’intervention.</p>
        <p>Chaque « Conseiller » peut accéder à l’ensemble des besoins d’entreprises qui lui ont été adressés sur son compte « Conseillers-entreprises.service-public.fr », dans l’onglet « Demandes reçues ».</p>
      </li>
      <li>
        <strong>Prendre en charge ou refuser un besoin d’entreprise</strong>
        <p>Le besoin de l’entreprise est détaillé dans une fiche, où figure un ensemble d’informations sur l’entreprise ainsi que les coordonnées du dirigeant ou du représentant de l’entreprise.</p>
        <p>Chaque « Conseiller » clique sur les boutons de prise en charge ou de refus afin de se positionner sur le besoin reçu. La prise en charge correspond au rappel de l’entreprise par « le Conseiller ».</p>
        <p>À l’issue de l’échange avec le dirigeant sur le besoin exprimé, chaque « Conseiller » clique sur un bouton de clôture de son intervention, afin d’indiquer si une aide a pu être proposée ou non, ou encore si l’entreprise reste injoignable.</p>
        <p>La notion d’aide est entendue au sens large : il peut s’agir de conseils, d'une aide ponctuelle sur une démarche, d’une aide financière ou d’un accompagnement technique dans la durée.</p>
        <p>Un suivi qualité est assuré par l‘équipe « Conseillers-entreprises.service-public.fr » pour que les « Conseillers » se positionnent sur les besoins reçus. Si tous les « Conseillers » notifiés pour un même besoin le refusent, l’équipe adresse une réponse par mail à l’entreprise.</p>
      </li>
      <li>
        <strong>Échanger avec d’autres « Conseillers » sur un besoin d’entreprise</strong>
        <p>La fiche de besoin comporte un fil de discussion pour les différents « Conseillers » notifiés sur un même besoin, dans une logique de décloisonnement des institutions et de complémentarité des accompagnements.</p>
        <p>Chaque « Conseiller » peut laisser un commentaire aux conseillers des autres structures compétentes sur le besoin, afin de :</p>
        <ul>
          <li><p>partager des informations relatives à l’entreprise, recueillies lors de l’échange téléphonique avec le dirigeant et pouvant être utiles aux autres « Conseillers »;</p></li>
          <li><p>préciser la réponse transmise au dirigeant, la nature de l’accompagnement initié ou la date d’un rendez-vous ;</p></li>
          <li><p>se coordonner dans la prise en charge du besoin de l’entreprise.</p></li>
        </ul>
    </ul>

    <h2>Article 5 – Responsabilités</h2>
    <h3>5.1 L’éditeur du service numérique « Conseillers-entreprises.service-public.fr »</h3>
    <p>Les informations diffusées sur « Conseillers-entreprises.service-public.fr » sont réputées fiables, mais le site ne garantit pas être exempt de défauts, d’erreurs ou d’omissions.</p>
    <p>L’éditeur s’engage à la sécurisation du service numérique, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. Le service est <a href="/DGEFP_decision_homologation_SI_PDE-v0.2.pdf" title="Document PDF décision d’homologation du système d’information « Conseillers-entreprises.service-public.fr »">homologué RGS</a>.</p>
    <p>L’éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu, sans contrepartie financière, au service. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le service pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>
    <h3>5.2 « L’Utilisateur »</h3>
    <p>Toute information transmise par le seul « Utilisateur » relève de sa responsabilité.</p>
    <p>Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose aux sanctions prévues à l’article 441-1 du code pénal, lequel prévoit des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.</p>

    <h3>5.3 « Le Conseiller »</h3>
    <p>Chaque « Conseiller » veille à fournir des informations exactes et correctes.</p>
    <p>La responsabilité de l’agent ne peut être engagée du fait de l’inexactitude d’une information.</p>

    <h2>Article 6 - Règles de sécurité</h2>
    <p>Le présent article s'applique à tout « Conseiller », quel que soit son statut.</p>

    <h3>6.1 Conditions d’accès à l’application</h3>
    <p>Le droit d’accès est normalement limité aux activités professionnelles définies dans les missions des « Conseillers ». Chaque « Conseiller » se voit attribuer un compte avec un accès plus ou moins étendu à l’application, selon son niveau d’autorisation et de droits d’accès. Toute utilisation contraire aux intérêts du service ou à des fins exclusivement personnelles est en contradiction avec le principe d’utilisation à des fins professionnelles.</p>
    <p>L'accès à l’application est protégé par des paramètres de connexion (identifiants et mots de passe).</p>
    <p>Les moyens d’authentification sont personnels et confidentiels. Ils ne peuvent être divulgués, transmis ou concédés à une autre personne. Ces paramètres doivent être mémorisés par le « Conseiller ».</p>
    <p>La validité d’un compte et le bénéfice de ses droits et attributions peuvent être momentanément suspendus, voire définitivement interrompus par l’administrateur compétent, pour un motif d’urgence et de sécurité, et pour tout autre motif, exclusivement sur décision de la direction du service.</p>

    <h3>6.2 Règles d’utilisation</h3>
    <p>Tout « Conseiller » est responsable de l’usage des ressources informatiques auxquelles il a accès, lequel usage sera réputé a priori de bonne foi. De manière générale et à défaut de règle explicite, il appartient donc à chacun d’adopter un comportement professionnel et responsable lors de l’utilisation du service mis à disposition. L’utilisation est présumée rationnelle et loyale.</p>
    <p>Le « Conseiller » s’engage à respecter les principes suivants :</p>
    <ul>
      <li><strong>Confidentialité :</strong> Le « Conseiller » doit assurer la confidentialité des données auxquelles il a accès. Un comportement exemplaire est exigé dans toute communication orale ou écrite, téléphonique ou électronique, que ce soit lors d’échanges professionnels ou au cours de discussions relevant de la sphère privée.</li>
      <li><strong>Transparence :</strong> Les impératifs de sécurité de l’application imposent au service de mettre en œuvre une politique de gestion des incidents ; ainsi tout « Conseiller » a l’obligation de communiquer à l’équipe opérationnelle tout incident dont il a connaissance ou qu’il aurait lui-même occasionné. Par exemple : toute perte ou destruction de données, toute utilisation malveillante, toute dégradation même accidentelle susceptible de porter atteinte à l’intégrité et à la pérennité du service ou des données.</li>
      <li><strong>Performance :</strong> Chaque « Conseiller » s’engage à ne rien faire qui puisse ralentir, perturber, interrompre ou empêcher l’utilisation de l’application, notamment des données. De même, chaque « Conseiller » s’engage à ne rien faire qui puisse ralentir, perturber, ou contraindre inutilement le travail de l’équipe administratrice du service.</li>
    </ul>
    <p>Concernant le traitement de données à caractère personnel et l’exercice de vos droits, voir les <a href="https://conseillers-entreprises.service-public.fr/mentions_d_information" title="<%= to_new_window_title('https://conseillers-entreprises.service-public.fr/mentions_d_information')%>" target="_blank">Mentions d’information</a>.</p>
  </div>
</div>
