<% meta title: t('.title') %>

<section class="section section-white landing">
  <div class="container container">
    <h1><%= t('.title') %></h1>
  </div>
</section>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<section class="section section-grey">
  <div class="container container-medium cgu">
    <p>Les présentes conditions générales d’utilisation (dites « CGU ») fixent le cadre juridique du service numérique « Place des Entreprises » et définissent les conditions d’accès et d’utilisation des services par les utilisateurs.<p>
    <h2>Article 1 - Champ d’application</h2>
    <p>L’utilisation du service numérique est ouvert à tout dirigeant de TPE/PME souhaitant être conseillé et accompagné par un conseiller public, sous réserve du respect des présentes Conditions générales d’utilisation.</p>
    <h2>Article 2 - Objet</h2>
    <p>Place des Entreprises, ci-dénommé après le Service, est un guichet public et gratuit qui accompagne les TPE & PME.</p>
    <p>Il permet à l’État, aux régions volontaires et à l’ensemble des organismes publics et parapublics de développer leur rôle d’appui et de conseil auprès des TPE & PME.</p>
    <p>Le chef d’entreprise bénéficie d’un service personnalisé qui couvre les sujets d’entreprises : ressources humaines, droit du travail, développement commercial, stratégie numérique, difficultés financières, investissements, transmission reprise, santé et sécurité au travail, environnement et transition écologique</p>
    <h2>Article 3 - Définitions</h2>
    <p>« L’Utilisateur » est toute personne physique entrepreneur ou représentant d’une personne morale (TPE/PME) utilisant le service numérique, conformément aux présentes conditions générales.</p>
    <p>Le « Visiteur » est toute personne consultant le site « Place des Entreprises ».</p>
    <p>Les  « Conseillers » sont des agents des organismes publics et parapublics chargés de détecter des besoins d’entreprises auprès des dirigeants de TPE & PME, « Utilisateurs » du service.  Ils les transmettent ensuite à d’autres conseillers ayant le rôle d’« Expert ».</p>
    <p>Les  « Experts » sont des agents des organismes publics et parapublics chargés de répondre aux demandes des « Utilisateurs ».</p>
    <p>Les « Services » sont les moyens offerts par le service numérique pour répondre à ses finalités définies.</p>
    <p>« Le Responsable de traitement » est la personne qui, au sens de l’article 4 du règlement UE n°2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données détermine les finalités et les moyens des traitements de données à caractère personnel.</p>
    <h2>Article 4 - Fonctionnalités</h2>
    <h3>4.1 Déposer une demande sur une thématique prévue par le site</h3>
    <p>Cette fonctionnalité est réalisée sans avoir besoin d’un compte, ni d’une inscription.</p>
    <p>Chaque « Utilisateur » peut sélectionner une thématique d’accompagnement relative à une difficulté, un projet ou un questionnement dans la liste proposée par « Place des Entreprises ».</p>
    <p>La sélection d’un sujet permet ensuite d’accéder à une fiche de dépôt de demande où, « l’Utilisateur » décrit simplement sa demande et indique son numéro SIRET, son nom, son prénom, son numéro de téléphone et adresse mail.</p>
    <h3>4.2 Déposer une demande sur une thématique non prévue par le site</h3>
    <p>Cette fonctionnalité est réalisée sans avoir besoin d’un compte, ni d’une inscription directement sur le site de Place des Entreprises ou de l’un de ses partenaires.</p>
    <p>Chaque Utilisateur voulant déposer une demande en dehors des thématiques proposées par « Place des Entreprises », peut cliquer sur le lien prévu à cet effet. Il accède une fiche de dépôt où il décrit simplement sa demande et indique son numéro SIRET, son nom, son prénom, son numéro de téléphone et adresse mail.</p>
    <h3>4.3 S’abonner à la newsletter</h3>
    <p>Tout « Visiteur » peut s’abonner à la newsletter à condition de fournir son adresse e-mail.</p>
    <h3>4.4 Fonctionnalités du compte « Place des Entreprises »</h3>
    <h4>A - Création du compte</h4>
    <p>Tout agent des organismes publics et parapublics peut, en principe, créer un compte « Place des entreprises ». Ce compte lui permettra de remplir deux rôles :</p>
    <ul>
      <li>le rôle de « Conseiller », consistant à identifier un besoin d’entreprise auprès d’un dirigeant, « Utilisateur » du service, et à le transmettre automatiquement aux « Experts » compétents ;</li>
      <li>le rôle d’« Expert », consistant à réceptionner des besoins de qualité sur ses champs d’intervention pour prendre contact avec les « Utilisateurs » et les accompagner.</li>
    </ul>
    <p><b>La création du compte se réalise par une procédure d’invitation.</b></p>
    <p>« Place des Entreprises » référence des « Experts » sur différents sujets d’entreprise préalablement définis. Lorsqu’un organisme public ou parapublic devient partenaire du Service, les agents concernés par la collaboration reçoivent une invitation sur leur adresse mail professionnelle pour finaliser la création de leur compte. Ils ont ensuite accès aux sujets sur lesquels ils vont recevoir des demandes d’entreprises, ainsi que leurs champs d’intervention plus précis.</p>
    <p><b>Pour recevoir une invitation, il est également possible d’écrire</b> à <a href="mailto:contact@place-des-entreprises.beta.gouv.fr" target="_blank">contact@place-des-entreprises.beta.gouv.fr</a> en se présentant. Après validation par l’équipe « Place des Entreprises », vous recevrez un lien à remplir pour la création de votre compte.</p>
    <h4>B - Fonctionnalités</h4>
    <p>Le compte « Place des Entreprises » permet plusieurs actions :</p>
    <ul>
      <li><b>Détecter et transmettre des besoins d’entreprise</b>
        <p>Sur son compte utilisateur, dans l’onglet « Analyse », le « Conseiller » peut rechercher une entreprise et accéder à des informations relatives à son identité, son statut juridique, ses mandataires sociaux et sa localisation.</p>
        <p>Le Service comprend un outil de diagnostic répertoriant l’ensemble des sujets auxquels l’entreprise peut être confrontée. Le « Conseiller » sélectionne celui correspondant au besoin qu’il a identifié pour l’entreprise et donne, avec le consentement du dirigeant, des éléments de contexte. Le Service génère ensuite automatiquement le ou les « Experts » compétents pour répondre au(x) demande(s) de l’entreprise sur son territoire. Le « Conseiller » ayant détecté le besoin conserve la possibilité de décocher certains destinataires de la notification. Il est informé de la prise en charge et de la clôture du besoin de l’entreprise par mail. Il peut également échanger avec les « Experts » notifiés, grâce à une fiche entreprise commune.</p>
        <p><i>Précision</i> : lorsqu’une demande est déposée directement par « l’Utilisateur » sur le site, l’équipe support valide simplement la notification de la demande aux « Experts compétents » automatiquement sélectionnés. Elle peut ainsi réorienter une demande en cas d’erreur ou rechercher un nouvel « Expert » dans une perspective d’amélioration continue.</p></li>
      <li><b>Réceptionner un besoins d’entreprise</b>
        <p>Pour réceptionner un besoin, « l’Expert » reçoit les besoins directement sur sa boîte mail et vérifie que le besoin entre dans son champ d’intervention.</p>
        <p>Chaque « Expert » peut accéder à l’ensemble des besoins d’entreprises qui lui ont été adressés sur son compte Place des Entreprises, dans l’onglet « Demandes reçues ».</p></li>
      <li><b>Prendre en charge ou refuser un besoin d’entreprise</b>
        <p>Le besoin de l’entreprise est synthétisé dans une fiche commune au « Conseiller » et au(x) « Expert(s) » notifié(s), où figurent les coordonnées du dirigeant.</p>
        <p>Chaque « Expert » clique sur les boutons de prise en charge ou de refus afin de se positionner sur le besoin reçu. La prise en charge correspond au rappel de l’entreprise par « l’Expert », qui pourra alors apporter des éléments de réponse ou débuter un accompagnement.</p>
        <p>Chaque « Expert » peut laisser un commentaire afin de préciser la réponse transmise au dirigeant, la nature de l’accompagnement initié ou la date d’un rendez-vous.</p>
        <p>À l’issue de l’échange avec le dirigeant, chaque « Expert » clique sur le bouton de clôture de son accompagnement.</p>
        <p>Un suivi qualité est assuré par « l‘équipe Place des Entreprises » pour que les « Experts » se positionnent sur les besoins reçus. Si tous les Experts notifiés pour un même besoin le refusent, c’est l’équipe qui prend en charge sa résolution.</p></li>
    </ul>
    <h2>Article 5 – Responsabilités</h2>
    <h3>5.1 L’éditeur du service numérique « Place des Entreprises »</h3>
    <p>Les sources des informations diffusées sur « Place des Entreprises » sont réputées fiables, mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
    <p>L’éditeur s’engage à mettre en œuvre toutes mesures appropriées, afin de protéger les données traitées.</p>
    <p>L’éditeur s’engage à la sécurisation du service numérique, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies.</p>
    <p>L’éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu, sans contrepartie financière, au « Service ». Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le « Service » pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>
    <h3>5.2 « L’Utilisateur »</h3>
    <p>Toute information transmise par le seul « Utilisateur » est de sa responsabilité.</p>
    <p>Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.</p>
    <h3>5.3 « Le Conseiller/Expert »</h3>
    <p>Chaque agent des organismes publics et parapublics partenaires, qu’il agisse dans un rôle de « Conseiller » ou d’« Expert » veille à fournir des informations exactes et correctes.</p>
    <p>La responsabilité de l’agent ne peut être engagée du fait de l’inexactitude d’une information.</p>
    <h2>Article 6 - Protection des données à caractère personnel</h2>
    <h3>6.1 Le responsable de traitement</h3>
    <p>Le responsable de traitement est Monsieur le Délégué général à l’Emploi et à la Formation Professionnelle, Bruno LUCAS.</p>
    <h3>6.2 Données personnelles traitées</h3>
    <p>Les données à caractère personnel suivantes peuvent être traitées par le « Service » :<p>
    <ul>
      <li>données personnelles relatives aux « Utilisateurs » (nom et prénom du dirigeant ou de l’auto-entrepreneur, coordonnées, adresse, nature du besoin, informations financières dans les cas des TPE et PME ) ;</li>
      <li>données personnelles relatives au compte « Place des Entreprises » (nom et prénom de l’agent, coordonnées professionnelles)</li>
      <li>données d’hébergement</li>
    </ul>
    <h3>6.3 Finalités des traitements</h3>
    <p>Le service numérique « Place des Entreprises » a pour finalités :</p>
    <ul>
      <li>de mettre en relation les dirigeants de TPE/PME et des agents pour répondre à une problématique ou un projet de la TPE/PME, par l’expertise et l’accompagnement des administrations, organismes publics et parapublics ;</li>
      <li>développer le rôle d’appui et de conseil des TPE/PME des administrations, organismes publics et parapublics volontaires.</li>
    </ul>
    <h3>6.4 Durée de conservation des traitements de données</h3>
    <p>Les données relatives aux « Utilisateurs » sont conservées pour un délai de 3 ans à compter de la dernière utilisation du service par « l’Utilisateur ».</p>
    <p>Les données relatives au compte « Place des entreprises » sont conservées pendant la durée d’existence du compte ou dans un délai de 2 ans à compter de la dernière utilisation du compte.</p>
    <p>Les données d’hébergement sont conservées 12 mois.</p>
    <h3>6.5 Sécurité et confidentialité</h3>
    <p>Le responsable de traitement s’engage à prendre les mesures techniques et organisationnelles de sécurité nécessaires pour assurer la confidentialité, l’intégrité et protéger l’accès des données.</p>
    <h3>6.6 Droits des personnes concernées</h3>
    <p>En vertu de l’article 13 du règlement (UE) n°2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, il est rappelé à chaque personne dont les données sont collectées dans le cadre de l’utilisation ou de la connexion à la plateforme « <b>Place des Entreprises</b> » qu’elle dispose des droits suivants concernant ses données à caractère personnel :</p>
    <ul>
      <li>droit d’information ;</li>
      <li>droit d’accès aux données ;</li>
      <li>droit à la limitation ;</li>
      <li>droit de rectification et droit d’effacement des données le cas échéant.</li>
    </ul>
    <p>Vous pouvez exercer ces droits en écrivant à :</p>
    <p><a href="mailto:contact@place-des-entreprises.beta.gouv.fr" target="_blank">contact@place-des-entreprises.beta.gouv.fr</a></p>
    <p>ou</p>
    <p>Par voie postale :</p>
    <p>Place des Entreprises<br />
      Incubateur des services numériques / DINUM<br />
      20 avenue de Ségur<br />
      75007 Paris</p>
    <p>En raison de l’obligation de sécurité et de confidentialité dans le traitement des données à caractère personnel qui incombe au responsable de traitement, votre demande ne sera traitée que si vous rapportez la preuve de votre identité.</p>
    <p>Pour vous aider dans votre démarche, vous trouverez <a href="https://www.cnil.fr/fr/modeles/courrier" target="_blank">ici</a> un modèle de courrier élaboré par la Cnil.</p>
    <p>Délais de réponse :</p>
    <p>Le responsable de traitement s’engage à répondre à votre demande d’accès, de rectification ou d’opposition ou toute autre demande complémentaire d’informations dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.</p>
    <h3>6.7 Destinataires</h3>
    <p>Les données collectées et les demandes ne sont ni transmises, ni échangées à des tiers, hors organismes publics et parapublics partenaires du « Service ».</p>
    <p>Les données collectées ne sont pas recoupées avec d’autres traitements, à l’exception de ceux réalisés par les organismes publics et parapublics partenaires à des fins d’intérêt général.</p>
    <h3>6.8 Sous-traitants</h3>
    <p>Certaines des données sont envoyées à des sous-traitants pour réaliser certaines missions. Le responsable de traitement s’est assuré de la mise en œuvre par ses sous-traitants de garanties adéquates et du respect de conditions strictes de confidentialité, d’usage et de protection des données.</p>
    <table>
      <tr>
        <th scope="col" id="data1">Partenaire</th>
        <th scope="col" id="data2">Traitement réalisé</th>
        <th scope="col" id="data3">Pays destinataire</th>
        <th scope="col" id="data4">Garanties</th>
      </tr>
      <tr>
        <td headers="data1">Scalingo</td>
        <td headers="data2">Hébergement</td>
        <td headers="data3">France</td>
        <td headers="data4"><a href="https://scalingo.com/fr/data-processing-agreement" target="_blank">https://scalingo.com/fr/data-processing-agreement</a></td>
      </tr>
    </table>
    <h2>Article 7 - Disponibilité et mise à jour des conditions d’utilisation</h2>
    <p>La Direction générale des entreprises et la Délégation générale à l’emploi et à la formation professionnelle se réservent la liberté de modifier ou de suspendre, sans préavis, le « Service » pour des raisons de maintenance ou pour tout autre motif d’intérêt général. Une page d’informations mentionnant cette indisponibilité est alors affichée pour l’Utilisateur », ainsi que pour les « Conseillers » et « Experts ».</p>
    <p>Les termes des présentes conditions d’utilisation peuvent être amendés à tout moment, sans préavis, en fonction des modifications apportées au « Service », de l’évolution de la législation ou pour tout autre motif jugé nécessaire.</p>
  </div>
</section>
