- meta title: "Le service public Conseillers-Entreprises n’est plus disponible"

.fr-container--fluid.fr-py-12w.clap
  .fr-container
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-8.fr-col-lg-6

        .fr-header__brand.fr-mb-6w
          .fr-header__brand-top
            .fr-header__logo.fr-pl-0
              %p.fr-logo
                = t('republique_francaise_html')
          .fr-header__service
            %p.fr-header__service-title.fr-m-0
              %span.red>= t('app_name_subdomain').sp_titleize_url
              = "." + t('app_name_domain').sp_titleize_url
            %p.fr-header__service-tagline= t('app_tagline')

        .text-center
          %h1.fr-h3.fr-mb-6w Le service public Conseillers-Entreprises n’est plus disponible
          %p.fr-mb-0  C’est avec le plus grand regret que nous vous annonçons l’indisponibilité de Conseillers-Entreprises.Service-Public.fr.
          %p En effet, les conditions ne sont actuellement pas réunies pour délivrer le service.

          %p L’ambition était folle, le résultat est au rendez-vous !

          %p Plus de 85 000 entreprises ont pu bénéficier d’un échange avec un conseiller. L’équipe Conseiller-Entreprises remercie les 40 partenaires et les 10 000 conseillers publics et parapublics qui se sont engagés. Nous mesurons la valeur de votre action au quotidien.

          %p Nous souhaitons également réussite aux microentreprises, aux TPE, aux PME, aux professions libérales réglementées ou non, aux associations employeuses et aux agriculteurs que nous avons eu le plaisir de servir.

          %p.fr-mb-0 Votre équipe,
          %p.fr-mb-0 Ludivine, Mélanie, Christophe, Niels, les référents territoriaux
          %p.fr-mb-0 Claire et Lucien, les développeurs
          %p.fr-mb-0 Adeline, la cheffe de produit
          %p Mathieu, le directeur
