<% meta title: t('.title') %>

<div class="fr-container fr-py-7w fr-mt-3v">
  <h1><%= t('.title') %></h1>
</div>

<%= render 'pages/breadcrumbs', title: t('.title'), landing: @landing.presence %>

<div class="fr-container--fluid section-grey fr-py-7w">
  <div class="fr-container container-medium">
    <p>Place des Entreprises est un service de l’État qui met en relation les TPE & PME avec les bons experts publics et parapublics, afin de mobiliser les accompagnements publics existants (aides financières, conseils, accompagnements techniques…) de manière adaptée à chaque situation.</p>
    <p>Il est développé par la Direction Générale des Entreprises (DGE) et la Délégation Générale à l'Emploi et à la Formation Professionnelle (DGEFP), avec l'appui de la Direction Interministérielle du Numérique (DINUM).</p>

    <h2>Responsables de traitement</h2>
    <p>La Direction Générale des Entreprises (DGE) et la Délégation Générale à l’Emploi et à la Formation Professionnelle (DGEFP) sont conjointement responsables du traitement de vos données à caractère personnel. Les coordonnées de la DGE sont : Ministère de l’Économie, DGE, 67 rue Barbès, BP 8001, 94 201 Ivry-sur-Seine. Les coordonnées de la DGEFP sont : Ministère du Travail, DGEFP, 14 avenue Duquesne, 75350 Paris 07 SP.</p>

    <h2>Finalités du traitement</h2>
    <p>Le traitement poursuit trois finalités :</p>
    <ul>
      <li>la mise en relation, sur un territoire donné, des entreprises avec des agents des administrations mentionnées au 1° de l’article L. 100-3 du code des relations entre le public et l’administration ou des organismes chargés d’une mission de service public industriel et commercial, afin qu’ils prennent en charge les demandes exprimées par ces entreprises ;</li>
      <li>la réalisation d’études quantitatives et d’analyses sur la qualité des demandes déposées permettant d’évaluer et d’améliorer les accompagnements nationaux, régionaux ou infrarégionaux dispensés par les administrations et les organismes susmentionnés ;</li>
      <li>la diffusion des actualités utiles aux entreprises du territoire concerné au travers d’une lettre d’information.
    </ul>

    <h2>Licéité du traitement</h2>
    <p>Conformément aux articles 6-c et 6-e du Règlement (UE) n°2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, le traitement de données est nécessaire à l’exécution d’une mission d’intérêt public dont sont investis les responsables du traitement.</p>
    <p>La mission d’intérêt public dans laquelle s’inscrit le traitement est définie par le décret n°2009-37 modifié du 12 janvier 2009 relatif à la Direction Générale des Entreprises, l’arrêté du 4 mai 2017 portant organisation de la Délégation Générale à l’Emploi et à la Formation Professionnelle et le code des relations entre le public et l'administration.</p>
    <p>Le traitement est régi par <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000045742996" target="_blank">le décret n° 2022-778 du 3 mai 2022 relatif à la création du traitement de données à caractère personnel dénommé « Place des Entreprises »</a>l.</p>

    <h2>Catégories de données personnelles traitées</h2>
    <ul>
      <li><span class="bold">Pour les données d’identification des personnes représentant l’entreprise :</span> nom, prénom, adresse mail et numéro de téléphone ;</li>
      <li><span class="bold">Pour les données d’identification des agents mentionnés dans les finalités du traitement :</span> nom, prénom, adresse mail et numéro de téléphone professionnels ;</li>
      <li><span class="bold">Pour les données de connexion :</span> adresse IP, date et heure de connexion, lieu de connexion du représentant de l’entreprise ou des agents mentionnés dans les finalités du traitement.
    </ul>

    <h2>Source des données</h2>
    <p>Les données relatives aux représentants des entreprises sont déposées dans le cadre de leur sollicitation.</p>
    <p>Les données relatives aux experts sont transmises par les partenaires du service.</p>

    <h2>Caractère obligatoire des réponses</h2>
    <p>Les données marquées par un astérisque dans le formulaire doivent obligatoirement être fournies. Dans le cas contraire, la demande ne peut pas être transmise.</p>

    <h2>Accédants et destinataires du traitement</h2>
    <p>Les responsables de traitement s’engagent à ce que les données à caractère personnel soient traitées par les seules personnes autorisées.</p>
    <p>Les données collectées auprès des entreprises peuvent être transmises pour la prise en charge des besoins exprimés, en fonction du sujet choisi par le dirigeant, aux partenaires publics et parapublics suivants :</p>
    <ul>
      <li>Agence centrale des organismes de sécurité sociale et le réseau des Urssaf ;</li>
      <li>Agence de l’environnement et de la maîtrise de l’énergie ;</li>
      <li>Association de gestion du fonds pour l’insertion professionnelle des personnes handicapées ;</li>
      <li>Agence nationale pour l’amélioration des conditions de travail ;</li>
      <li>Assemblée permanente des chambres d’agriculture et les chambres locales ;</li>
      <li>Association pour l’emploi des cadres ;</li>
      <li>Associations reconnues d’utilité publique et agissant dans le domaine de l’emploi et du développement économique ;</li>
      <li>Banque de France ;</li>
      <li>Banque publique d’investissement France ;</li>
      <li>Caisse centrale de mutualité sociale agricole et caisses départementales et pluri départementales de mutualité sociale agricole ;</li>
      <li>Caisses d’assurance retraite et de la santé au travail ;</li>
      <li>Chambre de Commerce et d’Industrie France et les chambres locales ;</li>
      <li>Chambre de Métiers et de l’Artisanat France et les chambres locales ;</li>
      <li>Conseils régionaux, collectivités territoriales à statut particulier et leurs agences de développement économique ;</li>
      <li>Direction générale des finances publiques ;</li>
      <li>Direction générale des douanes et des droits indirects ;</li>
      <li>Directions générales dont les missions confèrent un rôle d’accompagnement des entreprises ;</li>
      <li>Directions régionales de l’alimentation, de l’agriculture et de la forêt ;</li>
      <li>Directions régionales des entreprises, de la concurrence, de la consommation, du travail et de l‘emploi ;</li>
      <li>France Initiative ;</li>
      <li>Institut national de la propriété industrielle ;</li>
      <li>Intercommunalités, métropoles, établissements publics de coopération intercommunale et leurs agences de développement économique ;</li>
      <li>Maisons de l’emploi ;</li>
      <li>Médiateur des entreprises ;</li>
      <li>Opérateurs de compétences (11 OPCO) ;</li>
      <li>Organismes de placement spécialisés Cap emploi ;</li>
      <li>Pôle emploi ;</li>
      <li>Préfectures ;</li>
      <li>Union nationale des missions locales et les missions locales en région ;</li>
    </ul>
    <p>Les données relatives aux experts référencés au sein des partenaires publics et parapublics ne sont accessibles qu’aux autres experts notifiés sur les mêmes sujets d’accompagnement, ainsi qu’à l’équipe opérationnelle Place des Entreprises.</p>

    <h2>Sous-traitants</h2>
    <p>Les données sont accessibles par des sous-traitants dans le cadre de leurs missions. Les responsables de traitement se sont assurés auprès de leurs sous-traitants des garanties adéquates et du respect de conditions strictes de confidentialité, d’usage et de protection des données.</p>
    <p>La Direction Générale des Entreprises (DGE) met en œuvre le traitement de Place des Entreprises. Elle recourt, pour certaines compétences spécifiques, à la société Malt. La mission d’infogérance est confiée à la société Scalingo. Les missions d'hébergement des données du service sont confiées aux sociétés 3DS et OVH.</p>

    <h2>Durée de conservation des données personnelles</h2>
    <p><span class="bold">Les données relatives aux entreprises utilisatrices du service</span> sont conservées pendant une durée maximale de 3 ans.</p>
    <p>Cette durée de conservation est nécessaire à la bonne prise en charge des demandes des entreprises, à l’information délivrée sur les nouveaux accompagnements publics susceptibles d’intéresser le chef d’entreprise, ainsi qu’à l’évaluation des politiques publiques engagées par la DGEFP, la DGE et les partenaires du service.</p>
    <p><span class="bold">Les données relatives aux experts référencés au sein des partenaires publics et parapublics</span> sont mises à jour chaque année par les partenaires publics et parapublics.
    <p>Cette durée de conservation est nécessaire à la prise en charge effective des demandes d’entreprises.</p>

    <h2>Traitements mis en relation avec le traitement Place des Entreprises</h2>
    <p>Pour le bon fonctionnement du service, Place des Entreprises est interconnecté avec d’autres traitements.</p>
    <div class="fr-table">
      <table>
        <caption>Traitements alimentant le traitement Place des Entreprises</caption>
        <thead>
        <tr>
          <th id="table-1-data1">Traitements automatisés alimentant Place des Entreprises</th>
          <th id="table-1-data2">Finalités du traitement</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td headers="table-1-data1">Traitement Entreprise.data.gouv.fr</td>
          <td headers="table-1-data2">Entreprise.data.gouv.fr alimente Place des Entreprises en données relatives au numéro de SIRET, à l’enseigne, la localisation (code postal et ville), le nom de l’établissement et le secteur d’activité de l’entreprise.</td>
        </tr>
        <tr>
          <td headers="table-1-data1">Traitement API Entreprise</td>
          <td headers="table-1-data2">API Entreprise alimente Place des Entreprises en données générales relatives aux entreprises issues de multiples administrations</td>
        </tr>
        <tr>
          <td headers="table-1-data1">Traitement IP info</td>
          <td headers="table-1-data2"> IP info alimente Place des Entreprises en données relatives à la localisation géographique de tout visiteur du site (adresse IP anonymisée).</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="fr-table">
      <table>
        <caption>Traitements alimentés par le traitement Place des Entreprises</caption>
        <thead>
        <tr>
          <th id="table-2-data1">Traitements automatisés alimentés par Place des Entreprises</th>
          <th id="table-2-data2">Finalités du traitement</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td headers="table-2-data1">Traitement SendinBlue</td>
          <td headers="table-2-data2">Place des Entreprises alimente SendinBlue en données relatives aux adresses mails des agents mentionnés au 1° de l’article 2 du décret et des représentants des entreprises afin d’assurer le suivi des mises en relation.</td>
        </tr>
        <tr>
          <td headers="table-2-data1">Traitement Matomo</td>
          <td headers="table-2-data2">Place des Entreprises alimente Matomo en données de connexion de visiteurs du site (adresses IP anonymisées) pour mesurer les statistiques d’utilisation du service.</td>
        </tr>
        <tr>
          <td headers="table-2-data1">Traitement OVH</td>
          <td headers="table-2-data2"> Place des Entreprises alimente OVH pour le stockage de données agrégées : fichiers statistiques, fichiers de mises en relation à destination des responsables d’antennes, sauvegarde de secours de la base de donnée.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <h2 id="utilisation-cookies">Utilisation de témoins de connexion (« cookies »)</h2>
    <p><span class="bold">Qu’est-ce qu’un « cookie » ?</span></p>
    <p>Un « cookie » est un petit fichier texte transmis par un site web sur lequel vous naviguez et déposé sur votre terminal (ordinateur, tablette, smartphone…). Votre navigateur web le conservera alors pendant une certaine durée, et renverra au serveur web les informations enregistrées chaque fois que vous vous reconnecterez au site en question. Les cookies ont de multiples utilités : par exemple ils mémorisent vos choix de personnalisation, des informations pour vous éviter de les ressaisir, un identifiant (anonyme) pour suivre votre navigation à des fins statistiques et d’amélioration d’un service, le contenu de votre panier d’achat dans le cas d’un site marchand…</p>
    <p><span class="bold">Les cookies et autres traceurs utilisés sur Place des Entreprises ?</span></p>
    <p>Sur https://place-des-entreprises.beta.gouv.fr, nous utilisons différents cookies pour améliorer votre expérience et notre service.</p>

    <h3>Cookies nécessaires au fonctionnement du site</h3>
    <p>Ces cookies permettent au site de fonctionner correctement et de manière optimale. Conformément à la loi, ces cookies étant nécessaires au bon fonctionnement du site, ils ne sont pas paramétrables sur notre site. Si toutefois vous souhaitiez bloquer ces cookies, il reste possible de le faire depuis les paramètres de votre navigateur, cependant votre expérience utilisateur risquerait alors d’être dégradée. Le tableau ci-dessous détaille les cookies de ce type qui peuvent être déposés, avec leur nom technique.</p>
    <div class="fr-table">
    <table>
      <caption>Cookies fonctionnels</caption>
      <thead>
      <tr>
        <th id="table-3-data1">Cookie lié au service</th>
        <th id="table-3-data2">Nom technique du cookie</th>
        <th id="table-3-data3">Finalité</th>
        <th id="table-3-data4">Durée de conservation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td headers="table-3-data1">Tarte au citron</td>
        <td headers="table-3-data2">Tarteaucitron</td>
        <td headers="table-3-data3">Permet de sauvegarder vos choix en matière de consentement des cookies</td>
        <td headers="table-3-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-3-data1">Place des Entreprises</td>
        <td headers="table-3-data2">_PlaceDesEntreprises_session</td>
        <td headers="table-3-data3">Permet de stocker des informations techniques liées à la session de l’utilisateur</td>
        <td headers="table-3-data4">Le temps de la session</td>
      </tr>
      <tr>
        <td headers="table-3-data1">Place des Entreprises</td>
        <td headers="table-3-data2">remember_user_token</td>
        <td headers="table-3-data3">Permet de rester connecté si l’utilisateur a cliqué sur « Se souvenir de moi » lors de la connexion</td>
        <td headers="table-3-data4">6 mois</td>
      </tr>
      </tbody>
    </table>
    </div>
    <div class="fr-table">
    <table>
      <caption>Cookies de mesure d’audience</caption>
      <thead>
      <tr>
        <th id="table-4-data1">Cookie lié au service</th>
        <th id="table-4-data2">Nom technique du cookie</th>
        <th id="table-4-data3">Finalité</th>
        <th id="table-4-data4">Durée de conservation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td headers="table-4-data1">Matomo</td>
        <td headers="table-4-data2">_pk_id#</td>
        <td headers="table-4-data3">Permet de stocker votre identifiant unique de visite via Matomo</td>
        <td headers="table-4-data4">13 mois</td>
      </tr>
      <tr>
        <td headers="table-4-data1">Matomo</td>
        <td headers="table-4-data2">piwik_ignore</td>
        <td headers="table-4-data3">Permet de mémoriser votre choix d’ignorer la mesure d’audience via Matomo</td>
        <td headers="table-4-data4">2 ans</td>
      </tr>
      <tr>
        <td headers="table-4-data1">Matomo</td>
        <td headers="table-4-data2">_pk_ses#</td>
        <td headers="table-4-data3">Permet de stocker temporairement vos données de visite via Matomo</td>
        <td headers="table-4-data4">30 minutes</td>
      </tr>
      <tr>
        <td headers="table-4-data1">Matomo</td>
        <td headers="table-4-data2">_pk_ref</td>
        <td headers="table-4-data3">Permet de mémoriser la page précédente du visiteur</td>
        <td headers="table-4-data4">6 mois</td>
      </tr>
      </tbody>
    </table>
    </div>
    <p>Matomo est un outil de mesure d’audience web libre, paramétré pour être en conformité avec la recommandation « Cookies » de la CNIL. Cela signifie que votre adresse IP, par exemple, est anonymisée avant d’être enregistrée. Il est donc impossible d’associer vos visites sur ce site à votre personne. Malgré tout, si vous le souhaitez, vous avez la possibilité de vous opposer au suivi de votre navigation sur ce site, en cochant la case ci-dessous :</p>
    <iframe style="border: 0; height: 150px; width: 100%;" title="formulaire d’opposition au suivi Matomo" src="https://stats.data.gouv.fr/index.php?module=CoreAdminHome&action=optOut&language=fr&fontSize=1rem&fontFamily=%22Open%20Sans%22"></iframe>

    <h3>Cookies tiers</h3>
    <p>Ces cookies permettent au site Place des Entreprises de porter le service à connaissance de ses potentiels utilisateurs.</p>
    <div class="fr-table">
    <table>
      <caption>Cookies publicitaires</caption>
      <thead>
      <tr>
        <th id="table-5-data1">Cookie lié au service</th>
        <th id="table-5-data2">Nom technique du cookie</th>
        <th id="table-5-data3">Finalité</th>
        <th id="table-5-data4">Durée de conservation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td headers="table-5-data1">Google Adwords (remarketing)</td>
        <td headers="table-5-data2">__Secure-3PSIDCC</td>
        <td headers="table-5-data3">Crée un profil des centres d’intérêt des visiteurs du site pour afficher des publicités pertinentes et personnalisées grâce au reciblage</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Google Adwords (remarketing)</td>
        <td headers="table-5-data2">__Secure-3PSID</td>
        <td headers="table-5-data3">Crée un profil des centres d’intérêt des visiteurs du site pour afficher des publicités pertinentes et personnalisées grâce au reciblage</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Google Adwords (remarketing)</td>
        <td headers="table-5-data2">__Secure-3PAPISID</td>
        <td headers="table-5-data3">Crée un profil des centres d’intérêt des visiteurs du site pour afficher des publicités pertinentes et personnalisées grâce au reciblage</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Google Adwords (remarketing)</td>
        <td headers="table-5-data2">NID</td>
        <td headers="table-5-data3">Stocke les préférences des visiteurs et personnalise les annonces sur les sites web de Google en fonction des recherches et des interactions récentes</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Google DoubleClick (remarketing)</td>
        <td headers="table-5-data2">IDE</td>
        <td headers="table-5-data3">Stocke les préférences des visiteurs et personnalise les annonces sur les sites web n’appartenant pas à Google en fonction des recherches et des interactions récentes</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Facebook (remarketing)</td>
        <td headers="table-5-data2">c_user</td>
        <td headers="table-5-data3">Contient l’identifiant de l’utilisateur actuellement connecté.</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Facebook (remarketing)</td>
        <td headers="table-5-data2">datr</td>
        <td headers="table-5-data3">Identifie le navigateur web utilisé pour se connecter à Facebook, indépendamment de l’utilisateur connecté.</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Facebook (remarketing)</td>
        <td headers="table-5-data2">dpr</td>
        <td headers="table-5-data3">Enregistre les informations sur l’utilisateur connecté à Facebook pour les besoins publicitaires et mise à jour du contenu.</td>
        <td headers="table-5-data4">7 jours</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Facebook (remarketing)</td>
        <td headers="table-5-data2">fr</td>
        <td headers="table-5-data3">Utilisé pour fournir, mesurer et améliorer la pertinence des publicités.</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Facebook (remarketing)</td>
        <td headers="table-5-data2">sb</td>
        <td headers="table-5-data3">Stocke les détails du navigateur.</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Facebook (remarketing)</td>
        <td headers="table-5-data2">spin</td>
        <td headers="table-5-data3">Analyse statistique publicitaire.</td>
        <td headers="table-5-data4">24 heures</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Facebook (remarketing)</td>
        <td headers="table-5-data2">usida</td>
        <td headers="table-5-data3">Collecte une combinaison du navigateur de l’utilisateur et de l’identifiant unique, utilisé pour adapter la publicité aux utilisateurs.</td>
        <td headers="table-5-data4">Session</td>
      </tr>
      <tr>
        <td headers="table-5-data1">Facebook (remarketing)</td>
        <td headers="table-5-data2">xs</td>
        <td headers="table-5-data3">Enregistre l’identifiant de l’utilisateur ainsi que le navigateur. Il permet de rester connecté lorsque l’utilisateur navigue d’une Page Facebook à l’autre</td>
        <td headers="table-5-data4">6 mois</td>
      </tr>
      </tbody>
    </table>
    </div>
    <p>À tout moment, vous pouvez refuser l’utilisation des cookies et désactiver le dépôt sur votre ordinateur en utilisant la fonction dédiée de votre navigateur (fonction disponible notamment sur Microsoft Internet Explorer 11, Edge, Google Chrome, Mozilla Firefox, Apple Safari et Opera).</p>
    <p>Pour aller plus loin, vous pouvez consulter les fiches proposées par la Commission Nationale de l’Informatique et des Libertés (CNIL) :</p>
    <ul>
      <li><a href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi" target="_blank">Cookies & traceurs : que dit la loi ?</a></li>
      <li><a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">Cookies : les outils pour les maîtriser</a></li>
    </ul>

    <h2>Vos demandes d’exercice de droit</h2>
    <p>Conformément au RGPD et à la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès et de rectification, des données vous concernant. Vous pouvez également vous opposer au traitement ou demander sa limitation. Le traitement répondant à une mission d’intérêt de service public, les droits de portabilité et d’effacement ne sont pas applicables.</p>
    <p>Pour exercer ces droits ou pour toute question relative au traitement de vos données à caractère personnel dans le cadre de ce dispositif, vous pouvez contacter le service par voie électronique dpo@placedesentreprises.beta.gouv.fr ou par courrier postal, à l’adresse suivante : Ministères Sociaux – DGEFP – FIMOD MISI RGPD 14 avenue Duquesne, 75007, Paris.</p>
    <p>Vous disposez d’un droit d’introduire une réclamation auprès de la Commission nationale de l’informatique et des libertés, si vous considérez que le traitement de données à caractère personnel vous concernant constitue une violation du règlement général sur la protection des données et de la loi informatique et libertés.</p>
  </div>
</div>
