<% meta title: t('.title') %>

<section class="section section-white landing">
  <div class="container container">
    <h1><%= t('.title') %></h1>
  </div>
</section>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<section class="section section-grey">
  <div class="container container-medium cgu">
    <h2>Editeur de la plateforme</h2>
    <p>La Plateforme est éditée par la Direction Générale des Entreprises (DGE) et la Délégation Générale à l’Emploi et à la Formation Professionnelle (DGEFP).</p>
    <h2>Directeur de la publication</h2>
    <p>Monsieur Thomas Courbe, Directeur Général des Entreprises et Monsieur Bruno Lucas, Délégué Général à l’Emploi et à la Formation Professionnelle.</p>
    <h2>Hébergement de la plateforme</h2>
    <p>Cette plateforme est hébergée par :</p>
    <p>Scalingo<br />
      15 avenue du Rhin<br />
      67000 STRASBOURG</p>
</section>
