<% meta title: t('.title') %>

<div class="fr-container fr-py-7w fr-mt-3v">
    <h1 class="fr-h2"><%= t('.title') %></h1>
</div>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<div class="fr-container--fluid light-blue-bg fr-py-7w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
        <h2 class="fr-h3">Responsables éditoriaux de la plateforme</h2>
        <p>Monsieur Thomas Courbe, Directeur général des entreprises (DGE) et Monsieur Jérôme Marchand-Arvier, Délégué général à l'emploi et à la formation professionnel (DGEFP).</p>

        <h2 class="fr-h3">Directrice de la publication</h2>
        <p>Madame Anne Duclos-Grisier, Directrice de l'information légale et administrative (DILA).</p>

        <h2 class="fr-h3">Hébergement de la plateforme</h2>
        <p>Cette plateforme est hébergée par :</p>
        <p>Scalingo<br />
          15 avenue du Rhin<br />
          67000 STRASBOURG
        </p>
      </div>
    </div>
  </div>
</div>
