<% meta title: t('.title') %>

<section class="section section-white landing">
  <div class="container container">
    <h1><%= t('.title') %></h1>
  </div>
</section>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<section class="section section-grey">
  <div class="container container-medium">
    <p>Place des entreprises est un service de l'État qui vise à mettre en relation les TPE & PME avec les bons experts publics et permet ainsi de mobiliser les accompagnements publics existants (aides financières, conseils, accompagnements…) de manière adaptée à chaque situation.</p>
  <p>Il est développé au sein de l’Incubateur des Services Numériques de la Direction Interministérielle du Numérique (DINUM).</p>

    <h2>Responsable de traitement</h2>
    <p>La Délégation Générale à l'Emploi et à la Formation Professionnelle (DGEFP) est le responsable du traitement de vos données à caractère personnel. Les coordonnées de la DGEFP sont : Ministère du Travail, DGEFP, 14 avenue Duquesne, 75350 Paris 07 SP.</p>

    <h2>Finalités du traitement</h2>
    <p>Le traitement poursuit trois finalités :</p>
    <ul>
      <li>permettre la prise en charge par des experts publics et parapublics de besoins exprimés par les très petites et moyennes entreprises d’un territoire, afin de favoriser leur adaptation aux enjeux socio-économiques, technologiques et environnementaux ;</li>
      <li>réaliser des études quantitatives et qualitatives par la Délégation Générale à l'Emploi et à la Formation Professionnelle (DGEFP), la Direction Générale des Entreprises (DGE) et les partenaires pour évaluer et améliorer la qualité des accompagnements publics et parapublics existant, qu’ils soient nationaux, régionaux ou infra régionaux ;</li>
      <li>proposer aux très petites et moyennes entreprises un accès simplifié à l’information sur les nouveaux accompagnements et dispositifs portés par la DGEFP, la DGE et les partenaires du service Place des Entreprises.
    </ul>

    <h2>Licéité du traitement</h2>
    <p>Conformément aux articles 6-c et 6-e du Règlement (UE) n°2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, le traitement de données est nécessaire au respect d’une obligation légale et à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement.</p>
    <p>La mission d’intérêt public dans laquelle s’inscrit le service Place des Entreprises est définie à l’article 2, I du<a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000039000542/2020-05-05/" target="_blank"> décret n°2009-37 modifié du 12 janvier 2009 relatif à la direction générale des entreprises</a> et à l’articles 5, de <a href="https://www.legifrance.gouv.fr/jorf/article_jo/JORFARTI000034637287" target="_blank">  l’arrêté du 4 mai 2017 portant organisation de la délégation générale à l'emploi et à la formation professionnelle</a>.</p>

   <h2>Catégories de données personnelles traitées</h2>
    <ul>
      <li><b>Les données personnelles relatives aux entreprises utilisatrices du service</b> : nom et prénom du dirigeant ou du contact en entreprise, adresse mail professionnelle ou personnelle, numéro de téléphone professionnel ou personnel, informations contextuelles relatives au sujet d’accompagnement choisi ;</li>
      <li><b>Les données personnelles relatives aux experts référencés au sein des partenaires publics et parapublics</b> : nom et prénom de l’expert, adresse mail professionnelle, numéro de téléphone professionnel, fonction, champ de compétences de l’expert, champ d’intervention géographique.</li>
    </ul>

   <h2>Caractère obligatoire des réponses</h2>
   <p>Les données marquées par un astérisque dans le formulaire doivent obligatoirement être fournies. Dans le cas contraire, la demande ne peut pas être prise en charge.</p>

    <h2>Destinataires du traitement</h2>
    <p>Le responsable de traitement s’engage à ce que les données à caractère personnel soient traitées par les seules personnes autorisées.</p>
    <p>Les données collectées auprès des entreprises peuvent être transmises pour la prise en charge des besoins exprimés, en fonction du sujet choisi par le dirigeant, aux partenaires publics et parapublics suivants : Acoss, Ademe, Agefiph, Anact, APACA, Apec, Banque de France, Bpifrance, Cap emploi, CCI France, CMA France, conseils régionaux, DGE, DGEFP, DGFIP, Direccte, Douanes, Draaf, France Initiative, Inpi, Intercommunalités (EPCI, métropoles…), INRS, Maisons de l’emploi, Missions locales, Médiateur des entreprises, Msa, OPCO (11 opérateurs), Pôle emploi, Préfectures.</p>
    <p>Ces données peuvent également être transmises - indifféremment du sujet choisi par le dirigeant - aux conseils régionaux partenaires du service, à CCI France, à CMA France, à la DGE et à la DGEFP, à des fins d’évaluation et d’amélioration des accompagnements publics existants.</p>
    <p>Les données relatives aux experts référencés au sein des partenaires publics et parapublics ne sont accessibles qu’aux autres experts notifiés sur les mêmes sujets d’accompagnement, ainsi qu’à l’équipe opérationnelle Place des Entreprises.</p>

    <h2>Sous-traitants</h2>
    <p>Les données sont accessibles par des sous-traitants dans le cadre de leurs missions. Le responsable de traitement s’est assuré auprès de ses sous-traitants des garanties adéquates et du respect de conditions strictes de confidentialité, d’usage et de protection des données.</p>
    <p>La Direction Interministérielle du Numérique (DINUM) met en œuvre le traitement de Place des Entreprises. Elle recourt à la société Octo Technology. Les missions d’infogérance et d’hébergement des données du service sont respectivement confiées à la société Scalingo et à la société 3DS.</p>

    <h2>Durée de conservation des données personnelles</h2>
    <p><b>Les données relatives aux entreprises utilisatrices du service</b> sont conservées pendant une durée maximale de 3 ans.</p>
    <p>Cette durée de conservation est nécessaire à la bonne prise en charge des demandes des entreprises, à l’information délivrée sur les nouveaux accompagnements publics susceptibles d’intéresser le chef d’entreprise, ainsi qu’à l’évaluation des politiques publiques engagées par la DGEFP, la DGE et les partenaires du service.</p>
    <p><b>Les données relatives aux experts référencés au sein des partenaires publics et parapublics</b> sont mises à jour chaque année par les partenaires publics et parapublics.
    <p>Cette durée de conservation est nécessaire à la prise en charge effective des demandes d’entreprises.</p>

    <h2>Utilisation de témoins de connexion (« cookies »)</h2>
    <p>Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).</p>
    <p>Le site dépose des cookies de mesure d’audience (nombre de visites, pages consultées), respectant les conditions d’exemption du consentement de l’internaute définies par la recommandation « Cookies » de la Commission nationale informatique et libertés (CNIL). Cela signifie, notamment, que ces cookies ne servent qu’à la production de statistiques anonymes. Le site dépose également des cookies de navigation, aux fins strictement techniques, qui ne sont pas conservés.</p>
    <p>Nous utilisons pour cela Matomo, un outil de mesure d’audience web libre, paramétré pour être en conformité avec la recommandation « Cookies » de la CNIL. Cela signifie que votre adresse IP, par exemple, est anonymisée avant d’être enregistrée. Il est donc impossible d’associer vos visites sur ce site à votre personne.</p>
    <p>Il convient d’indiquer que :</p>
    <ul>
      <li>les données collectées ne sont pas recoupées avec d’autres traitements ;</li>
      <li>les cookies ne permettent pas de suivre la navigation de l’internaute sur d’autres sites.</li>
    </ul>
    <p>À tout moment, vous pouvez refuser l’utilisation des cookies et désactiver le dépôt sur votre ordinateur en utilisant la fonction dédiée de votre navigateur (fonction disponible notamment sur Microsoft Internet Explorer 11, Edge, Google Chrome, Mozilla Firefox, Apple Safari et Opera).</p>
    <p>La consultation de la plateforme n’est pas affectée lorsque les utilisateurs recourent ainsi à des navigateurs désactivant les cookies.</p>
    <p>Pour aller plus loin, vous pouvez consulter les fiches proposées par la Commission Nationale de l’Informatique et des Libertés (CNIL) :</p>
    <ul>
      <li><a href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi" target="_blank">Cookies & traceurs : que dit la loi ?</a></li>
      <li><a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">Cookies : les outils pour les maîtriser</a></li>
    </ul>

     <h2>Vos demandes d’exercice de droit</h2>
     <p>Conformément au RGPD et à la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès et de rectification, des données vous concernant.  Vous pouvez également vous opposer au traitement ou demander sa limitation. Le traitement répondant à une mission d’intérêt de service public, les droits de portabilité et d’effacement ne sont pas applicables.</p>
     <p>Pour exercer ces droits ou pour toute question relative au traitement de vos données à caractère personnel dans le cadre de ce dispositif, vous pouvez contacter la Start Up d’État Sirius par voie électronique dpo@placedesentreprises.beta.gouv.fr ou par courrier postal, à l’adresse suivante : Ministères Sociaux – DGEFP – FIMOD MISI RGPD 14 avenue Duquesne, 75007, Paris.</p>
     <p>Vous disposez d’un droit d'introduire une réclamation auprès de la Commission nationale de l’informatique et des libertés, si vous considérez que le traitement de données à caractère personnel vous concernant constitue une violation du règlement général sur la protection des données et de la loi informatique et libertés.</p>
  </div>
</section>
