<% meta title: t('.title') %>

<div class="fr-container fr-py-7w fr-mt-3v">
    <h1 class="fr-h2"><%= t('.title') %></h1>
</div>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<div class="fr-container--fluid light-blue-bg fr-py-7w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
      <h2 class="fr-h3">Éditeur de la plateforme</h2>
      <p>La Plateforme est éditée par la Direction Générale des Entreprises (DGE) et la Délégation Générale à l’Emploi et à la Formation Professionnelle (DGEFP).</p>

      <h2 class="fr-h3">Directeur de la publication</h2>
      <p>Monsieur Thomas Courbe, Directeur Général des Entreprises et Monsieur Bruno Lucas, Délégué Général à l’Emploi et à la Formation Professionnelle.</p>

      <h2 class="fr-h3">Hébergement de la plateforme</h2>
      <p>Cette plateforme est hébergée par :</p>
      <p>Scalingo<br />
        15 avenue du Rhin<br />
        67000 STRASBOURG
      </p>
    </div>
  </div>
</div>
