<% meta title: t('.title') %>

<section class="section section-white landing">
  <div class="container container">
    <h1><%= t('.title') %></h1>
  </div>
</section>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<section class="section section-grey">
  <div class="container container-medium cgu">
    <h2>Editeur de la plateforme</h2>
    <p>La Plateforme est éditée par la Délégation Générale à l’Emploi et à la Formation Professionnelle (DGEFP).</p>
    <h2>Directeur de la publication</h2>
    <p>Monsieur Bruno Lucas, Délégué Général à l’Emploi et à la Formation Professionnelle.</p>
    <h2>Hébergement de la plateforme</h2>
    <p>Cette plateforme est hébergée par :</p>
    <p>Scalingo<br />
      15 avenue du Rhin<br />
      67000 STRASBOURG</p>
    <h2>Accessibilité</h2>
    <p>La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site accessible à toutes et à tous.</p>
    <p>Si vous rencontrez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou à une fonctionnalité du site, merci de nous en faire part. Si vous n’obtenez pas de réponse rapide de notre part, vous êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits. Pour en savoir plus sur la politique d’accessibilité numérique de l’État : <a href="http://references.modernisation.gouv.fr/accessibilite-numerique" target="_blank">http://references.modernisation.gouv.fr/accessibilite-numerique</a></p>
  </div>
</section>
