<% meta title: t('.title') %>
<section class="section section-grey">
  <div class="container container-medium">
    <h1 class="section__title">
      <%= t('.title') %>
    </h1>
    <p>Le service public Place des Entreprises permet à l’État, aux Régions volontaires et à l’ensemble des organismes publics et parapublics de développer leur rôle d’appui et de conseil auprès des TPE & PME.
    </p>
    <h2>Des entrepreneurs isolés, des administrations cloisonnées</h2>
    <p>Plus de 2 000 aides publiques aux entreprises existent, ainsi que de multiples accompagnements par différents organismes publics et parapublics. Malheureusement ces dispositifs restent largement méconnus de leurs destinataires, en particulier des TPE & PME. La lisibilité des aides devient également de plus en plus complexe.</p>
    <p>Ensuite, les chefs d’entreprises ne savent pas toujours à qui adresser leurs demandes face à la diversité d’acteurs publics. Identifier le bon interlocuteur dans la bonne administration et parvenir à le joindre relève parfois du parcours du combattant. L’activité du dirigeant ne laisse en outre que peu de disponibilité pour entamer de telles démarches.</p>
    <p>Enfin, les organismes publics chargés d’accompagner les entreprises sont confrontés à un problème de cloisonnement de leurs champs d’intervention. Ils se retrouvent démunis face à des questions qui dépassent leurs attributions.</p>
    <h2>Un portail à portée de main des entreprises et un outil partagé pour les agents publics</h2>
    <p>Le service Place des Entreprises repose sur immense carnet d’adresses référençant, au sein des administrations et organismes publics, des experts sur des champs de compétences précis. Grâce à un système de mise en relation, un besoin d’entreprise est transmis aux experts compétents en 2 minutes.</p>
    <p>Les chefs d’entreprises expriment ainsi leurs besoins sur le portail en ligne et sont directement appelés par les bons experts. La diversité des partenaires mobilisés permet de couvrir l’ensemble des besoins des entreprises : ressources humaines, droit du travail, financement de nouveaux projets, difficultés financières, transmission-reprise d’entreprise, santé et sécurité au travail, transition numérique, transition écologique…</p>
    <p>L’ensemble des conseillers de service public en contact avec les entreprises (conseillers de Pôle emploi, des CMA, des CCI, des intercommunalités…) sont invités à utiliser l’outil chaque fois qu’un dirigeant leur fait part d’un besoin pour lequel ils ne sont pas experts. Oubliez le maquis administratif, l’orientation vers le bon interlocuteur devient automatique !</p>
    <p>L’objectif est d’offrir un conseil personnalisé et de proximité aux TPE & PME pour les aider à se développer et à s’adapter aux mutations socio-économiques qui bouleversent aujourd’hui notre société.</p>
    <h2>Une petite équipe inspirée par vous chefs d’entreprises et agents  publics !</h2>
    <p>Le service a été construit pas à pas, en confrontant nos hypothèses de travail avec la réalité du terrain. Notre démarche repose sur des échanges nourris avec les chefs d’entreprises et les conseillers d’entreprises sur les difficultés rencontrées par chacun au quotidien.</p>
    <p>N’hésitez pas à nous faire part de vos idées, suggestions et critiques pour améliorer le service. </p>
  </div>
  <div class="section section-grey text-center">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="border: none;" height="315" src="https://www.youtube.com/embed/3pcHSqk2sP4" width="560"></iframe>
  </div>
</section>
<%= render 'contact_us' %>
