- meta title: t('.title')

%section.section.section-grey
  .container.container-medium
    %h2.section__title= t('.title')
    = t('.explanation_html')

  .section.section-grey.text-center
    %iframe{ allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "315", src: "https://www.youtube.com/embed/3pcHSqk2sP4", width: "560" }

= render 'contact_us'
