<% meta title: t('.title') %>

<div class="fr-container fr-py-7w fr-mt-3v">
    <h1 class="fr-h2"><%= t('.title') %></h1>
</div>

<%= render 'pages/breadcrumbs', title: t('.title') %>

<div class="fr-container--fluid section-grey fr-py-7w">
  <div class="fr-container container-medium">
    <h2 class="fr-h3">Que fait ce service public ?</h2>
    <p>Conseillers-Entreprises est un service de mise en relation entre les entreprises et les conseillers de service public. Il permet d’offrir aux TPE et PME un <b>conseil personnalisé et de proximité</b> sur une diversité de sujets. Plus de <b>10 000 conseillers</b> sont ainsi référencés au sein de <b>40 partenaires publics et parapublics</b>. Plus de 25 000 entreprises par an utilisent le service pour échanger avec un conseiller sur leurs problématiques.</p>
    <p>Le service couvre l’ensemble du territoire français depuis son officialisation le 21 juin 2022.</p>

    <h2 class="fr-h3">Pourquoi le service change-t-il de nom ?</h2>
    <p>L’État, accompagné de ses partenaires publics et parapublics, rénove sa relation aux entreprises. L'objectif est de mieux informer et accompagner les dirigeants aux différentes étapes clés de la vie de l’entreprise. Place des Entreprises s’est donnée pour mission de <b>faciliter ce dernier km décisif</b> en s’appuyant sur l’expertise des conseillers de proximité.</p>
    <p>Conseillers-Entreprises accélère cette simplification en opérant un rapprochement avec la marque incontournable qu’est <b>Service-Public.fr</b>. Grâce à la complémentarité des parcours, Entreprendre.service-public.fr et Conseillers-Entreprises.service-public.fr concrétisent le souhait d’un « portail élargi d’information et d’orientation des entreprises ». Après s’être informé, le dirigeant peut échanger avec un conseiller pour mettre en oeuvre un accompagnement.</p>

    <h2 class="fr-h3">Quels ministères portent le service ?</h2>
    <p>Le service Conseillers-Entreprises est toujours porté par la Direction générale des entreprises (DGE) au <b>Ministère de l'Économie</b>, et par la Délégation générale à l’emploi et à la formation professionnelle (DGEFP) au <b>Ministère du Travail</b>.</p>
    <p>Au sein des <b>Services du Premier Ministre</b>, la Direction de l'information légale et administrative (DILA), apporte son soutien et son expertise en tant que responsable de la marque Service-Public.fr.</p>

    <h2 class="fr-h3">Qu’est-ce que cela change pour les entreprises et les conseillers ?</h2>
    <p><b>Pour les entreprises</b>, l’utilisation du service demeure la même. Les dirigeants peuvent mobiliser rapidement et gratuitement des conseillers du service public sur l’ensemble des sujets proposés.</p>
    <p><b>Pour les conseillers</b>, l’unique changement réside dans la contextualisation de l’appel du dirigeant. Il est bienvenu de rappeler que <b>la demande a été déposée sur « Service-Public.fr »</b>. Le dirigeant peut ainsi faire le lien entre sa demande initiale et l’appel du partenaire en vue d’un accompagnement.</p>
    <p>La qualité de service rendu reste notre ambition première. Nous continuons de l’améliorer en continu grâce aux retours des entreprises comme des conseillers.</p>
  </div>
</div>
