- meta title: t('.title')

.hero
  .hero__container
    %h1
      = t('.title')
    - mailto_link = mail_to ENV['APPLICATION_EMAIL'], ENV['APPLICATION_EMAIL'], target: :_blank
    %p= t('.contact_team_for_general_purpose_html', mailto_link: mailto_link)


%section.section.section-grey
  .container.container-medium
    %h2.section__title= t('.who_are_we')
    = t('.explanation_html')
