<% meta title: t('.title') %>

<div class="hero hero-color">
  <div class="hero__container">
    <h1>
      <%= t('.title') %>
    </h1>
  </div>
</div>

<section class="section section-grey">
  <div class="container container-medium">

    <h3>1 - Le Booster numérique de la CCI et de la CMA pour développer votre activité grâce au numérique</h3>
    <p>Accompagnement gratuit, pris en charge par la Région pour soutenir la reprise.</p>
    <p>Après une évaluation de vos besoins, un conseiller spécialisé vous peut vous accompagner pour :</p>
    <ul>
      <li>développer vos ventes en ligne avec la création d’un site internet, la mise en place d’un click and collect ou d’un système de réservation en ligne</li>
      <li>créer des contenus adaptés aux médias numériques (écriture, photos, vidéos)</li>
      <li>améliorer la visibilité de votre entreprise grâce au référencement de Google et à l’utilisation des réseaux sociaux</li>
      <li>maîtriser les fondamentaux de la sécurité informatique et numérique (mise en conformité RGPD)</li>
    </ul>
    <p>Destiné aux entreprises de 20 salariés maximum, cet accompagnement personnalisé est adapté à votre secteur d’activité : artisanat, commerce, TPE industrielles, tourisme, B2B…</p>
    <p>En savoir plus :
      <ul>
        <li><a href="https://hautsdefrance.cci.fr/solutions/starter-numerique-programme-starter">Commerce et industrie, entreprise de moins de 3 ans</a></li>
        <li><a href="https://hautsdefrance.cci.fr/solutions/booster-numerique">Commerce et industrie, entreprise de plus de 3 ans</a></li>
        <li><a href="https://www.cma-hautsdefrance.fr/gerer/developper-son-activite/developper-son-activite-grace-au-numerique/">Artisanat</a></li>
      </ul>
    </p>
  
    <h3>2 - Diagnostic & recherche de solutions pour vos difficultés financières, par les correspondants TPE de la Banque de France</h3>
    <p>Les correspondants TPE de la Banque de France vous conseillent et accompagnent gratuitement dans la gestion de votre entreprise.</p>
    <p>Ces experts analysent avec vous la situation économique et financière de l’entreprise, notamment en cas de difficultés (baisse d’activité, besoin de trésorerie, endettement…).</p>
    <p>Après un diagnostic, ils recherchent une solution adaptée au sein du réseau de partenaires de la Banque de France : organismes de financement ou de cautionnement, assureurs-crédits, associations, fédérations patronales… Ne restez pas seul, on peut vous aider !</p>
    <p>En savoir plus : <a href="https://entreprises.banque-france.fr/accompagnement-des-entreprises/mon-correspondant-tpe-dans-chaque-departement/le-role-des-correspondants-tpe">banque-france.fr</a>.</p>

    <h3>3 - Le Prêt croissance TPE Hauts-de-France de Bpifrance</h3>
    <p>Sans garantie exigée, ce prêt vous permet de financer une grande variété d’investissements. Le remboursement sur 4 ans est différé d’un an.<p>
    <p>Pour être éligible à ce prêt de 10 000 à 50 000 euros, il faut :</p>
    <ul>
      <li>avoir 3 ans d’existence en tant que société commerciale</li>
      <li>avoir entre 3 et 50 salariés</li>
      <li>un dernier résultat du bilan positif</li>
      <li>avoir des fonds propres d’un montant équivalent au prêt envisagé</li>
    </ul>
    <p>En savoir plus : <a href="https://www.bpifrance.fr/Toutes-nos-solutions/Prets/Prets-regionaux/Pret-Croissance-TPE-Hauts-de-France">www.bpifrance.fr</a>.</p>

    <h3>4 - L’accompagnement <i>TPE & PME gagnantes sur tous les coûts !</i> de l’ADEME pour une meilleure rentabilité, tout en réduisant votre impact environnemental</h3>
    <p>L’objectif est de réaliser rapidement des économies et d’améliorer votre rentabilité, en réduisant vos pertes en énergie, matière, eau et déchets. Pour y parvenir, vous êtes accompagné par un expert sélectionné, formé et outillé par l’ADEME.</p>
    <p>
      L’accompagnement en 4 étapes :
      <ul>
        <li>l’expert analyse vos sources d’économies et vous propose un plan d’actions personnalisé et chiffré</li>
        <li>vous validez les préconisations que vous souhaitez et pouvez mettre en œuvre</li>
        <li>l’expert vous accompagne pendant une année dans la réalisation de ces préconisations</li>
        <li>à l’issue des 12 mois, une évaluation finale vous est proposée</li>
      </ul>
    </p>

    <p>Après avoir choisi et validé vos préconisations, si votre objectif d’économies prévisionnelles est supérieur ou égal au seuil minimal prédéfini, vous réglez à l’ADEME un forfait. Si ce seuil d’économies n’est pas atteint, l’accompagnement est gratuit pour vous !</p>
    <p>Le seuil et le forfait sont fonction de votre effectif.</p>
    <blockquote>Exemple : pour une entreprise de 20 à 49 salariés, le seuil minimum d’économies prévisionnelles est de 6000 € (HT/an). Si ce seuil est atteint ou dépassé, le prix forfaitaire est de 3000 €.</blockquote>
    <p>En savoir plus : <a href="https://www.gagnantessurtouslescouts.fr/comment">gagnantessurtouslescouts.fr</a></p>

    <h3>5 - Les emplois francs si vous recrutez</h3>
    <p>Si vous embauchez un demandeur d’emploi résidant dans un quartier prioritaire de la ville, vous bénéficiez d'une prime.</p>
    <p>Le montant de l'aide financière accordée est de :</p>
    <ul>
      <li>15 000 euros sur 3 ans pour un contrat à durée indéterminée (CDI)</li>
      <li>5 000 euros sur 2 ans pour un recrutement en durée déterminée (CDD) d’au moins 6 mois.</li>
    </ul>
    <p>L’aide financière est à demander auprès de Pôle emploi dans les 2 mois suivants la date de signature du contrat de travail.</p>
    <p>En savoir plus : <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F34547">service-public.fr</a></p>

  </div>
</section>

<section class="section section-white">
  <div class="container container-medium">
    <h3 class="section__title">
      <%= t('.whats_your_question') %>
    </h3>
    <p class="text-center">
      <%= link_to root_path, class: 'button primary large' do %>
        <%= t('.get_help') %>
      <% end %>
    </p>
  </div>
</section>
