.fr-mb-3w
  = form_with url: form_url, method: :get, local: true do |f|
    .fr-search-bar#search-institutions{ role: "search" }
      = f.collection_select :region_id, Territory.regions.order(:name), :id, :name, { selected: session[:annuaire_region_id],
        prompt: t('.select_region') }, required: true, blank: 'bonjour', html_options: { class: "fr-select" }
      %button.fr-btn
  - if session[:annuaire_region_id].present?
    = link_to t('clear_search'), init_url, id: 'clear-search'
