.assistance-description-wrapper
  margin-bottom: 20px

.diagnosis-steps-wrapper
  margin-bottom: 40px
  .diagnosis-steps
    width: 100%

.company-siret-form
  margin-top: 12px

#step4-app
  td.checkbox-width
    width: 10px
  td.expert-width
    width: 30%
  td.info-button-width
    width: 50px
  span.select-all
    font-size: 0.8em
    margin-right: 10px
    cursor: pointer
    color: #4183C4
    &:hover
      color: #1e70bf