#diagnoses-index
  .create-diagnosis-button
    margin: 20px 0
    .ui.basic.icon.labeled.button
      text-align: left
      > .icon
        background: transparent
  .toggle-div-wrapper
    h2
      cursor: pointer
      margin: 30px 0 10px

.diagnosis-steps-wrapper
  margin-bottom: 40px
  .diagnosis-steps
    width: 100%

#step4-app
  td.checkbox-width
    width: 10px
  td.expert-width
    width: 30%
  td.info-button-width
    width: 50px
  span.select-all
    font-size: 0.8em
    margin-right: 10px
    cursor: pointer
    color: #4183C4
    &:hover
      color: #1e70bf