@import "semantic-ui"

.main.container
  padding-top: 5em

main
  min-height: 88%

footer
  background-color: #ffffff
  border-top: 1px solid #eee
  padding: 16px 0
  margin: 48px auto 0

.devise-links
  margin-top: 30px
  margin-bottom: 10px

.full-width
  width: 100%

.clickable
  cursor: pointer

.clear
  clear: both

.no-margin
  margin: 0 !important

.no-left-padding
  padding-left: 0 !important

.no-right-padding
  padding-right: 0 !important

.text
  font-size: 1.4rem

.small.text
  font-size: 1.1rem

.bold
  font-weight: bold

.small-horizontal-padding td
  padding: 0em 0.5em

td.collapsing
  width: 1%
  white-space: nowrap