@import "semantic-ui"

.main.container
  padding-top: 5em
  &.with_visit_subnavbar
    padding-top: 8em

#visit-subnavbar
  margin-top: 45px

main
  min-height: 88%

footer
  background-color: #ffffff
  border-top: 1px solid #eee
  padding: 16px 0
  margin: 48px auto 0

.devise-links
  margin-top: 30px
  margin-bottom: 10px

.full-width
  width: 100%

.clickable
  cursor: pointer