.workaround-issue-875
  dummy: 0

body
  font: 14px/20px sans-serif
  margin: 0
  padding: 0
  text-align: center

.wrapper
  max-width: 700px
  margin: 20px auto
  text-align: left
  line-height: 150%
  font-size: 14px
  color: #000
  border-bottom: 1px solid lightgrey
  padding-bottom: 20px

.text-grey
  color: #666

.text-center
  text-align: center

ul
  list-style: none
  margin-left: 1em
  padding: 0
li::before
  content: "\25CF "
  color: lightgrey

.margin-top-2
  margin-top: 2rem

.info
  background: #efefef
  border-left: 1px solid #333
  padding: 1em
  color: #333
  margin: 1em 0

.warning
  background: #fff0e4
  border-left: 1px solid #a65c00
  padding: 1em
  color: #A65C00

a
  color: #336699

p
  margin: 1em 0 1em 0

h1
  font-size: 22px
  line-height: 110%
  margin-bottom: 0em
  margin-top: 0
  padding: 0

h2
  font-size: 16px
  line-height: 28px

h3
  font-size: 16px
  margin: 1.2em 0 0 0

blockquote
  margin: 0
  max-width: 100%
  border-left: 1px solid lightgrey
  padding-left: 1em

.button
  background: rgb(0, 0, 145)
  text-align: center
  border-radius: 2px
  padding: 15px 15px
  a
    font-size: 18px
    font-weight: bold
    text-decoration: none
    color: #ffffff

.buttons-group
  display: flex
  flex-direction: column
  .button
    margin: 0.5rem auto

.btn-wrapper
  text-align: center
.response-btn
  display: inline-block
  padding: 0.5rem 1rem
  margin: 1rem auto
  color: #fff
  background-color: rgb(0, 0, 145)
  text-decoration: none
  font-weight: bold

.logo-container
  position: relative
  text-align: center
  display: block
  height: 105px
  img
    max-height: 75px
  .institution-logo
    margin-right: 2rem
  &::before,
  .logos
    display: inline-block
    vertical-align: middle
  &::before
    content: ''
    width: 0
    height: 100%
.bold
  font-weight: bold

.main-link
  font-weight: bold
  text-align: center
  margin: 1em auto 2.5em
  a
    text-decoration: underline

// Flex cards
.cards
  display: flex
  flex-wrap: wrap
  .card
    margin: 1em
    padding: 1.2em
    border: lightgrey solid 1px
    border-radius: 4px
    box-sizing: border-box
    flex: 0 calc(50% - 3em)
    text-align: center
    .title
      color:
      font-size: 2em
      margin: 0 1em 0.8em

// Clickable items containing an a
.block-link
  position: relative
  a::after
    z-index: 1
    position: absolute
    content: ""
    top: 0
    bottom: 0
    left: 0
    right: 0

// Clickable cards
.card.block-link
  a
    color: #000
  &:hover
    background: #efefef

@media (max-width: 620px)
  body
    width: 100%
    min-width: 300px
  .wrapper
    width: auto
    max-width: 600px
    padding: 0 10px

.label
  display: contents
  &.green
    color: #12882D
  &.red
    color: #e1000f
  &.grey-blue
    color: #6B74A5FF
  &.blue-dark
    color: #292A63FF
  &.orange
    color: #B95E06FF

.signature
  p
    margin-bottom: 0
    color: #336699
    font-weight: bolder
  ul
    margin-top: 0.1rem

.underline
  text-decoration: underline

.support_user_signature
  color: #888
  .name
    font-weight: bold
  li:before
    content: ''

.horizontal-logos
  display: flex
  align-items: center
  .rf
    max-height: 10rem
  .pde
    max-height: 6rem
    margin-left: 1rem
