%p= '&nbsp;'.html_safe

- link_to_contact_us = link_to t('.contact_us'), contact_home_index_url
%p= t('.answer_this_email_if_any_question_html', link_to_contact_us: link_to_contact_us)

- link_to_root = link_to t('app_name'), root_url
%p= t('.site_team_html', link_to_root: link_to_root)
