%p= t('devise.mailer.hello', user_full_name: @resource.full_name)
- if @resource.try(:unconfirmed_email?)
  %p= t('.your_email_is_being_changed', unconfirmed_email: @resource.unconfirmed_email)
- else
  %p= t('.your_email_has_been_changed', new_email: @resource.email)
