%section.section.section-white.landing.less-padding
  .container
    .landing-header
      .title
        %h1= landing_subject&.form_title.presence || landing_subject.title
        %p.subtitle= t('landings.landings.home.answer')

= render 'pages/breadcrumbs', landing: landing, landing_theme: landing_subject.landing_theme, landing_subject: landing_subject
