:ruby
  main_title = landing_subject.meta_title.presence || landing_subject.title.presence || landing_subject.landing_theme.meta_title
  meta title: [main_title, t("solicitations.creation_form.steps.#{step_data[:current_status]}"), t('step_number', actual: step_data[:current_step], total: step_data[:total_steps])].join(' - '),
    description: landing_subject.meta_description.presence || landing_subject.description.presence || landing_subject.landing_theme.meta_description

- unless in_iframe?
  .fr-container.landing.fr-py-3w.fr-mt-3v
    .landing-header
      %h1.fr-h3= landing_subject&.form_title.presence || landing_subject.title
      %p.text-dark-grey.fr-text--lg= t('landings.landings.home.answer')

- if show_breadcrumbs?
  = render 'pages/breadcrumbs', landing: landing, landing_theme: landing_subject.landing_theme, landing_subject: landing_subject
