.fr-grid-row.fr-grid-row--gutters
  .fr-col-12
    .fr-tile.fr-tile--horizontal
      .fr-tile__body
        %h3.fr-tile__title= t('solicitations.institutions_opco_tile.opco_name')
        %p.fr-tile__desc= description
