.landing
  %h6.landing__title= landing.home_title
  %p.landing__description= landing.home_description
  = link_to t('landing.landing.discover'), featured_landing_path(slug: landing.slug), class: 'button-outline primary landing__button'
