.fr-grid-row.fr-grid-row--center
  .fr-col-12.fr-col-md-6.fr-col-offset-md-3.multistep-form.fr-pb-3w
    .fr-mb-2w
      = link_to t('solicitations.creation_form.buttons.manual_step_company'), step_company_solicitation_path(solicitation.uuid, anchor: 'section-breadcrumbs'), class: 'fr-link'
