= button_tag(class: "fr-btn", data: { disable_with: t('solicitations.creation_form.submit_in_progress') }) do
  %span= t('solicitations.creation_form.buttons.next')
  %span.icon.ri-arrow-right-s-line{ 'aria-hidden': 'true' }
