%ul
  - if solicitation.pk_campaign
    %li #{t('activerecord.attributes.solicitation.pk_campaign')} : #{link_to_tracked_campaign(solicitation)}
  - if solicitation.pk_kwd
    %li #{t('activerecord.attributes.solicitation.pk_kwd')} : « #{link_to_tracked_ad(solicitation)} »
