.theme-card
  - path = { controller: "landings/landing_themes", action: "show", landing_slug: landing.slug, slug: landing_theme.slug, anchor: 'section-breadcrumbs' }.merge(query_params)
  .fr-tile.fr-enlarge-link
    .fr-tile__body
      %h3.fr-tile__title.fr-h4
        = link_to landing_theme.title, path, class: 'fr-tile__link'
      = simple_format(landing_theme.description, class: 'fr-tile__desc')
      .discover_button
        %span.ri-arrow-right-line{ 'aria-hidden': 'true' }
