.card.block-link
  .card__content
    - path = { controller: "landings/landing_themes", action: "show", landing_slug: landing.slug, slug: landing_theme.slug, anchor: 'section-breadcrumbs' }.merge(query_params)
    %h3= link_to landing_theme.title, path, class: 'click-on-landing'
    = simple_format(landing_theme.description, {}, wrapper_tag: 'p')
  .discover_button
    %span.ri-arrow-right-line
