.card.block-link
  .card__content
    - path = landing_theme_path(landing, landing_theme, institution: params[:institution].presence, anchor: 'section-breadcrumbs')
    %h3= link_to landing_theme.title, path, class: 'click-on-landing'
    = simple_format(landing_theme.description, {}, wrapper_tag: 'p')
  .discover_button
    %button.button.small.primary= t('.discover')
