.fr-container
  #flashes
    - if alert
      .fr-alert.fr-alert--error.fr-mb-1w
        %p.fr-alert__title= alert

    - if notice
      .fr-alert.fr-alert--success.fr-mb-1w
        %p.fr-alert__title= notice

