#flashes
  - if alert
    .ui.icon.error.message
      %i.icon.exclamation.triangle
      .content
        .header
        %p= alert
    .ui.hidden.divider

  - if notice
    .ui.icon.success.message
      %i.success.icon
      .content
        .header
        %p= notice
    .ui.hidden.divider
