.fr-container
  #flashes
    - if alert
      .fr-callout.fr-col-md-12.fr-scheme-soft-orange-soft.fr-my-2w
        %p.fr-callout__text= alert

    - if notice
      .fr-callout.fr-col-md-12.fr-scheme-soft-green-light.fr-my-2w
        %p.fr-callout__text= notice

