- cache("stats_charts-#{stats.params}", expires_in: 1.hour) do
  #stats-charts
    - names = [:needs, :solicitations_diagnoses, :themes, :source, :matches, :advisors, :solicitations]
    - names.each do |name|
      = render 'stats_chart', stats: stats, name: name
