- data = stats.send(name.to_sym)
- chart_name = "chart-#{name}"

.card.stats
  .card__content
    %h3
      %span= data.count
      %span= t("stats.series.#{name}")
    %p{ id: chart_name,
      "data-chart": "stats-chart",
      "data-months": data.all_months.map{ |d| I18n.l(d, format: :month) }.to_json.html_safe,
      "data-max-value": data.max_value,
      "data-series": data.series.to_json.html_safe,
      "data-colors": data.colors.to_json.html_safe }
