- cache("stats_charts-#{stats.params}", expires_in: 1.hour) do
    - names = [:companies, :source, :needs, :matches, :advisors, :solicitations]
  #stats-charts
    - names.each do |name|
      = render 'stats_chart', stats: stats, name: name
