= form_with url: request.url, method: :get, skip_enforcing_utf8: true, local: true do |f|
  .fr-grid-row.fr-grid-row--gutters
    .fr-col
      = f.label :antenne_id, t('filters.select_antenne'), class: 'fr-label'
      = f.select :antenne_id, options_for_select(filters[:antennes].pluck(:name, :id), selected: antenne.id), {}, class: "fr-select fr-mb-2v"

  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-6.fr-col-offset-md-6.text-right
      = f.submit t('search'), class: 'fr-btn', title: t('search')
