- meta title: "title"
- content_for :header, render('header', base: t('application.navbar.app.reports'), title: title)

- @institutions.each do |institution|
  .fr-container
    %h2.fr-h5
      = institution.name
    .fr-grid-row.fr-grid-row--gutters.fr-my-7w
      - institution.antennes.order(:name).each do |antenne|
        .fr-col-md-12
          .fr-card.fr-card--sm.fr-enlarge-link.fr-card--horizontal.fr-card--horizontal-tier
            .fr-card__body
              .fr-card__content
                %h2.fr-card__title
                  = link_to antenne, reports_url(antenne_id: antenne)
