$('.card-solicitation[id="#{@solicitation.id}"]').remove()
$('.fr-alert').remove()

var flashes = "#{j render('flashes')}";

document.getElementsByTagName('main')[0].insertAdjacentHTML("beforebegin",flashes);
