- html = ''
- @solicitation.badges.each do |badge|
  - html += "#{badge_label(badge)}"

var $div = document.getElementById('solicitation-#{@solicitation.id}-badges')
var $form = document.getElementById('solicitation-#{@solicitation.id}-form-badges')

if ($div !== undefined) {
$div.innerHTML = '#{html.html_safe}'
$div.classList.remove('hide')
}

if ($form !== undefined ) {
$form.classList.add('hide')
}
