- html = ''
- @solicitation.badges.each do |badge|
  - html += "#{badge_label(badge)}"

var $div = $('#solicitation-#{@solicitation.id}-badges')
var $form = $('#solicitation-#{@solicitation.id}-form-badges')

if ($div.length) {
$div.html('#{html.html_safe}')
$div.removeClass('hide')
}
if ($form.length) {
$form.addClass('hide')
}
