.ui.table
  tr.advisors-count
    th
      color: grey

.application_fullscreen
  table.ui.definition.table
    thead
      left: 0
      top: 0
      position: sticky
      z-index: 1
      th
        min-width: 12em

    tbody tr td:first-child
      left: 0
      position: sticky
      background-color: #F7F7F7 // same color as the initial rgba(0, 0, 0, 0.03), but opaque
