// _related_diagnoses
.diagnosis-links
  margin-top: 1rem

// STEPS
#visit-app
  #insee-code-section
    input[type=checkbox]
      display: none
      &:not(checked)
        &~ #insee-code-row
          display: none
      &:checked
        &~ #insee-code-row
          display: block
        &~ #insee-code-section-button
          display: none

#needs-app
  .subject.checkbox
    display: block
  .subject
    input[type=checkbox] + label
      cursor: pointer
    input[type=checkbox] ~ textarea
      margin-top: 1em
    input[type=checkbox]:not(checked) ~ textarea
      display: none
    input[type=checkbox]:checked ~ textarea
      display: block

.experts_subject_checkbox
  .ui.checkbox
    display: block
    padding: 1rem 0
  .ui.grid > .row
    padding: 0

.ui.content.subjects.basic.segments
  border-top: none

.subject.actions
  height: 2rem

.ui.accordion.theme
  i.dropdown.icon
    float: right

// _matches
.needs-diagnosis, .needs-match
  .match-status
    position: absolute
    top: 14px
    right: 14px

// New
.ui.attached.menu.head-tab.new-diagnosis
  margin-top: 2rem
.ui.tab.new-diagnosis
  .header
    padding: 1rem 0

.ui.button.new-diagnosis
  margin-top: 1em

// AUTRES
.ui.segments.selectable-list
  margin-bottom: 20px
  a, a:hover
    color: inherit
  .selectable-item:hover
    background: #f6f6f6
  .match-status
    float: right
  .diagnosis-step
    float: right

// Inutilisé
//.ui.small.button.match
//  margin-top: 0.3rem
