// _related_diagnoses
.diagnosis-links
  margin-top: 1rem

// New
.ui.attached.menu.head-tab.new-diagnosis
  margin-top: 2rem
.ui.tab.new-diagnosis
  .header
    padding: 1rem 0

.ui.button.new-diagnosis
  margin-top: 1em

// AUTRES
.ui.segments.selectable-list
  margin-bottom: 20px
  a, a:hover
    color: inherit
  .selectable-item:hover
    background: #f6f6f6
  .match-status
    float: right
  .diagnosis-step
    float: right

//reminders
.reminders-header
  display: flex
  justify-content: space-between

.ui.feed.feedbacks
  form
    display: none
