$import-google-fonts: false
@import semantic-ui

.devise-links
  margin-top: 30px
  margin-bottom: 10px

.clear
  clear: both

.no-margin
  margin: 0 !important

.no-left-padding
  padding-left: 0 !important

.no-right-padding
  padding-right: 0 !important

.small.text
  font-size: 1.1rem

.tiny.text
  font-size: 1.0rem

.micro.text
  font-size: 0.9rem

.text.justified
  text-align: justify

.bold
  font-weight: bold

.small-horizontal-padding td
  padding: 0 0.5em

td.collapsing
  width: 1%
  white-space: nowrap

.hide
  display: none !important

.dashed
  &:hover
    border-bottom: 1px dashed
    cursor: default

.button-exit-fullscreen
  position: fixed
  overflow: hidden
  padding: 1em
  z-index: 9999

details
  summary
    cursor: pointer