#experts-reminders-menu
  a
    display: flex
    justify-content: space-between

.reminders-icon
  font-size: 1.5rem
  cursor: help
  &.ri-thunderstorms-line
    color: #EEB45C
  &.ri-cloudy-line
    color: #95C8E7
  &.ri-sun-line
    color: #a4c97b
