[data-collection="many_pending_needs"]
  --color-sidemenu__item-icon: #EEB45C
[data-collection="medium_pending_needs"]
  --color-sidemenu__item-icon: #95C8E7
[data-collection="one_pending_need"]
  --color-sidemenu__item-icon: #a4c97b

.reminders-icon
  color: var(--color-sidemenu__item-icon)
