.ui.segments.solicitation
  a.ui.button
    color: #fff
    &:hover
      color: #fff
  .row-tags
    display: flex
    justify-content: flex-end
    align-items: center
  .modify-badges
    cursor: pointer
  form
    font-size: 1rem
    display: flex
    align-items: center
    justify-content: center
    margin-right: 0.3rem
    .dropdown
      margin-right: 0.3rem
    .search
      display: block
