name: "Update dependencies"

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
jobs:
  updates:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: install bundler
        run: gem install bundler
      - name: config unset deployment
        run: bundle config unset deployment
      - name: bundle update
        run: bundle update
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
      - name: Upgrade Node modules
        run: yarn upgrade
        shell: bash
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: 'update-dependencies'
          commit-message: 'Update dependencies'
          title: 'Update dependencies'
          base: main
