- if alert || notice
  %p#flashes
    - if alert
      .ui.icon.error.message
        .icon.inbox
        %p= alert

    - if notice
      .ui.icon.warning.message
        %i.warning.icon
        .content
          .header
          %p= notice
