-# Custom Title / Tabs Menu / Content layout
  Based on the main application layout

- content_for :content do
  .fr-container.fr-pb-3w
    = yield :header

  .fr-tabs--c-annuaire
    = yield :menu

  .fr-tabs--c-annuaire__panel
    = yield

= render template: 'layouts/application'
