-# Custom Title / Side Menu / Content layout
  Based on the main application layout

- content_for :content do
  .rf-container
    = yield :header

    .ui.divider

    -# stackable to move the menu on top on mobile
    .ui.stackable.grid
      .four.wide.column
        .ui.secondary.pointing.vertical.fluid.menu
          = yield :menu

      .twelve.wide.column
        = yield

- @wide_layout = true
= render template: 'layouts/application'
