.ui.field
  %p
    = t('.instructions_html', institution: expert.institution)

  - if expert.users.size > 1
    .p
      %span.orange.ri-information-fill
      %strong= t('.others_members_warning_header_html', name: expert.full_name, path: edit_expert_path(expert))
      %br
      = t('.others_members_warning_details', count: expert.users.size)
