= form_with model: @expert, class: 'ui form' do |f|
  = render 'subjects_messages', expert: @expert
  = render 'subjects_fields', f: f, expert: @expert
  = f.submit t('confirm'), class: 'ui green approve button'
